/*********************************************************************/
  /*PDF not available modal (to remove when all PDFs available)*/
/*********************************************************************/
/*#PDFModal{
  .modal-dialog .modal-content{
    background-color: #FFF !important;
    text-align: center !important;
  }
  .modal-footer{
      text-align: center !important;
  }
  .modal-title{
    padding-bottom: 0em;
    border-bottom: 0;
    color: #f6a400 !important;
    font-size: 4rem;
    line-height: 4.4rem;
    width: 100%;
    margin: 2rem auto 0;
    text-align: center;
  }

}
#enlaceVacio{
  cursor: pointer;
}*/
/*********************************************************************/
  /*PDF not available modal (to remove when all PDFs available)*/
/*********************************************************************/

.intro-country-detail{
  padding-bottom: 2rem;
}

  /** country details **/
.countries-comparison{
  .intro-additional {
    margin: 0 0 5rem 0;
  }
  .first-comparator,
  .second-comparator{
    display:flex;
    text-align: center;
    label{
      width: 30% !important;
      //display: block;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 18px;
      font-weight: normal;
    }
    dvt-select{
      width:70% !important;
    }
  }
}

.story-combo-compared{
  background: #FCEECF;
  border-top: 1px solid #FBDB99;
  border-bottom: 1px solid #FBDB99;
  padding: 2rem 0;
  .input-group-addon{
    background: transparent !important;
    border:0;
    display: none;
  }
  .input-group {
    position: relative;
    /* display: table; */
    /* border-collapse: separate; */
    width: 100%;
  }
  .select2-container {
    border: 0;
    vertical-align: middle;
    padding: 0;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    .select2-choice {
      display: block;
      height: 34px;
      line-height: 34px;
      border-radius: 0;
    }
  }
  .first-comparator{
    .select2-container, .select2-choice{
      color: $colorA;
    }
  }
  .second-comparator, .select2-choice{
    .select2-container{
      color: $colorB;
    }
  }
  .compared-icon{
    background: transparent url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-infosystem/static/custom/img/icons/sep_.png) no-repeat center;
    padding: 15px 0;
    height: 25px;
    margin-top: 0rem;
  }
  .colorEU1 {
    .first-comparator .select2-container .select2-choice > .select2-chosen {
      color: #0B2D97 !important;
    }
    .compared-icon {
      background: transparent url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-infosystem/static/custom/img/icons/sepEU.png) no-repeat center;
    }
  }

  .colorEU2 {
    .compared-icon {
      background: transparent url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-infosystem/static/custom/img/icons/sep.png) no-repeat center;
    }
    .second-comparator .select2-container .select2-choice > .select2-chosen {
      color: #0B2D97 !important;
    }
  }
}

.country-details-tabs {
  border-bottom: 4px solid transparent;
  &.affix {
    margin-top: 105px;
    top:0;
    z-index: 10;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-box-shadow: 0px 2px 2px 0px #cccccc;
    -moz-box-shadow: 0px 2px 2px 0px #cccccc;
    box-shadow: 0px 2px 2px 0px #cccccc;
  }
  &.affix-top {
    margin: 0;
    top: 0;
    z-index: 10;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  clear: both;
  width: 100%;
  background: #FEF7E9;
  text-align: center;
  ul.nav-tabs{
    margin: auto;
    width: auto !important;
    display: inline-flex;
    border: 0;
    &:before, &:after {
      content: '';
      display: none;
    }
    > li{
      width: 14%;
      height: 100px;
      a{
        display: block;
        font-size: 1.8rem;
        color: #666;
        height: 100px;
        padding: 3rem 2rem 0;
        margin:0;
        color: #666;
        border:0;
        font-family: "Oswald", sans-serif;
        background-color: #FDF6E9;
        &:hover{
          text-decoration: none;
          background-color: #FDEFCF;
          border: 0;
          //border-bottom: 4px solid #F6A401;
          background-color: #FDEFCF;
          -webkit-transition: background-color 0.8s;
          transition: background-color 0.8s;
        }
        &:focus {
          outline: 0px auto -webkit-focus-ring-color;
          outline-offset: 0px;
          text-decoration: none;
          border: 0;
          //border-bottom: 4px solid #F6A401;
          background-color: #FDEFCF;
        }
      }
      &.active{
        a {
          outline: 0px auto -webkit-focus-ring-color;
          outline-offset: 0px;
          text-decoration: none;
          border: 0;
          //border-bottom: 4px solid #F6A401;
          background-color: #FDEFCF;
          &:focus, &:hover{
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
            text-decoration: none;
            border: 0;
            //border-bottom: 4px solid #F6A401;
            background-color: #FDEFCF;
          }
        }
      }
      &:after {
        content: " ";
        background-color:$colorA;
        width:0%;
        height: 4px;
        display: block;
        -webkit-transition: width 0.6s;
        transition: width 0.6s;
      }
      &.active:after{
        width:100%;
      }
      &:hover:after{
        width:100%;
        -webkit-transition: width 0.6s;
        transition: width 0.6s;
      }
    }
  }
}

.country-details-content{
  padding: 5rem 0 10rem;
  overflow: auto;
  margin: auto;
  &.container-full{
    width:100%;
  }
  h3{
    font-size: 3rem;
    font-family: "Oswald-light", sans-serif;
    color: #529fa2;
  }
  h4{
    font-size: 2.2rem;
    color: #000;
  }
  .country1{
    .country-shape{
      text-align: center;
      .mg{
        color: #F6A401;
        font-size: 10em;
        text-align: center;
        margin-left: 0rem;
      }
    }
    a{
      color: #529fa2;
      font-weight: normal;
      strong{
        color:#529fa2;
        font-weight: normal !important;
      }
    }
  }
  .country2{
    .country-shape{
      text-align: center;
      .mg{
        color: #529fa2;
        font-size: 10em;
        text-align: center;
        margin-left: 0rem;
      }
    }
  }
  a{
    color: #529fa2;
    font-weight: normal;
    strong{
      color:#529fa2;
      font-weight: normal !important;
    }
    &[target=_blank]{
      margin-right: 0.5em;
      word-wrap: break-word;
      color: #337ab7 !important;
      &:after{
        background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/external_link.png) transparent right 30% no-repeat;
        margin-left:0em;
        padding-right: 0;
        width: 15px;
        height: 15px;
        display: inline-block;
        content: " ";
      }
      strong{
         color: #337ab7 !important;
       }
    }
  }
  a.download-pdf {
    font-family: "Oswald", sans-serif;
    color: #000;
    font-size:1.4rem;
    margin: auto;
    display: block;
    text-align: center;
    padding: 0 0 1rem;
    &:hover{
      text-decoration: none;
      color: $colorB;
    }
  }
  .tab-pane{
    display: none;
    &.active{
      display: block;
    }
    .country1, .country2{
      padding: 0;
      margin: 0;
    }
  }
  .description-country1{
    background: #FEF7E7;
    padding: 5rem 4rem;
    position: relative;
    top: -5rem;
  }
  .description-country2{
    background: #E1EEEF;
    padding: 5rem 4rem;
    position: relative;
    top: -5rem;
  }
}
.arrow-pane{
  background: #FFF;
  padding: 12px 15px;
  margin: 0;
  border-radius: 90px;
  width: 60px;
  height: 60px;
  font-size: 28px;
  position: relative;
  top: -2rem;
  z-index: 1;
  left: 45%;
}
.arrow-country1{
  color:#F6A401;
}
.arrow-country2{
  color: #529FA2;
}

.country-details-tabs.affix ~ .country-details-content {
  padding-top: 160px !important;
}


/*********************************************************************************************/
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : portrait) {
  .country-details-tabs {
    &.affix {
      margin-top: 101px !important;
    }
  }
  .story-combo-compared{
    .compared-icon{
      margin: 3.2rem 0 0 !important;
    }
  }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : landscape) {
  .country-details-tabs{
    ul.nav-tabs{
      > li {
        width: 14%;
        height: 130px;
        a{
          height: 130px;
        }
      }
    }
  }
  .country-details-content{
    .country1{
      .country-shape{
        .mg{
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .countries-comparison{
    .first-comparator, .second-comparator{
      display: block;
    }
  }
  .story-combo-compared{
    .compared-icon{
      margin: 1rem 0;
    }
  }
  .country-details-tabs {
    border-bottom: none;
    p.select-option{
      font-size: 2.2rem;
      font-family: Oswald;
      padding: 1rem;
      margin: 0;
      color: #000;
    }
    &.affix {
        margin-top: 91px;
    }
    ul.nav-tabs{
      width: 100% !important;
      display: block;
      background-color:#FDF6E9;
      border-top: 2px solid #ebd09a;
      > li{
        width:100%;
        text-align: left;
        height: auto;
        display: none;
        float: none;
        height: auto;
        &.item-block{
          text-align: left;
          display: block;
          background-color:#FDF6E9;
          &.active a:after{
            content: '\f077';
          }
        }
        &.active{
          text-align: left;
          display: block;
          background-color:#F6A401;
          & a:after{
            content: "\f078";
            font: normal normal normal 24px/1 FontAwesome;
            right: 15px !important;
            top: 40% !important;
            position: absolute;
            background-color: transparent;
            width: auto;
            height: auto;
          }
          &:nth-child(1) a:after{
            content: "\f078";
            font: normal normal normal 24px/1 FontAwesome;
            right: 15px !important;
            top: 40%;
            position: absolute;
          }
          &.item-block:nth-child(1) a:after{
            content: "\f077";
            font: normal normal normal 24px/1 FontAwesome;
            right: 15px !important;
            top: 40%;
            position: absolute;
          }
        }
        a{
          padding: 2rem 4rem;
          height: auto;
        }
      }
    }
  }
  .country2{
    margin-top: 6rem;
  }
  .country-details-tabs.affix ~ .country-details-content{
    padding-bottom: 0;
    padding-top: 0 !important;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
  .country-details-tabs ul.nav-tabs > li a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-device-width : 767px) {
    .affix {
      position: relative;
    }
    .country-details-tabs.affix ~ .country-details-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .country-details-tabs.affix {
      margin-top: 0;
      border-bottom: none;
    }
    .compared-icon {
      margin: 1rem 0 !important;
    }
    #country-card-structure .policies {
        margin: 20px 0;
        background-color: #fff;
        padding: 10px;
        border-left: 0;
        .policy-items {
            background-color: #fff;
            margin-left: 0;
            margin-bottom: 10px;
            width: 100%;
        }
        .image {
          padding-top: 0px;
          padding-left:0;
          padding-right:0;
          text-align:center;
        }
      .m20 {
        margin-top:0px;
        text-align:center;
        width:100%;
      }
    }
    .country-details-tabs {
      border-bottom: none;
      p.select-option{
        font-size: 2.2rem;
        font-family: Oswald;
        padding: 1rem;
        margin: 0;
        color: #000;
      }
      &.affix {
        margin-top: 0px;
      }
      ul.nav-tabs{
        width: 100% !important;
        display: block;
        background-color:#FDF6E9;
        border-top: 2px solid #ebd09a;
        > li{
          width:100%;
          text-align: left;
          height: auto;
          display: none;
          float: none;
          height: auto;
          &.item-block{
            text-align: left;
            display: block;
            background-color:#FDF6E9;
            &.active a:after{
              content: '\f077';
            }
          }
          &.active{
            text-align: left;
            display: block;
            background-color:#FDF6E9;
            & a:after{
              content: "\f078";
              font: normal normal normal 14px/1 FontAwesome;
              right: 15px;
              top: 24px;
              position: absolute;
              background: #F5A311;
              padding: 0.5rem;
              //border-radius: 90px;
              color: #FFF;
            }
            &:nth-child(1) a:after{
              content: "\f077";
              font: normal normal normal 14px/1 FontAwesome;
              right: 15px;
              top: 24px;
              position: absolute;
              background: #F5A311;
              color: #FFF;
              padding: 0.5rem;
            }
            &.item-block:nth-child(1) a:after{
              content: "\f077";
              background: #F5A311;
            }
          }
          a{
            padding: 2rem 4rem;
            height: auto;
          }
        }
      }
    }
    .country-details-content{
      .tab-pane{
        .country1, .country2{
          margin: 3rem 0 0;
          .arrow-pane{
            top: 0;
          }
          .description-country1, .description-country2{
            top: -3rem;
          }
        }
      }
    }
  }

@media only screen
and (min-width : 1200px)
and (max-width : 1366px){
  .country-details-content.container-full .country-description {
    padding-left: 6rem;
  }
}