.filter--letter--section{
	margin: 2rem auto;
	.filter--letter--list{
	  display: flex;
	  justify-content: space-between;
	  list-style-type: none;
	  padding: 0;
		.filter-letter-item{
			a{
			  font-size: 2.4rem;
			  font-weight: bold;
			  font-family: "Oswald", sans-serif;
			  color: $aquamarine;
			}
		}
	}
}

.alphabetic--card--section{
		background: #EFEFEF;
	.alphabetic--card--block{
	  //display: flex;
	  //flex-wrap: wrap;
	  //justify-content: space-between;
	  .alphabetic--card--items{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			.text-left{
				flex: 100%;
				h2{
					font-size: 2.4rem;
					font-weight: bold;
					font-family: "Oswald", sans-serif;
					color: #529FA2;
					border-bottom:1px solid $aquamarine;
					padding: 1rem 0;
				}
			}
	  	.alphabetic-card-item{
				border-radius: 46px 0;
				padding: 3rem 2%;
				margin: 1rem;
				background: #FFF;
				width: 23%	
	  	}
	  }
	}
}

@media only screen 
and (min-width :768px) and (max-width :1024px) {



}


@media only screen 
and (max-width :767px){



}