<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22007"></h1>
          <p data-ng-bind="i18nLiterals.L22038"></p>
          <p data-ng-bind="i18nLiterals.L20698"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
        </div>
        <div class="icon--advice regulation-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <div class="compare--block regulation-page" bs-affix="" data-offset-top="420">
    <div class="submenu--block container">
      <span data-ng-bind="i18nLiterals.L20627"></span>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="letter in alphabet"class="submenu--item">
          <a href data-ng-click="goToAnchor(letter)" data-ng-bind="letter"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div data-ng-repeat="letter in alphabet" id="section{{letter}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-style: dotted; border-color: yellowgreen; border-width: 1px; border-bottom: none">
      <div class="text-left"><h3 data-ng-bind="letter"></h3></div>
      <div class="col-md-3 col-lg-3" data-ng-repeat="country in countryByLetter(letter)">
        <p class="col-lg nopadding additional-img text-center">
          <img class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country.country_code.toLowerCase()}}.png">
        </p>
        <h4 class="text-center" data-ng-bind="i18nLiterals['L'+country.country]"></h4>
        <p class="btn--block-full left-text">
          <a ui-sref="country-profile({pIndicator: 'basic-information', pCountry1:country.country_code, pCountry2: 0})" class="btn-default btn-main-color btn-full" title="{{i18nLiterals.L20626}}" data-ng-bind="i18nLiterals.L20626"></a>
        </p>
        <p class="btn--block-full left-text">
          <a ui-sref="EU-challenges-response({pCountry:country.country_code})" class="btn-default btn-full" title="{{i18nLiterals.L20625}}" data-ng-bind="i18nLiterals.L20625"></a>
        </p>
      </div>
    </div>
  </div>

</dvt-dashboard>