.enforcement-capacity .card--grid .card--block--chart {
    width: 100%;
}

.enforcement-capacity{
	.card--grid{
		.card--block--chart{
			position: relative;
			.main-title--card{
				font-size: 2.8rem;
				min-height: initial;
				padding:1rem 1rem 1rem 2rem;
				margin: 0;
			}
			.title--card{
				font-size: 2.2rem;
				min-height: initial;
				padding:0 0 4rem 2rem;
				margin: 0;
				color:$gray;
			}
			.chart--block{
				.chart--submenu {
					position: absolute;
			    top: 2.1rem;
			    right: 1.4rem;
				}
				.chart--wrapper{
					width:50rem;
					margin: auto;
				  @media screen and (max-width: 768px) {
				    width: 100%;
						margin: auto;
				  }
				}
			}
		}
	}
}
.dvt-modal{
	div[query="getEstablishmentsInspectedData"]{
		.chart--wrapper{
			background: #f0f0f0;
			padding: 2rem 0;
			> div{
				width: 50rem !important;
				margin: auto;
			  @media screen and (max-width: 768px) {
			    width: 100%  !important;
					margin: auto;
			  }
				&.legend-text-block{
					width: 100% !important;
				}
			}
		} 
	}
}


@media only screen 
and (max-width :767px) {

	.enforcement-capacity{
		.card--grid{
			.card--block--chart{
				.main-title--card{
					padding:4rem 1rem 1rem 2rem;
				}
			}
		}
	}

}