<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="country--profile--page enforcement-capacity">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22017"></h1>
          <p data-ng-bind="i18nLiterals.L22063"></p>
          <p data-ng-bind-html="i18nLiterals.L20699"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool-detail-page({pSection: 'osh-infrastructure', pSubsection: 'enforcement_capacity', pIndicator: 76})"></a></span>
        </div>
        <div class="icon--advice enforcement-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <div class="compare--block regulation-page" >
    <div class="submenu--block container">
      <label class="submenu-indicator" >Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-click ="openIndicatorsList($event)" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor)" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
    <!-- FILTERS -->
    <form class="compare--block--form container">
      <ul class="compare--list">
        <!-- 1ST COUNTRY FILTER -->        
        <li>
          <label data-ng-bind="i18nLiterals.L20609" for="datafor"></label>
          <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
            <option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>
          </select>
        </li>
        <!-- 2ND COUNTRY FILTER -->
        <li>
          <label data-ng-bind="i18nLiterals.L20610" for="comparewith"></label>
          <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
            <option data-ng-if="pCountry2 == '0'" data-ng-bind="i18nLiterals.L20630" value="0" ></option>
            <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}" ></option>
          </select>
        </li>        
      </ul>
    </form>
    <div class="line background-main-light"></div>
  </div>

  <section class="container section--page full-tablet">
    <!-- % of establishment inspected -->
    <div class="column--grid--block" id="tab1" data-ng-show="pIndicator == 'establishments-inspected'">
      <div class="column--item first no-full">
        <!--<div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry1.toLowerCase()}}.png">
        </div>-->
        <h2 data-ng-bind="i18nLiterals.L20692"></h2>
        <div class="columm--item--content">
          <div class="card--grid center-text">     
            <div class="card--block--chart" >
              <div class="chart--block">
                <dvt-bar-chart
                data-ng-cloak
                query="getEstablishmentsInspectedData" cda="{{::cda }}"
                width="330" height="330" axis-percent="1"
                orientation="horizontal" axis-fixed-min="0"
                axis-fixed-max="100" step="{{step}}" id="1"
                params="[['pIndicator', 126], ['pCountry1', pCountry1], ['pCountry2', pCountry2], ['pDataset', datasetESENER], ['pAnswer', 1]]"
                color-role="c" colors="[stories[0].color3, stories[0].color2, stories[0].color1]"
                chart-title="{{i18nLiterals.L20693}} (Yes)" 
                axis-label-font="14px 'OpenSans-bold'"
                plots="stories[0].plots"
                values-visible="true"
                values-mask="{value}"
                values-font="14px 'OpenSans-bold'"
                multiple-label-colors="true"
                label-text-align="stories[0].labelTextAlign"
                dimensions="stories[0].dimensions"
                leaf-content-overflow='visible'
                legend="true" legend-align="center"
                datasource-and-dates="[datasetESENER,126]"
                base-axis-size="50"
                ></dvt-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column--item second no-full">
        <!--<div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry2.toLowerCase()}}.png">
        </div>-->
        <!--<h2 data-ng-bind="i18nLiterals.L20692"></h2>-->
        <h2 data-ng-bind="i18nLiterals.L20734"></h2>
        <div class="columm--item--content">
          <div class="card--grid center-text">     
            <div class="card--block--chart" >
              <div class="chart--block">
                <dvt-bar-chart
                data-ng-cloak
                query="getEstablishmentsInspectedData" cda="{{::cda }}"
                width="330" height="330" axis-percent="1"
                orientation="horizontal" axis-fixed-min="0"
                axis-fixed-max="100" step="{{step}}" id="1"
                params="[['pIndicator', 126], ['pCountry1', pCountry1], ['pCountry2', pCountry2], ['pDataset', datasetESENER], ['pAnswer', 2]]"
                color-role="c" colors="[stories[0].color3, stories[0].color2, stories[0].color1]"
                chart-title="{{i18nLiterals.L20693}} (No)" 
                axis-label-font="14px 'OpenSans-bold'"
                plots="stories[0].plots"
                values-visible="true"
                values-mask="{value}"
                values-font="14px 'OpenSans-bold'"
                leaf-content-overflow='visible'
                multiple-label-colors="true"
                label-text-align="stories[0].labelTextAlign"
                dimensions="stories[0].dimensions"
                legend="true" legend-align="center"
                datasource-and-dates="[datasetESENER,126]"
                base-axis-size="50"
                ></dvt-bar-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Authority -->
    <div class="column--grid--block" id="tab2" data-ng-if="pIndicator == 'authority'">
      <div class="column--item first"  ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]" >
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry1.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L333"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country1Data.authority == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country1Data.authority == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="compileText(country1Data.authority, 1)"></div>
          <!--<div class="complete-text" data-ng-bind-html="prueba(i18nLiterals['L'+country1Data.authority])"></div>-->
          
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.authority].length > 316">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry2.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L333"></h2>
        <div id="secondColumn" class="columm--item--content">
          <div data-ng-if="country2Data.authority == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country2Data.authority == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="compileText(country2Data.authority, 2)"></div>
          <!--<div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.authority], maxCharacters)"></div>-->
          <!--<div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.authority]"></div>-->
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.authority].length > 316">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Scope of Labour Inspection -->
    <div class="column--grid--block" id="tab3" data-ng-if="pIndicator == 'scope-of-the-labor-inspection'">
      <div class="column--item first"  ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry1.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L334"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country1Data.scope == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country1Data.scope == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.scope], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.scope]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.scope].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry2.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L334"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country2Data.scope == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country2Data.scope == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.scope], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.scope]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.scope].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Inspector powers -->
    <div class="column--grid--block" id="tab4" data-ng-if="pIndicator == 'inspector-powers'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry1.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L335"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country1Data.inspector == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country1Data.inspector == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.inspector], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.inspector]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.inspector].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry2.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L335"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country2Data.inspector == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country2Data.inspector == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.inspector], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.inspector]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.inspector].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
        
      </div>
    </div>

    <!-- Strategy/Plan -->
    <div class="column--grid--block" id="tab5" data-ng-if="pIndicator == 'strategy-plan'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry1.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L336"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country1Data.strategy == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country1Data.strategy == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.strategy], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.strategy]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.strategy].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::pCountry2.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L336"></h2>
        <div class="columm--item--content">
          <div data-ng-if="country2Data.strategy == null" data-ng-bind="i18nLiterals.L20706"></div>
          <div data-ng-if="country2Data.strategy == null" data-ng-bind="i18nLiterals.L20740"></div>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.strategy], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.strategy]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.strategy].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</dvt-dashboard>