<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22010"></h1>
        <p data-ng-bind="i18nLiterals.L22050"></p>
        <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
      </div>
      <div class="icon--advice regulation-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block regulation-page" bs-affix="" data-offset-top="420">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
  </div>

  <section class="container section--page full-tablet">
    <!-- Non-fatal work accidents -->
    <div class="" id="tab1" data-ng-show="pIndicator == 'non-fatal-work-accidents'">
      <!-- country selects -->
      <form class="compare--block--form">
        <ul class="compare--list">
          <!-- 1st country -->        
          <li>
            <label data-ng-bind="i18nLiterals.L20609" for="datafor"></label>
            <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2nd country -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610" for="comparewith"></label>
            <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
              <option data-ng-bind="i18nLiterals.L20630" value="0" ></option>
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}" ></option>
            </select>
          </li>        
        </ul>
      </form>
      <div class="line background-main-light"></div>
      <br>

      <div class="card--grid xxs-w1 xs-w2 w2 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-range ng-model="dashboard.parameters.pCountry1" values="{{::dashboard.parameters.pCountry1}}" default="AT"></dvt-range>
            <dvt-bar-chart
              data-ng-cloak
              query="getNonFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              listen-to="['pCountry1']" axis-percent="1"
              width="300" height="300" type="lines"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="120" step="{{step.chart1}}"
              params="[['pDataset', datasetEurostatBetweenDates],['pCountry', pCountry1]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2]"
              chart-title="{{i18nLiterals.L310}}" id="1"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[0].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="top"
              multiple-label-colors="false"
              dimensions="stories[0].dimensions"
              legend="true"
              legend-item-size="70"
            ></dvt-bar-chart>
          </div>
        </div>

        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getNonFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              listen-to="['pCountry2']" axis-percent="1"
              width="330" height="300" type="lines"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="120" step="{{step.chart2}}"
              params="[['pDataset', datasetEurostatBetweenDates],['pCountry', pCountry2]]"
              color-role="series" colors="[stories[1].color1, stories[1].color2]"
              chart-title="{{i18nLiterals.L310}}" id="2"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[1].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="top"
              leaf-content-overflow='visible'
              dimensions="stories[1].dimensions"
              legend="true"
              legend-item-size="70"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
            <p data-ng-bind="i18nLiterals.L20565"></p>
        </div>
      </div>
    </div>

    <!-- Fatal work accidents -->
    <div class="" id="tab2" data-ng-show="pIndicator == 'fatal-work-accidents'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="370"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="6" step="{{step.chart3}}"
              params="[['pDataset', datasetEurostat2016]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2]"
              chart-title="{{i18nLiterals.L311}}" id="3"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[2].dimensions"
              legend="false"
              angle="1"
              base-axis-size="120"
              legend-item-size="200"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20566"></p>
        </div>
      </div>
    </div>

    <!-- Estimation of non-fatal accidents -->
    <div class="column--grid--block" id="tab3" data-ng-if="pIndicator == 'non-fatal-accidents-per-100-000-workers-estimated'">
      <div class="column--item first">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L299"></h2>
        <div class="columm--item--content">
          <div data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text10], 200)"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text10].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L20641}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L20642}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L299"></h2>
        <div class="columm--item--content">
          <div data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text10], 200)"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text10].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L20641}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L20642}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
        
      </div>
    </div>

    <!-- Level of reporting -->
    <div class="" id="tab4" data-ng-show="pIndicator == 'level-of-reporting-of-non-fatal-accidents'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getNonFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              listen-to="['pCountry1', 'pCountry2']"
              width="330" height="370" type="bars"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="120" step="{{step.chart1}}"
              params="[['pDataset', datasetEurostatBetweenDates],['pCountry1', pCountry1],['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2, stories[0].color3]"
              chart-title="{{i18nLiterals.L313}}" id="5"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[0].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline="top"
              leaf-content-overflow='visible'
              legend="true"
              legend-item-size="70"
            ></dvt-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </section>
</dvt-dashboard>