<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="work-accidents">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22010"></h1>
        <p data-ng-bind="i18nLiterals.L22050"></p>
        <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
      </div>
      <div class="icon--advice physical-risk-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

<div class="compare--block work-accidents" >
  <div class="submenu--block container ">
    <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
    <ul class="submenu--items--wrapper">
      <!-- INDICATORS -->
      <li data-ng-if="indicator.anchor != 'level-of-reporting-of-non-fatal-accidents' && indicator.anchor != 'estimation-of-non-fatal-accidents'"  data-ng-repeat="indicator in indicators" data-ng-class="{'active' : indicator.anchor == pIndicator }" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
        <a href="" data-ng-click="changeIndicator($event,indicator.anchor);"  data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
      </li>
    </ul>
  </div>
</div>
  <div class="line background-main-light"></div>

  <section>
    <!-- Non-fatal work accidents -->
    <div id="tab1" class="compare--block" data-ng-show="pIndicator == 'non-fatal-work-accidents'">
      <!-- country selects -->
      <form class="container compare--block--form">
        <ul class="compare--list">
          <!-- 1st country -->        
          <li>
            <label data-ng-bind="i18nLiterals.L20609" for="datafor"></label>
            <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2nd country -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610" for="comparewith"></label>
            <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}" ></option>
            </select>
          </li>        
        </ul>
      </form>
      <div class="line background-main-light"></div>

      <div class="container section--page card--grid xxs-w1 xs-w2 w2 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak ng-model="pCountry1"
              query="getNonFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              listen-to="[pCountry1, pCountry2]" axis-percent="1"
              width="300" height="300" type="lines"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="120" step="{{step.chart1}}"
              params="[['pDataset', datasetEurostatBetweenDates],['pCountry', pCountry1]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2]"
              chart-title="{{i18nLiterals.L310}}" id="1"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[0].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="top"
              multiple-label-colors="false"
              dimensions="stories[0].dimensions"
              legend="true"
              legend-item-size="70"
              datasource-and-dates="[datasetEurostatBetweenDates,53]"
            ></dvt-bar-chart>
          </div>
        </div>

        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getNonFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              listen-to="[pCountry1, pCountry2]" axis-percent="1"
              width="330" height="300" type="lines"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="120" step="{{step.chart2}}"
              params="[['pDataset', datasetEurostatBetweenDates],['pCountry', pCountry2]]"
              color-role="series" colors="[stories[1].color1, stories[1].color2]"
              chart-title="{{i18nLiterals.L310}}" id="2"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[1].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="top"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[1].dimensions"
              legend="true"
              legend-item-size="70"
              datasource-and-dates="[datasetEurostatBetweenDates,53]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
            <p data-ng-bind="i18nLiterals.L20565"></p>
        </div>
      </div>
    </div>

    <!-- Fatal work accidents -->
    <div class="" id="tab2" data-ng-show="pIndicator == 'fatal-work-accidents'">
      <div class="container section--page card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getFatalAccidentsData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="470"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="6" step="{{step.chart3}}"
              params="[['pDataset', datasetEurostat2016]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2]"
              chart-title="{{i18nLiterals.L311}}" id="3"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[2].dimensions"
              legend="false"
              angle="1"
              base-axis-size="{{axisSize}}"
              legend-item-size="200"
              datasource-and-dates="[datasetEurostat2016,54]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20566"></p>
        </div>
      </div>
    </div>

    <!-- Estimation of non-fatal accidents -->
    <div class="" id="tab3" data-ng-show="pIndicator == 'estimation-of-non-fatal-accidents'">
      <div class="container section--page card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getNonFatalAccidentsPerWorkersData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="470"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="6000" step="{{step.chart4}}"
              params="[['pDataset', datasetEurostat2016]]"
              color-role="series" colors="[stories[3].color1, stories[3].color2]"
              chart-title="{{i18nLiterals.L20707}}" id="4"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[3].plots"
              calculations = "stories[3].calculations"
              color2-axis-legend-shape = "circle"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[3].dimensions"
              multiple-label-colors="false"
              legend="true"
              angle="1"
              base-axis-size="{{axisSize}}"
              legend-item-size="450"
              datasource-and-dates="[datasetEurostat2016,55]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <span data-ng-bind="i18nLiterals.L20567"></span>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
        </div>
      </div>
    </div>

    <!-- Level of reporting -->
    <div class="" id="tab4" data-ng-show="pIndicator == 'level-of-reporting-of-non-fatal-accidents'">
      <div class="container section--page card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getLevelOfReportingData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="380" type="bars" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart5}}"
              params="[['pDataset', datasetEurostat2016]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2]"
              chart-title="{{i18nLiterals.L313}}" id="5"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              dimensions="stories[2].dimensions"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline="top"
              leaf-content-overflow='visible'
              legend="false"
              angle="1"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurostat2016,56]"
            ></dvt-bar-chart>
          </div>
          <div class="chart-legend">
            <span data-ng-bind="i18nLiterals.L20568"></span>
            <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</dvt-dashboard>