<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22006"></h1>
          <p data-ng-bind="i18nLiterals.L22033"></p>
        </div>
        <div class="icon--advice regulation-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <div class="compare--block regulation-page" bs-affix="" data-offset-top="420">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-class="{'active' : $index == 0 }" class="submenu--item">
          <a href="#" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : $index == 0 }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
    <!-- FILTERS -->
    <form class="compare--block--form container">
      <ul class="compare--list">
        <!-- 1ST COUNTRY FILTER -->        
        <li>
          <label data-ng-bind="i18nLiterals.L20609" for="datafor"></label>
          <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
            <option data-ng-repeat='country in countriesDataFor' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}"></option>
          </select>
        </li>
        <!-- 2ND COUNTRY FILTER -->
        <li>
          <label data-ng-bind="i18nLiterals.L20610" for="comparewith"></label>
          <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
            <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}" ></option>
          </select>
        </li>        
      </ul>
    </form>
    <div class="line background-main-light"></div>
  </div>

  <section class="container section--page full-tablet" ng-controller="RegulationController">
    <div class="column--grid--block">
      <!-- CONTENT -->
      <div class="column--item first">
        <div class="">
            <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/at.png">
        </div>
        <h2>Background</h2>
        <div class="columm--item--content">
          <p>Main reasons for the strategy:</p>
          <ul>
            <li>The right to work is a human right. This right means that every worker is entitled to a healthy and safe working environment. The promotion of wellbeing at work in all its aspects is primordial for protecting workers, for preserving their health and for ensuring they are motivated when doing their job.</li>
            <li>The promotion of the wellbeing of workers offers added value to every individual company. Unhealthy and unsafe working conditions reduce productivity, which ultimately results in dismissals, closures and bankruptcies. Poor working conditions are also a form of unfair competition between businesses. And so, a lack of wellbeing at work is also a social-economic injustice.</li>
            <li>Insufficient attention to wellbeing at work inevitably causes an increase in occupational health problems, which in turn has an impact on the expenditure of social security and social protection systems and so on the community as a whole. On the other hand, the promotion of wellbeing at work contributes to improving public health and the availability of workers in companies. As a result, the productivity and the competitiveness of companies is improved. This also has favourable consequences for the prosperity of our society as a whole</li>
            <li>A global approach to workers’ wellbeing does not end at the entrance to the plant: a healthy employee works better but vice versa healthy and safe working conditions will also improve overall health. As a result, several levels of authority are involved in the implementation of this global plan: the federal Minister for Employment, as well as the federal Minister of Social Affairs and Public Health, the Communities and the Regions. Consultation on various levels will thus be necessary, depending on the proposed actions.</li>
          </ul>
        </div>
        <p class="see-more"><a href="">See more<i class="fa fa-angle-down" aria-hidden="true"></i></a></p>        
      </div>

      <div class="column--item second">
        <div class="">
            <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/be.png">
        </div>
        <h2>Background</h2>
        <div class="columm--item--content">
          <p>Vision:</p>
          <ul>
            <li>The right to work is a human right. This right means that every worker is entitled to a healthy and safe working environment. The promotion of wellbeing at work in all its aspects is primordial for protecting workers, for preserving their health and for ensuring they are motivated when doing their job.</li>
            <li>The promotion of the wellbeing of workers offers added value to every individual company. Unhealthy and unsafe working conditions reduce productivity, which ultimately results in dismissals, closures and bankruptcies. Poor working conditions are also a form of unfair competition between businesses. And so, a lack of wellbeing at work is also a social-economic injustice.</li>
            <li>Insufficient attention to wellbeing at work inevitably causes an increase in occupational health problems, which in turn has an impact on the expenditure of social security and social protection systems and so on the community as a whole. On the other hand, the promotion of wellbeing at work contributes to improving public health and the availability of workers in companies. As a result, the productivity and the competitiveness of companies is improved. This also has favourable consequences for the prosperity of our society as a whole</li>
            <li>A global approach to workers’ wellbeing does not end at the entrance to the plant: a healthy employee works better but vice versa healthy and safe working conditions will also improve overall health. As a result, several levels of authority are involved in the implementation of this global plan: the federal Minister for Employment, as well as the federal Minister of Social Affairs and Public Health, the Communities and the Regions. Consultation on various levels will thus be necessary, depending on the proposed actions.</li>
          </ul>
        </div>
        <p class="see-more"><a href="">See more<i class="fa fa-angle-down" aria-hidden="true"></i></a></p>  
      </div>
    <!-- END CONTENT -->
    </div>
  </section>
</dvt-dashboard>