.text-advice{
	padding-bottom: 1rem;
}

@media (max-width: 990px) {

	.regulation-page{
		.submenu--block{
			.submenu--items--wrapper{
				//min-height: 7rem;
				min-height: auto;
				overflow: hidden;
				display: block;
				li{
					width: 100%;
					//padding: 0 0rem 1.5rem 1rem;
					padding: 0;
					display: none;
					position: relative;
					a{
						display: block;
						padding: 1rem 0;
						font-size: 2.4rem;
					}
					&.active{
						display: block;
						a, a:hover, a:visited, a:focus{
							color: $aquamarine;
							border-bottom: 0;
							&:after{
								content: "\f078";
								font: normal normal normal 14px/1 FontAwesome;
								right: 1.5rem;
								top: 1rem;
								padding: 1rem;
								position: absolute;
							}
						}		
					}
				}
				&.open-list{
					li{
						display: block;
						&.active{
							display: block;
							a, a:hover, a:visited, a:focus{
								border-bottom: 0;
								&:after{
									content: "";
								}
							}							
						}
						&:nth-child(1){
							a{
								border-bottom: 0;
								&:after{
									content: "\f077" !important;
									font: normal normal normal 14px/1 FontAwesome;
									right: 1.5rem;
									top: 1rem;
									padding: 1rem;
									position: absolute;
								}
							}
						}
					}
				}
			}
		}	
	}
 
}


