<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="osh-culture">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22012"></h1>
        <p data-ng-bind="i18nLiterals.L22054"></p>
        <span data-ng-bind="i18nLiterals.L20700"></span> <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool-detail-page({pSection: 'osh-outcomes-working-conditions', pSubsection: 'osh_culture_health_awareness', pIndicator: '104'})"></a></span>
      </div>
      <div class="icon--advice culture-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block regulation-page">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-if="indicator.anchor != 'level-of-reporting-of-non-fatal-accidents' && indicator.anchor != 'estimation-of-non-fatal-accidents'" data-ng-repeat="indicator in indicators" data-ng-click ="openIndicatorsList($event)" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
  </div>

  <section class="container section--page full-tablet">

    <!-- Health and safety discussed -->
    <div class="" id="tab2" data-ng-show="pIndicator == 'health-and-safety-discussed'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 358]]"
              color-role="series" colors="[color3, stories[0].color2, color4]"
              chart-title="{{resolution > 768 ? i18nLiterals.L22129 : i18nLiterals.L20664}}" id="2"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[0].plots"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true"
              angle="{{angle}}" stacked="1"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetESENER,358]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20570"></p>
        </div>
      </div>
    </div>

    <!-- Action plan to prevent stress -->
    <div class="" id="tab3" data-ng-show="pIndicator == 'action-plan-to-prevent-stress'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 328]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{resolution > 768 ? i18nLiterals.L22130 : i18nLiterals.L20665}}" id="3"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[0].plotsEU"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true"
              angle="{{angle}}" stacked="1"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetESENER,328]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20571"></p>
        </div>
      </div>
    </div>

    <!-- Procedure against bullying -->
    <div class="" id="tab4" data-ng-show="pIndicator == 'procedure-against-bullying'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 329]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{resolution > 768 ? i18nLiterals.L22131 : i18nLiterals.L20666}}" id="4"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[0].plotsEU"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true"
              angle="{{angle}}" stacked="1"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetESENER,329]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20572"></p>
        </div>
      </div>
    </div>

    <!-- Procedure to deal with threats -->
    <div class="" id="tab5" data-ng-show="pIndicator == 'procedures-to-deal-with-threats'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 330]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{resolution > 768 ? i18nLiterals.L22132 : i18nLiterals.L20667}}" id="5"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[0].plotsEU"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline=""
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true"
              angle="{{angle}}" stacked="1"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetESENER,330]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20573"></p>
        </div>
      </div>
    </div>

    <!-- Measures to reduce work pressure -->
    <div class="" id="tab6" data-ng-show="pIndicator == 'measures-to-reduce-work-pressure'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 331]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{resolution > 768 ? i18nLiterals.L22133 : i18nLiterals.L20668}}" id="6"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[0].plotsEU" stacked="1"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true"
              angle="{{angle}}"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetESENER,331]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20574"></p>
        </div>
      </div>
    </div>

    <!-- Use of personal protective equipment -->
    <div class="" id="tab7" data-ng-show="pIndicator == 'use-of-personal-protective-equipment'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{eurostatQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="600" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 63]]"
              color-role="series" colors="[color3, stories[1].color2, color4]"
              values-normalized="0" stacked="1"
              chart-title="{{resolution > 768 ? i18nLiterals.L22126 : i18nLiterals.L320}}" id="7"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[1].plots"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              dimensions="stories[1].dimensions"
              legend="true"
              angle="{{angle}}"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,63]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20575"></p>
        </div>
      </div>
    </div>

    <!-- Information about risks -->
    <div class="" id="tab8" data-ng-show="pIndicator == 'information-about-risks'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{risksQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 64]]"
              color-role="series" colors="[color1, color2]"
              values-normalized="0" stacked="1"
              chart-title="{{resolution > 768 ? i18nLiterals.L22127 : i18nLiterals.L321}}" id="8"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-visible="false"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[2].dimensions"
              legend="true"
              angle="{{angle}}"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,64]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20576"></p>
        </div>
      </div>
    </div>
  </section>
  <dvt-methodology father="osh-outcomes-working-conditions" section="OSH_CULTURE_HEALTH_AWARENESS" indicator="{{pIndicator}}" indicatorid="104"></dvt-methodology>
  <dvt-related data-ng-if="relatedItems[pIndicator]" items="relatedItems[pIndicator]"></dvt-related>
</dvt-dashboard>