<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="about-tool">
	<div data-ng-if="currentState == 'about-tool'" class="container">
		<h2 class="title-section second-color ng-binding text-center" data-ng-bind="i18nLiterals.L22019"></h2>
		<h3 data-ng-bind="i18nLiterals.L20735"></h3>
		<div data-ng-bind-html="i18nLiterals.L20737" class="about-estimates">
		</div>
		<a ui-sref="about-tool-detail-page" class="btn-default btn-main-color text-center" data-ng-bind="i18nLiterals.L20736"></a>
	</div>
	<div data-ng-if="currentState == 'about-tool-detail-page'" class="container">
		<h2 class="title-section second-color ng-binding text-center" data-ng-bind="i18nLiterals.L22019"></h2>
		<h3 data-ng-bind="i18nLiterals.L20705"></h3>
		<!--<div data-ng-bind-html="i18nLiterals.L20737" class="about-estimates">-->
		</div>
	</div>
</dvt-dashboard>
