<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="about-tool">
	
	<div data-ng-if="currentState == 'about-tool'" class="container">
		<h1 class="title-section second-color ng-binding text-center" data-ng-bind="i18nLiterals.L22019"></h1>
		<h2 data-ng-bind="i18nLiterals.L20735"></h2>
		<section data-ng-bind-html="i18nLiterals.L20737" class="about-tool-content">
		</section>
		<p class="btn--wrapper">
			<a ui-sref="about-tool-detail-page" class="btn-default btn-main-color text-center" data-ng-bind="i18nLiterals.L20736"></a>
		</p>
	</div>

	<div data-ng-if="currentState == 'about-tool-detail-page'" class="container">
		<h1 class="title-section second-color ng-binding text-center" data-ng-bind="i18nLiterals.L22019"></h1>
		<h2 data-ng-bind="i18nLiterals.L20705"></h2>
		<section class="methodology--content--wrapper">
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</section>

		<!-- SECTION MENU -->
			<ul class="indicators--list--wrapper">
					<li class="indicators-item"  data-ng-repeat="section in sections"><a href data-ng-bind="i18nLiterals[section.name]"></a></li>
			</ul>


		<!-- SUBSECTION MENU -->		
			<ul class="indicators--submenu--wrapper">
				<li><a href="#">OSH authorities</a></li>
				<li><a href="#">Economic and Sector profile</a></li>
				<li><a href="#">Workforce profile</a></li>
			</ul>

	    <div class="submenu--block container">
	    	<ul class="submenu--items--wrapper">
	    		<li data-ng-repeat="subsection in subsections" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
	        		<a href="" data-ng-click="" ></a>
	        	</li>
	      	</ul>
	    </div>

		<!-- DROPDOWN LIST WITH INDICATORS -->
		<form>
			<label for="indicators">SELECT INDICATOR</label>
			<select id="indicators">
				<option>Unemployment rate</option>
			</select>
		</form>


		<section class="methodology--grid--wrapper">


		</section>






			
		</div>
	</div>
</dvt-dashboard>