<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="about-tool">
	
	<div data-ng-if="currentState == 'about-tool'" class="container">
		<h1 class="title-section second-color ng-binding text-center" data-ng-bind="i18nLiterals.L22019"></h1>
		<h2 data-ng-bind="i18nLiterals.L20735"></h2>
		<section data-ng-bind-html="i18nLiterals.L20737" class="about-tool-content">
		</section>
		<p class="btn--wrapper">
			<a ui-sref="about-tool-detail-page" class="btn-default btn-main-color text-center" data-ng-bind="i18nLiterals.L20736"></a>
		</p>
	</div>

	<div data-ng-if="currentState == 'about-tool-detail-page'" class="container">
		<h1 class="title-section second-color ng-binding text-center" data-ng-bind="i18nLiterals.L22019"></h1>
		<h2 data-ng-bind="i18nLiterals.L20705"></h2>

		<!-- SECTION MENU -->
		<ul class="indicators--list--wrapper">
			<li class="indicators-item" data-ng-repeat="section in sections"><a ui-sref="about-tool-detail-page({pSection: section.id, pSubsection: section.firstSubsection, pIndicator: pIndicator})" href data-ng-bind="i18nLiterals[section.name]" data-ng-click="changeSection(section.id)"></a></li>
		</ul>

		<!-- SUBSECTION MENU -->		
		<ul class="indicators--submenu--wrapper" id="indicatorsSubmenu" data-ng-click ="openIndicatorsList($event)" >
			<li data-ng-repeat="subsection in subsections" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
        		<a ui-sref="about-tool-detail-page({pSection: pSection, pSubsection: subsection.database_name, pIndicator: pIndicator})" href data-ng-bind="i18nLiterals[subsection.name]"></a>
        	</li>
		</ul>

		<!-- DROPDOWN LIST WITH INDICATORS -->
		<form class="indicators--wrapper">
			<label for="indicators" data-ng-bind="i18nLiterals.L20623"></label>
			<div class="indicators-select">
				<select id="indicators" ng-model="pIndicator" ng-selected="pIndicator" ng-change="changeIndicator()">
					<option data-ng-repeat="indicator in indicators" data-ng-bind="i18nLiterals['L'+indicator.text]" value="{{indicator.id}}"></option>
				</select>
			</div>
		</form>


		<section class="methodology--grid--wrapper forum-icon">
			<h3>Unit of measure</h3>
			<p>Percentage of active population. ‘Active population’ is defined by EUROSTAT as follows: “The labour force or workforce or economically active population, also shortened to active population, includes both employed (employees and self-employed) and unemployed people, but not the economically inactive, such as pre-school children, school children, students and pensioners.”</p>
			<h3>Unit of measure</h3>
			<p>Percentage of active population. ‘Active population’ is defined by EUROSTAT as follows: “The labour force or workforce or economically active population, also shortened to active population, includes both employed (employees and self-employed) and unemployed people, but not the economically inactive, such as pre-school children, school children, students and pensioners.”</p>
			<h3>Unit of measure</h3>
			<p>Percentage of active population. ‘Active population’ is defined by EUROSTAT as follows: “The labour force or workforce or economically active population, also shortened to active population, includes both employed (employees and self-employed) and unemployed people, but not the economically inactive, such as pre-school children, school children, students and pensioners.”</p>

		</section>






			
		</div>
	</div>
</dvt-dashboard>