<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="country--profile--page">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L20378"></h1>
          <p data-ng-bind="i18nLiterals.L22038"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool-detail-page({pSection: 'osh-steering', pSubsection: 'structure_strategy', pIndicator: '46'})"></a></span>
        </div>
        <div class="icon--advice national-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <div class="container">
    <p class="btn--block-full left-text">
      <a ui-sref="EU-challenges-response({pCountry:'0'})" class="btn-default btn-main-color" title="{{i18nLiterals.L20625}}" data-ng-bind="i18nLiterals.L20625"></a>
    </p>
  </div>

  <div class="compare--block regulation-page" >
    <div class="submenu--block container">
      <label class="submenu-indicator" >Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-click ="openIndicatorsList($event)" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor)" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
    <!-- FILTERS -->
    <form class="compare--block--form container">
      <ul class="compare--list">
        <!-- 1ST COUNTRY FILTER -->
        <li>
          <label for="datafor" data-ng-bind="i18nLiterals.L20609"></label>
          <dvt-select id="datafor" data-ng-cloak ng-model="pCountry1" parameter="pCountry1" params="[['pCountry', pCountry2]]"
            listen-to="['pCountry2']" query="getStrategiesCountriesSelect" cda="{{::cdaGenericInformation }}" placeholder="0" data-ng-change="countryChange()">
          </dvt-select>  
        </li>
        <!-- 2ND COUNTRY FILTER -->
        <li>
          <label for="comparewith" data-ng-bind="i18nLiterals.L20610"></label>
          <dvt-select id="comparewith" data-ng-cloak ng-model="pCountry2" parameter="pCountry2" params="[['pCountry', pCountry1]]"
            listen-to="['pCountry1']" query="getStrategiesCountriesSelect" cda="{{::cdaGenericInformation }}" 
            placeholder="{{pCountry2=='0'?1:0}}" data-ng-change="countryChange()">
          </dvt-select> 
        </li>
      </ul>
    </form>
    <div class="line background-main-light"></div>
  </div>

  <section class="container section--page full-tablet">
    <!-- Basic Information -->
    <div class="column--grid--block" id="tab1" data-ng-if="pIndicator == 'basic-information'">
      <div class="column--item first"  ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]" >
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L303"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text1], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text1]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text1].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L303"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text1], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text1]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text1].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Background -->
    <div class="column--grid--block" id="tab2" data-ng-if="pIndicator == 'background'">
      <div class="column--item first"  ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L304"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text2], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text2]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text2].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L304"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text2], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text2]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text2].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Characteristics and objectives -->
    <div class="column--grid--block" id="tab3" data-ng-if="pIndicator == 'characteristics-and-objectives'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L305"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text3], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text3]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text3].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L305"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text3], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text3]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text3].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
        
      </div>
    </div>

    <!-- Details and activity -->
    <div class="column--grid--block" id="tab4" data-ng-if="pIndicator == 'details-and-activity'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L306"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text4], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text4]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text4].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L306"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text4], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text4]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text4].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Actors and stakeholders -->
    <div class="column--grid--block" id="tab6" data-ng-if="pIndicator == 'actors-and-stakeholders'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L307"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text5], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text5]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text5].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>       
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L307"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text5],maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text5]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text5].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Resources and Timeframe -->
    <div class="column--grid--block" id="tab5" data-ng-if="pIndicator == 'resources-and-timeframe'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L20251"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text6], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text6]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text6].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>       
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L20251"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text6],maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text6]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text6].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Evaluation -->
    <div class="column--grid--block" id="tab7" data-ng-if="pIndicator == 'evaluation'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L308"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text7], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text7]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text7].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L308"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text7],maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text7]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text7].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <!-- Relationship to EU Strategic Framework -->
    <div class="column--grid--block" id="tab8" data-ng-if="pIndicator == 'relationship-to-eu-strategic-framework'">
      <div class="column--item first" ng-class="{true: 'full', false: 'no-full'}[pCountry2 == 0]">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country1Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L20253"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country1Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text8], maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text8]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text8].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="column--item second" data-ng-if="pCountry2 != 0">
        <div class="">
          <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country2Data.country_code.toLowerCase()}}.png">
        </div>
        <h2 data-ng-bind="i18nLiterals.L20253"></h2>
        <div class="columm--item--content">
          <!--<p class="download-report" data-ng-bind="i18nLiterals.L20639"></p>-->
          <p class="download-report">
            <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/country-profile/pdf/National-Strategies-Mapping_2017_{{i18nLiterals['L'+country2Data.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20640" target="_blank"></a>
          </p>
          <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country2Data.text8],maxCharacters)"></div>
          <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country2Data.text8]"></div>
          <p class="see-more" data-ng-if="i18nLiterals['L'+country2Data.text8].length > maxCharacters">
            <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
            <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <dvt-methodology father="osh-steering" section="STRUCTURE_STRATEGY" indicator="{{pIndicator}}" indicatorid="46"></dvt-methodology>
  <dvt-related data-ng-if="relatedItems[pIndicator]" items="relatedItems[pIndicator]"></dvt-related>
</dvt-dashboard>