<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22014"></h1>
        <p data-ng-bind="i18nLiterals.L22058"></p>
        <span data-ng-bind="i18nLiterals.L20702"></span> <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
      </div>
      <div class="icon--advice prevention-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block regulation-page" bs-affix="" data-offset-top="420">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event, indicator.anchor);" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
        <li data-ng-class="{'active' : 'employees-participation-in-prevention' == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event, 'employees-participation-in-prevention');" data-ng-bind="i18nLiterals.L20683" data-ng-class="{'active' : 'employees-participation-in-prevention' == pIndicator }" ></a>
        </li>
      </ul>
    </div>
  </div>

  <section class="container section--page full-tablet">
    <!-- Risk Assesment -->
    <div class="compare--block" id="tab1" data-ng-show="pIndicator == 'risk-assessment'">
      <!-- country selects -->
      <form class="container compare--block--form">
        <ul class="compare--list">
          <!-- 1st country -->        
          <li>
            <label data-ng-bind="i18nLiterals.L20609" for="datafor"></label>
            <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2nd country -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610" for="comparewith"></label>
            <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}" ></option>
            </select>
          </li>
        </ul>
      </form>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <!-- Establishment size and sector filter -->
          <select ng-model="pSplit" ng-change="countryChange()">
            <option data-ng-bind="i18nLiterals.L20647" value="establishment-size"></option>
            <option data-ng-bind="i18nLiterals.L20648" value="sector"></option>
          </select>
          <div class="chart--block" ng-hide="pSplit != 'establishment-size'">
            <dvt-bar-chart
              data-ng-cloak
              query="getEstablishmentSizeData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="470" axis-percent="1"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 120], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2, stories[0].color3]"
              chart-title="{{i18nLiterals.L20679}}" id="1"
              axis-label-font="12px 'OpenSans'"
              base-axis-label-text-baseline="top"
              plots="stories[0].plots"
              values-visible="true"
              values-mask="{value}%"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true" base-axis-size="50"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'sector'">
            <dvt-bar-chart
              data-ng-cloak
              query="getSectorActivityData" cda="{{::cdaOSHOutcomes }}"
              width="{{::chartWidth}}" height="470" axis-percent="1"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 120], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2, stories[0].color3]"
              chart-title="{{i18nLiterals.L20679}}" id="2"
              axis-label-font="12px 'OpenSans'"
              base-axis-label-text-baseline="top"
              plots="stories[0].plots"
              values-visible="true" axis-label-word-break="1"
              values-mask="{value}%"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true" base-axis-size="50"
            ></dvt-bar-chart>
          </div>          
        </div>
        <div class="chart-legend">
          <p data-ng-if="pSplit == 'sector'" data-ng-bind="i18nLiterals.L20603" ></p>
          <p data-ng-if="pSplit == 'establishment-size'" data-ng-bind="i18nLiterals.L20602" ></p>
        </div>
      </div>
    </div>

    <!-- Internal or external RA -->
    <div class="" id="tab2" data-ng-show="pIndicator == 'internal-or-external-ra'">
      <div class="line background-main-light"></div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">     
        <div class="card--block--chart" >
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{internalQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 121]]"
              color-role="series" colors="[color3, stories[1].color2, color4]"
              chart-title="{{i18nLiterals.L20680}}" id="3"
              axis-label-font="13px 'OpenSans-bold'"
              plots="stories[1].plots"
              values-overflow="show"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              base-axis-label-text-baseline="middle"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20604"></p>
        </div>
      </div>
    </div>

    <!-- Evaluated aspects -->
    <div class="" id="tab3" data-ng-show="pIndicator == 'evaluated-aspects'">
      <div class="line background-main-light"></div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="">
            <h2 class="title--card" data-ng-bind="i18nLiterals.L20681"></h2>
            <img alt="European Agency for Safety and Health at Work" src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/Esener2Map.png">
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20605"></p>
        </div>
      </div>
    </div>

    <!-- OSH Information -->
    <div class="" id="tab4" data-ng-show="pIndicator == 'osh-information'">
      <div class="line background-main-light"></div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
            data-ng-cloak
            query="{{oshInformationQuery}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 122]]"
            color-role="series" colors="[color3, stories[1].color2, color4]"
            chart-title="{{i18nLiterals.L20682}}" id="5"
            axis-label-font="13px 'OpenSans-bold'"
            plots="stories[1].plots"
            values-overflow="show"
            values-mask="{value}%"
            values-font="12px 'OpenSans'"
            multiple-label-colors="false"
            base-axis-label-text-baseline="middle"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20606"></p>
        </div>
      </div>
    </div>

    <!-- Employment participation in prevention -->
    <div class="compare--block" id="tab5" data-ng-show="pIndicator == 'employees-participation-in-prevention'">
      <!-- country selects -->
      <form class="container compare--block--form">
        <ul class="compare--list">
          <!-- 1st country -->        
          <li>
            <label data-ng-bind="i18nLiterals.L20609" for="datafor"></label>
            <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2nd country -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610" for="comparewith"></label>
            <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}" ></option>
            </select>
          </li>
        </ul>
      </form>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <!-- Establishment size and sector filter -->
          <select ng-model="pSplit" ng-change="countryChange()">
            <option data-ng-bind="i18nLiterals.L20647" value="establishment-size"></option>
            <option data-ng-bind="i18nLiterals.L20648" value="sector"></option>
          </select>
          <div class="chart--block" ng-hide="pSplit != 'establishment-size'">
            <dvt-bar-chart
              data-ng-cloak
              query="getEstablishmentSizeData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="470" axis-percent="1"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 123], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2, stories[0].color3]"
              chart-title="{{i18nLiterals.L20683}}" id="6"
              axis-label-font="13px 'OpenSans-bold'"
              base-axis-label-text-baseline="top"
              plots="stories[0].plots"
              values-visible="true"
              values-mask="{value}%"
              values-font="13px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true" base-axis-size="50"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'sector'">
            <dvt-bar-chart
              data-ng-cloak
              query="getSectorActivityData" cda="{{::cdaOSHOutcomes }}"
              width="{{::chartWidth}}" height="470" axis-percent="1"
              orientation="vertical" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 123], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2, stories[0].color3]"
              chart-title="{{i18nLiterals.L20683}}" id="7"
              axis-label-font="13px 'OpenSans-bold'"
              base-axis-label-text-baseline="top"
              plots="stories[0].plots"
              values-visible="true"
              values-mask="{value}%"
              values-font="13px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true" base-axis-size="50"
            ></dvt-bar-chart>
          </div>          
        </div>
        <div class="chart-legend">
          <p data-ng-if="pSplit == 'sector'" data-ng-bind="i18nLiterals.L20608" ></p>
          <p data-ng-if="pSplit == 'establishment-size'" data-ng-bind="i18nLiterals.L20602" ></p>
        </div>
      </div>
    </div>
  </section>
</dvt-dashboard>