.home-cover {
    background: url(../img/home-header-bg.png) center top no-repeat #529fa2;
    min-height:15.6rem;
    height: auto;
    background-size: cover;
    clear: both;
    border-top:6px solid #C7E2E3;
    position: relative;
    cursor: pointer;
    .main-title{
      font-weight: 500;
      font-size: 3.8rem;
      width: auto;
      padding-top: 2rem;
      padding-left:1.5rem;
      margin-bottom: 1rem;
      color: $white;
      line-height:3.6rem;
      width: 100%;
      font-family: "Oswald", sans-serif;
      margin-top: 2rem;
    }
    .lead-title{
      font-family: Oswald-Light,sans-serif;
      color: $white;
      padding-top: 0rem;
      padding-left:1.5rem;
      font-size: 2.4rem;
    }
}

/** ICONS */
  .forum-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/forum.png) center top no-repeat;
    background-size: contain;
  }
  .economic-chart-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/economic-chart.png) center top no-repeat;
    background-size: contain;
  }
  .people-group-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/people-group.png) center top no-repeat;
    background-size: contain;
  }
  .culture-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/culture.png) center top no-repeat;
    background-size: contain;
  }
  .dialogue-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/dialogue.png) center top no-repeat;
    background-size: contain;
  }
  .enforcement-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/enforcement.png) center top no-repeat;
    background-size: contain;
  }
  .health-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/health.png) center top no-repeat;
    background-size: contain;
  }
  .national-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/national.png) center top no-repeat;
    background-size: contain;
  }
  .prevention-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/prevention.png) center top no-repeat;
    background-size: contain;
  }
  .regulation-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/regulation.png) center top no-repeat;
    background-size: contain;
  }
  .statistics-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/statistics.png) center top no-repeat;
    background-size: contain;
  }
  .working-conditons-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/working-conditons.png) center top no-repeat;
    background-size: contain;
  }
  .work-accidents-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/work-accidents.png) center top no-repeat;
    background-size: contain;
  }
  .workers-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/workers.png) center top no-repeat;
    background-size: contain;
  }
  .mental-risk-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/mental-risk.png) center top no-repeat;
    background-size: contain;
  }
  .physical-risk-icon{
    background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/physical-risk.png) center top no-repeat;
    background-size: contain;
  }
/** END ICONS **/