<div class="col-md-12 site-map">
    <div class="container site-map">
        <ul>
            <li ng-repeat="level0 in structure">
                <a role="button" ng-if="!level0.levels && level0.id != 'home'" ui-sref='{{ level0.sref }}' data-ng-bind-html="i18n_literals[level0.name]"></a> 
                <a role="button" ng-if="!level0.levels && level0.id == 'home'" ui-sref='{{ level0.sref }}' data-ng-bind-html="level0.name"></a>
                <span ng-if="!!level0.levels && level0.id != 'home'" data-ng-bind-html="i18n_literals[level0.name]"></span>
                <ul ng-if="level0.levels">
                    <li ng-repeat="level1 in level0.levels">
                        <a ng-if="level1.target" data-ng-bind-html="i18n_literals[level1.name]"></a>
                        <a ng-if="level1.sref" ui-sref='{{ level1.sref }}' data-ng-bind-html="i18n_literals[level1.name]"></a>
                    </li>
                </ul>

            <li>
                <a ui-sref="site-map()" data-ng-bind-html="footer.siteMap"></a>
            </li>
            <li>
               <a target="_blank" href="https://osha.europa.eu/en/contact-us" data-ng-bind-html="footer.contact"></a>
            </li>
            <li>
               <a ui-sref='accessibility()' data-ng-bind-html="footer.access"></a>
            </li>
            <li>
               <a ui-sref="privacy-policy()" data-ng-bind-html="footer.privacity"></a>
            </li>
            <li>
               <a ui-sref='legal-notice()' data-ng-bind-html="footer.legal"></a>
            </li>
        </ul>
    </div>
</div>
