<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">        
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22003"></h1>
          <p data-ng-bind="i18nLiterals.L22028"></p>
          <p data-ng-bind="i18nLiterals.L20696"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
      </div>
      <div class="icon--advice economic-chart-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block container">
      <!-- FILTERS -->
      <form class="compare--block--form">
        <ul class="compare--list">
          <!-- 1ST COUNTRY FILTER -->
          <li>
            <label data-ng-bind="i18nLiterals.L20609"></label>
            <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2ND COUNTRY FILTER -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610"></label>
            <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}" ></option>
            </select>
          </li>
        </ul>
      </form>
  </div>

  <div class="line background-main-light"></div>

  <section class="container section--page">
    <div class="card--grid xxs-w1 xs-w2 w3 center-text">
      <!-- CONTENT -->
        <!-- COMPANY SIZE -->
        <div class="card--block--chart">            
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getCompanySizeData" cda="{{::cdaGenericInformation }}"
              width="330" height="400"
              orientation="horizontal" axis-percent="1"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pIndicator','31'],['pCountry1', pCountry1],['pCountry2', pCountry2],['pDataset', datasetEurostat]]"
              color-role="series" colors="[stories[0].color1, stories[0].color2, 
              stories[0].color3, stories[0].color4, stories[0].color5]"
              chart-title="{{i18nLiterals.L288}}" id="1"
              base-axis-label-visible="true"
              axis-label-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="center"
              base-axis-band-size-ratio= "0.9"
              label-text-align="stories[0].labelTextAlign"
              values-visible="true"
              values-overflow="show"
              values-font="14px 'OpenSans-bold'"
              values-mask="{value}%"
              dimensions="stories[0].dimensions"
              legend="true"
              legend-align="center"
              plots="stories[0].plots"
              multiple-label-colors="true"
              leaf-content-overflow='visible'
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- EMPLOYMENT PER SECTOR -->
        <div class="card--block--chart">            
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getEmploymentPerSectorData" cda="{{::cdaGenericInformation }}"
              width="300" height="400"
              orientation="horizontal" axis-percent="1"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pIndicator','32'],['pCountry1', pCountry1],['pCountry2', pCountry2],['pDataset', datasetEurostat]]"
              color-role="series" colors="[stories[1].color1, stories[1].color2, 
              stories[1].color3, stories[1].color4, stories[1].color5, stories[1].color6, stories[1].color7]"
              chart-title="{{i18nLiterals.L289}}" id="2"
              values-normalized="1" stacked="1"
              base-axis-band-size-ratio= "0.40"
              axis-label-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="center"
              legend="true"
              legend-align="left"
              legend-overflow="clip"
              multiple-label-colors="true"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- EMPLOYMENT RATE -->
        <div class="card--block--chart">            
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getEmploymentRateData" cda="{{::cdaGenericInformation }}"
              width="330" height="360" axis-percent="1"
              orientation="horizontal" axis-fixed-min="50"
              axis-fixed-max="100" step="{{step.chart3}}" 
              params="[['pIndicator','33'],['pCountry1', pCountry1],['pCountry2', pCountry2],['pDataset', datasetEurostat]]"
              color-role="category" colors="[stories[2].color3, stories[2].color2, stories[2].color1]"
              chart-title="{{i18nLiterals.L290}}" id="3"
              base-axis-label-visible="true"
              axis-label-font="14px 'OpenSans-bold'"
              base-axis-label-text-baseline="center"
              base-axis-band-size-ratio= "0.5"
              values-visible="true"
              values-overflow="show"
              values-font="14px 'OpenSans-bold'"
              values-mask="{value}%"
              plots="stories[2].plots"
              dimensions="stories[2].dimensions"
              label-text-align="stories[2].labelTextAlign"
              multiple-label-colors="true"
              legend="false"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- UNEMPLOYMENT RATE -->
        <div class="card--block--chart">            
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getUnemploymentRateData" cda="{{::cdaGenericInformation }}"
              width="330" height="360"
              orientation="vertical" axis-percent="1"
              axis-fixed-max="10" step="{{step.chart4}}"
              params="[['pIndicator','34'],['pCountry1', pCountry1],['pCountry2', pCountry2],['pDataset', datasetEurostat]]"
              color-role="category" colors="[stories[3].color1, stories[3].color2, stories[3].color3]"
              chart-title="{{i18nLiterals.L291}}" id="4"
              long-title="{{i18nLiterals.L291}}"
              base-axis-label-visible="true"
              axis-label-font="14px 'OpenSans-bold'"
              base-axis-band-size-ratio= "0.45"
              values-visible="true"
              values-font="14px 'OpenSans-bold'"
              values-mask="{value}%"
              plots="stories[3].plots"
              multiple-label-colors="true"
              dimensions="stories[3].dimensions"
              base-axis-label-text-baseline="top"
              legend="false"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- GDP PER CAPITA IN RELATION TO EU28 AVERAGE -->
        <div class="card--block--chart">            
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getGDPData" cda="{{::cdaGenericInformation }}"
              height="360"
              orientation="vertical"
              axis-fixed-max="260" step="{{step.chart5}}"
              params="[['pIndicator','35'],['pCountry1', pCountry1],['pCountry2', pCountry2],['pDataset', datasetEurostat]]"
              color-role="category" colors="[stories[4].color1, stories[4].color2, stories[4].color3]"
              chart-title="{{i18nLiterals.L292}}" id="5"
              plots="stories[4].plots"
              base-axis-position="top"
              axis-label-font="15px 'OpenSans-bold'"
              values-visible="true"
              values-font="14px 'OpenSans-bold'"
              values-mask="{value}%"
              ortho-axis-visible="false"
              ortho-axis-grid="false"
              hoverable="false"
              multiple-label-colors="true"
              leaf-content-overflow='visible'
              dimensions="stories[4].dimensions"
              base-axis-label-text-baseline="bottom"
              legend="false"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- INCOME PER CAPITA -->
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="getIncomePerCapitaData" cda="{{::cdaGenericInformation }}"
              width="330" height="370" type="lines"
              orientation="vertical" axis-fixed-min="10000"
              axis-fixed-max="30000" step="{{step.chart6}}"
              params="[['pIndicator','36'],['pCountry1', pCountry1],['pCountry2', pCountry2],['pDataset', datasetEurostatBetweenDates]]"
              color-role="series" colors="[stories[5].color1, stories[5].color2, stories[5].color3]"
              chart-title="{{i18nLiterals.L293}}" id="6"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[5].plots"
              dimensions="stories[5].dimensions"
              values-visible="true"
              values-font="14px 'OpenSans-bold'"
              values-mask="{value}€"
              values-anchor="bottom"
              show-euro-mask="true"
              multiple-label-colors="false"
              base-axis-label-text-baseline="top"
              legend="true"
            ></dvt-bar-chart>
          </div>
        </div>

    <!-- END CONTENT -->
    </div>
  </section>
</dvt-dashboard>