

.matrix--elements--wrapper{
  .matrix--element{
    background:$gray-lighter;
    border-radius: 50px 0 50px 0;
    padding: 2rem 5rem; 
    margin: 0 1.5rem 1.5rem 2rem;
    //min-height: 45rem;
    min-height: auto;
    .matrix--header--elements{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      .flags--wrapper{
        margin-right: 1.8rem;
      }
      .title-section{
        margin: 1rem 0;
      }
    }
    .matrix--content--elements{
      samp{
        font-family: "OpenSans";
        font-size:$font-size-body;
        line-height: 1.42857;
      }
      .btn--card {
        margin-top: 1.4rem;
        display: inline-block;
      }
    }
  }
}
.see--more--wrapper{
  text-align: right;
  font-size: 1.4rem;
  .see-more{
    position: relative;
    cursor: pointer;
    &:after{
      content: "\f107";
      display: inline-block;
      font-size:1.8rem !important;
      font-family:'FontAwesome';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      right: -4px;
      top: 4px;
      color: $aquamarine;
    }
  }
  .see-less{
    position: relative;
    cursor: pointer;
    &:after{
      content: "\f106";
      display: inline-block;
      font-size:1.8rem !important;
      font-family:'FontAwesome';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: relative;
      right: -4px;
      top: 4px;
      color: $aquamarine;
    }
  }
}

.selected--tags-wrapper{
  min-height: 0px;
  margin-top: 0rem;
  &:empty{
    display:none;
  } 
  .selected-tag {
    background: $aquamarine;
    font-size: 1.4rem;
    margin: 0.8rem 0rem 0.6rem 0.6rem;
    padding: 2px 18px 2px 5px;
    display: inline-block;
    border-radius: 4px;
    color:$white;
    position: relative;
    &:after{
      content: "\f00d";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      right: 4px;
      font-size: 1rem;
      cursor: pointer;
      &:hover{
        opacity:0.6;
        color: $orange;
      }
    }
  }
}

.economic--sector--profile{
  .card--grid{
    justify-content: center;
    .card--block--chart{
      margin: 1rem;
      position: relative;
      .select-filter-chart-wrapper{
        width: 83%;
        top: 0rem;
        position: relative;
        z-index: 2;
      }
      .select-filter-chart{
        position: relative;
        top: 0.2rem;
        /*
        position: absolute;
        right: 9rem;
        top: 0;
        width: 65%;
        z-index: 10;
        */
        &:after{
          //content: "\f107";
          content: "\f0c9";
          font-family: FontAwesome;
          font-weight: normal;
          font-size: 2rem;
          font-weight: bold;
          //color: $aquamarine;
          right: 0;
          top: 0rem;
          height: auto;
          padding: 1rem;
          position: absolute;
          pointer-events: none;
        }
        select{
          width: 100%;
          margin: 0;
          padding: 1rem 3.5rem 1rem 0;
          border-radius: 4px;
          border: 0px solid #529FA2;
          border-radius: 2rem 0 0;
          color: #529FA2;
          background: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          font-family: "Oswald", sans-serif !important;
          font-size: 1.8rem;
          text-align-last: right;
          text-align:right; 
          &:focus{
            outline:0 !important;
            border:0 !important;
          }
          &:hover{
            cursor: pointer;
          }
          option{
            font-size: 1.6rem;
            font-family: OpenSans;
            color: black !important;
            text-align:right; 
            &:checked {            
              display: none;
            }
          }
        }
        /*
        select{
          width: 100%;
          //margin: 1rem 0 3rem;
          margin: 0;
          padding: 1rem 2rem;
          border-radius: 4px;
          border: 1px solid $aquamarine;
          border-radius: 2rem 0 0;
          color: $aquamarine;
          background: #FFF;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        */
        select::-ms-expand {
            display: none;
        }   
      }
      .with-filter{
        position: relative;
        top: -3rem;
      }
    }
  }
}



@media only screen 
and (max-width : 1024px){
  .economic--sector--profile{
    .card--grid{
      justify-content: space-between;
      .card--block--chart{
        //margin: 1rem;
      }
    }
  }
}

@media only screen 
and (max-width : 767px){
  .selected--tags-wrapper{
    padding: 1rem 2.2rem 0;
  }
}

