<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">        
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h2 class="main-color left-text" data-ng-bind="i18nLiterals.L22003"></h2>
          <p data-ng-bind="i18nLiterals.L22028"></p>
      </div>
      <div class="icon--advice economic-chart-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block container">
      <!-- FILTERS -->
      <form class="compare--block--form">
        <ul class="compare--list">
          <!-- 1ST COUNTRY FILTER -->
          <li>
            <label data-ng-bind="i18nLiterals.L20609"></label>
            <select id="datafor" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="countryChange()">
              <option data-ng-repeat='country in countries' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2ND COUNTRY FILTER -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610"></label>
            <select id="comparewith" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="countryChange()">
              <option data-ng-repeat='country in countries' data-ng-bind="i18nLiterals['L'+country.country]" value="{{::country.country_code}}" ></option>
            </select>
          </li>
        </ul>
      </form>
  </div>

  <div class="line background-main-light"></div>

  <section class="container section--page" ng-controller="EconomicSectorProfileController">
    <div class="card--grid xxs-w1 xs-w2 w3 center-text">
      <!-- CONTENT -->
        <!-- FIRST ROW CHARTS -->
        <div class="card--block--chart">            
            <div class="chart--block">
              <dvt-bar-chart
                data-ng-cloak
                query="getCompanySizeData" cda="{{::cda }}"
                angle="1" width="330" height="330"
                orientation="horizontal"
                axis-fixed-max="3000" step="{{step.chart1}}"
                params="[['pIndicator','12'],['pCountry1', pCountry1],['pCountry2', pCountry2]]"
                color-role="series" colors="[stories[0].color1, stories[0].color2, 
                stories[0].color3, stories[0].color4, stories[0].color5]"
                ortho-axis-title="ortho axis title"
                ortho-axis-title-visible="true"
                title="{{i18nLiterals.L288}}" id="12"
                legend="true"
                disable-max-legend="true"
              ></dvt-bar-chart>
            </div>
            <div class="chart-legend">
              <p data-ng-bind="i18nLiterals.L435"></p>
              <p data-ng-bind="i18nLiterals.L436"></p>
              <p data-ng-bind="i18nLiterals.L437"></p>
              <p data-ng-bind="i18nLiterals.L438"></p>
              <p data-ng-bind="i18nLiterals.L439"></p>
              <!--<p data-ng-bind-html="to_trusted('<p>Max functional legend</p>')"></p>-->
            </div>
        </div>
      
        <div class="card--block--chart">            
            <div class="chart--block">
              <dvt-bar-chart
                data-ng-cloak
                query="getIndicatorDataRegion" cda="{{::cda }}"
                angle="1" width="330" height="330"
                orientation="horizontal"
                axis-fixed-max="3000" step="{{step.chart2}}"
                params="[['pIndicator','12']]"
                color-role="series" colors="stories[1].color"
                ortho-axis-title="ortho axis title"
                ortho-axis-title-visible="true"
                title="{{i18nLiterals.L293}}" id="12"
                long-title="long title"
                max-functional-legend="max functional legend"
                plots="stories[1].plots"
                legend="true"
                disable-max-legend="true"
              ></dvt-bar-chart>
            </div>
            <div class="chart-legend">
              <p data-ng-bind-html="to_trusted('<p>Max functional legend</p>')"></p>
            </div>
        </div>

        <div class="card--block--chart">            
            <div class="chart--block">
              <dvt-bar-chart
                data-ng-cloak
                query="getIndicatorDataRegion" cda="{{::cda }}"
                angle="1" width="330" height="330"
                orientation="horizontal"
                axis-fixed-max="3000" step="{{step.chart3}}"
                params="[['pIndicator','12']]"
                color-role="series" colors="stories[1].color"
                ortho-axis-title="ortho axis title"
                ortho-axis-title-visible="true"
                title="{{i18nLiterals.L294}}" id="12"
                long-title="long title"
                max-functional-legend="max functional legend"
                plots="stories[1].plots"
                legend="true"
                disable-max-legend="true"
              ></dvt-bar-chart>
            </div>
            <div class="chart-legend">
              <p data-ng-bind-html="to_trusted('<p>Max functional legend</p>')"></p>
            </div>
        </div>

        <div class="card--block--chart">            
            <div class="chart--block">
              <dvt-bar-chart
                data-ng-cloak
                query="getIndicatorDataRegion" cda="{{::cda }}"
                angle="1" width="330" height="330"
                orientation="vertical"
                axis-fixed-max="3000" step="{{step.chart4}}"
                params="[['pIndicator','12']]"
                color-role="series" colors="stories[1].color"
                ortho-axis-title="ortho axis title"
                ortho-axis-title-visible="true"
                title="{{i18nLiterals.L295}}" id="12"
                long-title="long title"
                max-functional-legend="max functional legend"
                plots="stories[1].plots"
                legend="true"
                disable-max-legend="true"
              ></dvt-bar-chart>
            </div>
            <div class="chart-legend">
              <p data-ng-bind-html="to_trusted('<p>Max functional legend</p>')"></p>
            </div>
        </div>

    <!-- END CONTENT -->
    </div>
  </section>
</dvt-dashboard>