	@mixin scale-svg($w, $h) {
	  -ms-transform: scale($w, $h);
	  -webkit-transform: scale($w, $h);
	  -moz-transform: scale($w, $h);
	  transform: scale($w, $h);
	}


@media print {
	.menu-tools-top, 
	.bar-main-menu, 
	.icon--card, 
	.btn--block, .btn--card, .btn-default, 
	.block--filter--wrapper, 
	.see-more, .see-less, 
	.social--network--nav, .footer-social-network, 
	.footer-nav-accessibility,
	.chart--submenu, 
	#popUpMessage{
	  display: none !important;
	}
	a[href]:after {
	  content: "";
	}
	.matrix--content--elements{
		 samp{
			display: inline !important;
		}
		.text-part{
			display: block !important;
			page-break-before: auto;
		}	
	}
	.pagination--wrapper{
		page-break-before: auto;
	}


	@page {
   size: auto;
  	margin: 10mm 25mm 25mm 25mm; 
	}
	h2{
		font-size: 2.8rem !important;
		margin: 0 0 1.5rem 0;
	}
	h3{
		font-size: 2.2rem !important;
		margin: 1.2rem 0 1.2rem 0;
		color: $gray !important;
	}
	.container{
		padding: 0;
	}

  /** WIDTH CARDS  **/
    .w2, .w3, .w4, .w4{
      .card--block, .card--block--rounded, .card--block--chart{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
      .card--block--rounded{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
      .card--block--chart{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
    }
  /** END WIDTH CARDS  **/

	.bar-header{
		display: block;
		position: relative !important;
		.header--top{
			display: block;
		}
	} 
	.home-cover{
		border-top: 0px;
		height: auto;
	}
	.advice--block{
		top: 0;
		&.advice--block-not-home{
  		padding: 2rem 1.5rem;
		}
		.title--section{
			font-size: 2.4rem;
			font-family: 'Oswald-light';
			margin: 2rem 0;
			padding: 2rem 8rem;
		  border-top: 1px solid $gray-light;
		  border-bottom: 1px solid $gray-light;
			&:before{
				content:'"';
			}
			&:after{
				content:'"';
			}
		}		
	}

	.title-section{
		margin: 1.5rem 0;
	}
	.section--page {
		padding: 0;
	}
	.selected--tags-wrapper{
		.selected-tag{
			border: 1px solid #666;
		}
	}
	.matrix--elements--wrapper{
		.matrix--element {
			padding: 1rem !important;
			margin: 1rem 0 !important;
		}
	} 
	.economic--sector--profile{
		.card--grid{
			.card--block--chart {
		  	width: 45% !important;
		  	margin: 2rem 2%;
		  	page-break-inside: avoid;
		  	page-break-after: avoid;
		  	display: block !important;
				.title--card {
					min-height: 6rem;
				}
				.chart--wrapper{
				  padding: 0 !important;
				  vertical-align: top;
				  svg{
				  	width: 100% !important;
				  }
				}
			}
		}
		.compare--block{
			.compare--list{
				display: block;
				li{
					width: auto;
					display: inline-block;
					font-size: 1.6rem !important;
					label{
						width: auto;
						font-size: 1.6rem !important;
					}
					select{
						width: auto;
						font-size: 1.6rem !important;
					}
				}
			}
		}
	}

	.workforce--page{
		.filter--indicator--block{
			display: none;
			.indicators--group{

			}
		}
		.survey--map--block{
			display: none;
		}
		.survey--map--block-mobile{
			display: block;
			.matrix--elements--wrapper{
			  margin: 1rem 0;
			 	.matrix--element{
  				padding: 1rem;
  				margin: 0;
					border-radius: 0;
					.matrix--header--elements{
						.flags--wrapper{
							width: 1.5cm;
						}
					}
				  .matrix--elements--data{
						padding: 0;
						margin: 1rem 0;
						display: block;
						min-height: 3cm;
						li{
							display: inline-block;
							width: 19%;
							vertical-align: top;
						}
				  }
			  }
			}
		} 
	}
	.note p {
	  text-align: center;
	  margin: 1rem 0rem;
	}
}

