	@mixin scale-svg($w, $h) {
	  -ms-transform: scale($w, $h);
	  -webkit-transform: scale($w, $h);
	  -moz-transform: scale($w, $h);
	  transform: scale($w, $h);
	}


@media print {
	.menu-tools-top, 
	.bar-main-menu, 
	.icon--card, 
	.btn--block, .btn--card, .btn-default, 
	.block--filter--wrapper, 
	.see-more, .see-less, 
	.social--network--nav, .footer-social-network, 
	.footer-nav-accessibility,
	.chart--submenu, 
	#popUpMessage, 
	.download-pdf, 
	.partial-text {
	  display: none !important;
	}
	.complete-text{
		display: block !important;
	}
	a[href]:after {
	  content: "";
	}
	.matrix--content--elements{
		 samp{
			display: inline !important;
		}
		.text-part{
			display: block !important;
			page-break-before: auto;
		}	
	}
	.pagination--wrapper{
		page-break-before: auto;
	}


	@page {
	  size: auto;
	  margin:2.5cm; 

	}
	html{
		font-size: 8px !important;		
	}
	body{
		padding: 0 !important;
	}
	h2{
		font-size: 2.8rem !important;
		margin: 0 0 1.5rem 0;
	}
	h3{
		font-size: 2.2rem !important;
		margin: 1.2rem 0 1.2rem 0;
		color: $gray !important;
	}
	.container{
		padding: 0;
	}

  /** WIDTH CARDS  **/
    .w2, .w3, .w4, .w4{
      .card--block, .card--block--rounded, .card--block--chart{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
      .card--block--rounded{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
      .card--block--chart{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
    }
  /** END WIDTH CARDS  **/

	.bar-header{
		display: block;
		position: relative !important;
		.header--top{
			display: block;
		}
	} 
	.home-cover{
		border-top: 0px;
		height: auto;
		min-height: auto !important;
	}
	.advice--block{
		top: 0;
		&.advice--block-not-home{
  		padding: 2rem 1.5rem;
		}
		.title--section{
			font-size: 2.4rem;
			font-family: 'Oswald-light';
			margin: 2rem 0;
			padding: 2rem 8rem;
		  border-top: 1px solid $gray-light;
		  border-bottom: 1px solid $gray-light;
			&:before{
				content:'"';
			}
			&:after{
				content:'"';
			}
		}		
	}

	.title-section{
		margin: 1.5rem 0;
	}
	.section--page {
		padding: 0;
	}
	.selected--tags-wrapper{
		.selected-tag{
			border: 1px solid #666;
		}
	}
	.matrix--elements--wrapper{
		.matrix--element {
			padding: 1rem !important;
			margin: 1rem 0 !important;
		}
	} 
	.economic--sector--profile{
		.card--grid{
			.card--block--chart {
		  	width: 42% !important;
		  	margin: 2rem 2%  !important;
		  	page-break-inside: avoid  !important;
		  	page-break-after: avoid  !important;
		  	display: block !important;
				.title--card {
					min-height: 6rem !important;
				}
				.chart--wrapper{
				  padding: 0 !important;
				  vertical-align: top  !important;
				  svg{
				  	width:10cm !important;
				  }
				}
			}
		}
		.compare--block{
			.compare--list{
				display: block;
				li{
					width: auto;
					display: inline-block;
					font-size: 1.6rem !important;
					label{
						width: auto;
						font-size: 1.4rem !important;
					}
					select{
						width: auto;
						font-size: 1.6rem !important;
					}
				}
			}
		}
	}

	.country--profile--page, .regulation {
		.btn--block-full{
			display: none;
		}
		.compare--block{
			.compare--list{
				display: block;
				li{
					width:auto;
					display: inline-block;
					font-size: 1.6rem !important;
					label{
						width: auto;
						font-size: 1.4rem !important;
					}
					select{
						width: auto;
						font-size: 1.6rem !important;
					}
				}
			}
		}
		.column--grid--block{
			flex-wrap: wrap !important;
			.column--item {
			  border-right: 0 !important;
			  padding: 1rem 0 2rem !important;
			  width: 100% !important;
			  .flags--wrapper{
			  	outline: 1px solid #CCC !important;
				  width: 1cm !important;
				  float: left !important;
				  margin-right: 1rem !important;
			  }
			  .complete-text{
			  	display: block !important;
			  }
			  .download-report, .partial-text{
			  	display: none;
			  }
			}
		} 
	}

  .flags--wrapper{
  	outline: 1px solid #CCC !important;
	  width: 1cm !important;
	  float: left !important;
	  margin-right: 1rem !important;
  }

	.workforce--page{
		.filter--indicator--block{
			display: none;
			.indicators--group{

			}
		}
		.survey--map--block{
			display: none;
		}
		.survey--map--block-mobile{
			display: block;
			.matrix--elements--wrapper{
			  margin: 1rem 0;
			 	.matrix--element{
  				padding: 1rem;
  				margin: 0;
					border-radius: 0;
					.matrix--header--elements{
						.flags--wrapper{
							width: 1.5cm;
						}
					}
				  .matrix--elements--data{
						padding: 0;
						margin: 1rem 0;
						display: block;
						min-height: 3cm;
						li{
							display: inline-block;
							width: 19%;
							vertical-align: top;
						}
				  }
			  }
			}
		} 
	}
	.note p {
	  text-align: center;
	  margin: 1rem 0rem;
	}

	.filter--letter--section {
		display: none;
	}
	.alphabetic--card--section{		
		.alphabetic--card--block{
			.alphabetic--card--items{
				.alphabetic-card-item{
					border-radius: 0 !important;
					padding: 0 1rem !important;
					margin: 0 !important;
					width: 20% !important;
					page-break-inside : avoid !important;
					.additional-img{
						img{
							border:1px solid #CCC !important;
							width: 6rem !important;
						}						
					}
					.btn--block-full{
						display: none;
					}
				}
			}
		}
	}   
	.highlited--data--section{
		&.affix{
  		position: initial !important; 
		}
	}
	.social-dialogue{
	  .card--grid{
	    .card--block--chart{
	    	margin: 0 !important; 
	      .chart--block{
	        header{
	          img{
	          	border: 1px solid #ccc !important;
	          	width: 6rem !important;
	          }
	          h2{
	          }      
	        }
	        .highlited-data-list{
	          li{
	            width: 25% !important;
	            text-align: left !important;
	            span{
	              &.country-data{
	                font-size: 1.8rem !important;
	              }
	              &.data-text{
									font-size: 1.8rem !important;
	              }
	            } 
	            label{
								font-family: OpenSans !important;
								padding-bottom: 0 1rem !important;
								font-size: 1.6rem !important;
	            }               
	          }
	        }
	      }
	    }
	  } 
	  .block--filter--wrapper {
	  }
	}


}

