@media (max-width: 1080px) {
  .bar-main-menu{
    #main-menu{
    	padding: 0;
			.nav {
				> li {
					> a{
						padding-left:8px;
						padding-right:8px;
					}
				}
			}
    }
  }
}

/* breakpoint for respopnsive menu  */
@media (max-width: 1180px) {
  .navbar-nav {
    >li {
	    >a {
	        padding-left: 8px;
	        padding-right: 8px;
	    }
    }
  }

	.bar-header {
		.header--top{
			.menu-tools-top{
				li {
					padding-left: 1rem;
				}
			}
		}
	} 
}
@media (max-width: 1023px) {
	.bar-header{
	  z-index: 1;
	  position: relative;
	  display: flex;
	  justify-content: flex-end;
	  flex-direction: row;
		.bar-main-menu {
	    .navbar-header {
	        float: none;
	    }
	    .navbar-left,.navbar-right {
	        float: none !important;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-fixed-top {
	        top: 0;
	        border-width: 0 0 1px;
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin-top: 7.5px;
		    >li {
		        float: none;
			    >a {
			        padding-top: 10px;
			        padding-bottom: 10px;
			    }
		    }
	    }
	    .collapse{
	    	left: -100%;
	    }
	    .collapse.in{
	    }			
		}
		.header--top{
			justify-content: flex-start;
			width: 100%;
			.eu-osha-logo{
				width: auto;
			}
			.menu-tools-top{
				width: auto;
				padding: 1.5rem 0;
				flex-grow: 2;
				float: none;
		    .menu-tools-top--items{
		    	padding: 1.5rem;
		    	margin: 0;
		      .zoom--text{
		        display: none;        
		      }
		      .search--block{
		        .search--form{
		          .form-group {
								width: 100%;
		          }
		          input.form-control {
		            padding-right: 20px;
		          }
		          .form-group:hover,
		          .form-group.hover {
		            //width: 100%;
		            //border-radius: 4px 25px 25px 4px;
		          }
		          span.form-control-feedback {
		          }
		        }       
		      }
		      .print--block{
		        display: none;
		      }
		      #google_translate_element_wrapper{
		      	margin: 0;
		      }
		    }
			}
		}
		.bar-main-menu {
		  display: block;
		  width: auto;
		  padding: 1.5rem 0;
	    margin: 0;
			.navbar-nav{
				  box-shadow: 0 6px 0 0px #f6a400;
					> li{
						padding: 0.5rem 1.5rem;
						&:hover{
							box-shadow: none !important;
					}
					a{
						font-size: 2.2rem !important;
					}						
					ul.dropdown-menu{
						display: none !important;
					}
				}
			}
	    &.exposed{
				display: block;
				width: auto;
				padding: 1.5rem 0;
				margin: 0;
				position: initial;
				left: 0;
				top: 0;
				.collapse{
					&.exposed{
						display: block !important;
						background: #FFF;
						position: absolute;
						width: 100%;
						top: 9rem;
						left: 0;
						transition: 0.6s;
						.navbar-nav{
							li.open{
								box-shadow: none !important;								
								ul.dropdown-menu{
									display: block !important;
									float: none;
									position: relative;
								  box-shadow: none;
								  border: 0;
								  li{
								  	padding: 1rem 0;
								  	a{
								  		font-size: 1.8rem !important;
								  	}
								  }
								}
							}
						}
					}
				}
	    }
		  .navbar-toggle {
		  	margin: 1rem;
		  	.icon-bar {
				  color: $aquamarine;
				  background: $aquamarine;
				  width: 32px;
				  height: 4px;
				  transition: 0.4s;
		  	}
		  	&.exposed{
		      .bar1 {
		        -webkit-transform: rotate(-45deg) translate(-4px, 3px);
		        transform: rotate(-45deg) translate(-4px, 3px);
		      }
		      .bar2 {
		        opacity: 0;
		      }
		      .bar3 {
		        -webkit-transform: rotate(45deg) translate(-8px, -8px);
		        transform: rotate(45deg) translate(-8px, -8px);
		      }
			  }
		  }
		}
	}

	.home-cover{
		top: 0;
	}
}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

}