<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="health-perception-workers">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12 ">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22011"></h1>
          <p data-ng-bind="i18nLiterals.L22052"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
        </div>
        <div class="icon--advice forum-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <div class="highlited--data--section"  bs-affix="" data-offset-top="420">
    <div class="highlited--data--block container">
      <div class="highlited-data-item">
        <div class="flags--wrapper">
          <img  ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::EUData.country_code.toLowerCase()}}.png" width="94px">
        </div>
        <div class="eu-data">
          <h2 class="country ng-binding title-section main-color" data-ng-bind="i18nLiterals['L'+EUData.country_name]"></h2>
          <!--<p class="download-report" ><a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/social-dialogue/pdf/Social_Dialogue_{{EUData.country_code}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20637" target="_blank"></a></p>-->
        </div>
      </div>
      <div class="highlited-data-item">
        <ul class="highlited-data-list">
          <li>
            <span class="country-data" data-ng-bind="EUData.satisfaction_working"></span>
            <span class="data-text">&percnt;</span>
            <label data-ng-bind="i18nLiterals['L314']"></label>
          </li>
          <li>
            <span class="country-data" data-ng-bind="EUData.health_negative"> </span>
            <span class="data-text">&percnt;</span>
            <label data-ng-bind="i18nLiterals['L315']"></label>
          </li>
          <li>
            <span class="country-data" data-ng-bind="EUData.health_problem"></span>
            <span class="data-text">&percnt;</span>
            <label data-ng-bind="i18nLiterals['L316']"></label>
          </li>
          <li>
            <span class="country-data" data-ng-bind="EUData.absence"></span>
            <span class="data-text">&percnt;</span>
            <label data-ng-bind="i18nLiterals['L317']"></label>
          </li>
          <li>
            <span class="country-data" data-ng-bind="EUData.sick_at_work"></span>
            <span class="data-text">&percnt;</span>
            <label data-ng-bind="i18nLiterals['L318']"></label>
          </li>
          <li>
            <span class="country-data" data-ng-bind="EUData.job_till_60"></span>
            <span class="data-text">&percnt;</span>
            <label data-ng-bind="i18nLiterals['L319']"></label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  

  <section class="container ">
    <!-- FILTERS -->
    <form class="row block--filter--wrapper">
      <!-- COUNTRY FILTER -->
      <div id="filter1"class="filter--dropdown--wrapper">
        <!--<label class="main-color  dropdwon-open" data-ng-bind="i18nLiterals.L20630"></label>-->
        <div class="filter--dropdown--list">
          <p class="option-title" data-ng-bind="i18nLiterals.L20630" ng-click="openSelect($event)"></p>
          <ul class="filter--dropdown--options">
            <li data-ng-repeat='country in countries'>
              <input id='country-filter-{{::country.country}}' ng-checked="!!country.param && country.param ==country.country_code"
                data-ng-click="toggleCountryClick($event, $index)" type="checkbox" value="{{::country}}" tabindex="-1" />
              <label for="country-filter-{{::country.country}}" data-ng-bind="(i18nLiterals['L'+country.country])+(' (')+(country.country_code)+(')')"></label>
            </li>
          </ul>
          <!--<p class="btn--block-filter" data-ng-click="openSelect($event)"><a class="btn-main-color btn-full" ng-click="confirmCountrySelection($event)" data-ng-bind="i18nLiterals.L20636"></a></p>-->
        </div>
      </div>  
    </form>

    <div class="container">
      <!-- CONTENT -->
      <div class="selected--tags-wrapper"></div>
      <div class="card--grid xxs-w1 xs-w2 w3 center-text">

        <div class="card--block--chart" data-ng-repeat="matrix in amatrix | limitTo:pageSize:elementsStart">
          <div class="chart--block">
            <header>
              <div class="flags--wrapper" >
                <img  ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::matrix.country_code.toLowerCase()}}.png">
              </div>
              <div class="country-wrapper">
                <h2 class="country ng-binding title-section main-color" data-ng-bind="i18nLiterals['L'+matrix.country_name]"></h2>
                <!--<p class="download-report" ng-if="matrix.country_code != 'IS' && matrix.country_code != 'NO' && matrix.country_code != 'CH'">
                  <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/osh-steering/social-dialogue/pdf/Social_Dialogue_{{i18nLiterals['L'+matrix.country_name]}}.pdf" class="download-pdf" data-ng-bind-html="i18nLiterals.L20637" target="_blank">
                  </a>
                </p>
                <p ng-if="matrix.country_code == 'IS' || matrix.country_code == 'NO' || matrix.country_code == 'CH'"></p>-->
              </div>
            </header>
            <ul class="highlited-data-list">
              <li>                
                <span class="country-data" data-ng-bind="matrix.satisfaction_working != null ? (matrix.satisfaction_working) : '-'"></span>
                <span class="data-text">&percnt;</span>
                <label data-ng-bind="i18nLiterals['L314']"></label>
              </li>
              <li>                
                <span class="country-data" data-ng-bind="matrix.health_negative != null ? (matrix.health_negative) : '-'"> %</span>
                <span class="data-text">&percnt;</span>
                <label data-ng-bind="i18nLiterals['L315']"></label>
              </li>
              <li>                
                <span class="country-data" data-ng-bind="matrix.health_problem != null ? (matrix.health_problem) : '-'"></span>
                <span class="data-text">&percnt;</span>
                <label data-ng-bind="i18nLiterals['L316']"></label>
              </li>
              <li>                
                <span class="country-data" data-ng-bind="matrix.absence != null ? (matrix.absence) : '-'"></span>
                <span class="data-text">&percnt;</span>
                <label data-ng-bind="i18nLiterals['L317']"></label>
              </li>
              <li>                
                <span class="country-data" data-ng-bind="matrix.sick_at_work != null ? (matrix.sick_at_work) : '-'"></span>
                <span class="data-text">&percnt;</span>
                <label data-ng-bind="i18nLiterals['L318']"></label>
              </li>
              <li>                
                <span class="country-data" data-ng-bind="matrix.job_till_60 != null ? (matrix.job_till_60) : '-'"></span>
                <span class="data-text">&percnt;</span>
                <label data-ng-bind="i18nLiterals['L319']"></label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- PAGINATION -->
      <div class="pagination--wrapper" data-ng-if="!!amatrix.length" >
        <div class="pagination--elements">
          <ul class="main-color">
            <li role=button class="arrow firstpage" data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
              <span aria-hidden="currentPage == 0"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </li>
            <li role=button class="arrow previouspage" data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
              <span aria-hidden="currentPage == 0"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </li>
            <li>
              <span>{{currentPage+1}}/{{numberOfPages()}}</span>
            </li>
            <li role=button class="arrow nextpage" data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
              <span aria-hidden="currentPage >= results.length/pageSize - 1"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </li>
            <li role=button class="arrow lastpage" data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
              <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </li>
          </ul>
          <!-- PAGINATION TEXT -->
          <div class="pag-numbers" data-ng-if="!!amatrix.length">
            <span data-ng-bind="paginationText"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</dvt-dashboard>