<section class="container section--page section--methodology">
	<h2 class="accordion-title" ng-click="accordion($event)" data-ng-bind="i18nLiterals.L22101"></h2>

	<div class="accordion-content" data-ng-if="methodologyType==0 || methodologyType==2">
		<div data-ng-repeat="indicator in indicators" data-ng-if="(methodologyType==0 || (methodologyType==2 && group.indexOf(indicator.id)>-1)) && (pDatasetID==undefined || indicator.dataset_id==pDatasetID || pDatasetID=='')">
			<h3 class="accordion-title" ng-click="accordion($event)" data-ng-bind="i18nLiterals['L'+indicator.diagram]"></h3>
			<div  class="accordion-content">
				<!-- Diagram -->
				<h4 data-ng-bind="i18nLiterals.L20720" data-ng-if="i18nLiterals['L'+indicator.diagram] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.diagram]" data-ng-if="i18nLiterals['L'+indicator.diagram] != 'null'"></p>
				<!-- Description -->
				<h4 data-ng-bind="i18nLiterals.L20721" data-ng-if="i18nLiterals['L'+indicator.description] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.description]" data-ng-if="i18nLiterals['L'+indicator.description] != 'null'"></p>
				<!-- Datasource -->
				<h4 data-ng-bind="i18nLiterals.L20722" data-ng-if="indicator.datasource != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.datasource]" data-ng-if="i18nLiterals['L'+indicator.datasource] != 'null'"></p>
				<!-- Specific table / Question -->
				<h4 data-ng-bind="i18nLiterals.L20723" data-ng-if="i18nLiterals['L'+indicator.specific_table] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.specific_table]" data-ng-if="i18nLiterals['L'+indicator.specific_table] != 'null'"></p>
				<!-- URL / Source file -->
				<h4 data-ng-bind="i18nLiterals.L20724" data-ng-if="i18nLiterals['L'+indicator.url] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.url]" data-ng-if="i18nLiterals['L'+indicator.url] != 'null'"></p>
				<!-- Filtering options applied -->
				<h4 data-ng-bind="i18nLiterals.L20728" data-ng-if="i18nLiterals['L'+indicator.options_applied] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.options_applied]" data-ng-if="i18nLiterals['L'+indicator.options_applied] != 'null'"></p>
				<!-- Reference year / period -->
				<h4 data-ng-bind="i18nLiterals.L20725" data-ng-if="i18nLiterals['L'+indicator.reference_year] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.reference_year]" data-ng-if="i18nLiterals['L'+indicator.reference_year] != 'null'"></p>
				<!-- Last update -->
				<h4 data-ng-bind="i18nLiterals.L20726" data-ng-if="i18nLiterals['L'+indicator.last_update] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.last_update]" data-ng-if="i18nLiterals['L'+indicator.last_update] != 'null'"></p>
				<!-- Coverage -->
				<h4 data-ng-bind="i18nLiterals.L20727" data-ng-if="i18nLiterals['L'+indicator.coverage] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.coverage]" data-ng-if="i18nLiterals['L'+indicator.coverage] != 'null'"></p>
				<!-- Unit of measure -->
				<h4 data-ng-bind="i18nLiterals.L20730" data-ng-if="i18nLiterals['L'+indicator.unit_measure] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.unit_measure]" data-ng-if="i18nLiterals['L'+indicator.unit_measure] != 'null'"></p>
				<!-- Calculations on the data source -->
				<h4 data-ng-bind="i18nLiterals.L20729" data-ng-if="i18nLiterals['L'+indicator.calculations] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.calculations]" data-ng-if="i18nLiterals['L'+indicator.calculations] != 'null'"></p>
				<!-- Visualisation -->
				<h4 data-ng-bind="i18nLiterals.L20731" data-ng-if="i18nLiterals['L'+indicator.visualisation] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.visualisation]" data-ng-if="i18nLiterals['L'+indicator.visualisation] != 'null'"></p>
				<!-- Additional comments -->
				<h4 data-ng-bind="i18nLiterals.L20732" data-ng-if="i18nLiterals['L'+indicator.additional_comments] != 'null'"></h4>
				<p data-ng-bind-html="i18nLiterals['L'+indicator.additional_comments]" data-ng-if="i18nLiterals['L'+indicator.additional_comments] != 'null'"></p>
			</div>
		</div>
		<p class="btn--wrapper text-center">
			<a ui-sref="about-tool-detail-page({pSection: father, pSubsection: section.toLowerCase(), pIndicator: pIndicatorID})" class="btn-default btn-main-color text-center" data-ng-bind="i18nLiterals.L22102"></a>
		</p>
	</div>

	<div class="accordion-content" data-ng-if="methodologyType==1">

		<div data-ng-repeat="indicator in indicators" data-ng-if="(pIndicator==undefined || indicator.anchor_text==pIndicator || indicator.anchor_name==pIndicator || (pIndicator=='exposure-to-dangerous-substances' && indicator.anchor_name==pSubIndicator)) && (pDatasetID==undefined || indicator.dataset_id==pDatasetID || pDatasetID=='')">
			<!-- Diagram -->
			<h3 data-ng-bind="i18nLiterals.L20720" data-ng-if="i18nLiterals['L'+indicator.diagram] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.diagram]" data-ng-if="i18nLiterals['L'+indicator.diagram] != 'null'"></p>
			<!-- Description -->
			<h3 data-ng-bind="i18nLiterals.L20721" data-ng-if="i18nLiterals['L'+indicator.description] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.description]" data-ng-if="i18nLiterals['L'+indicator.description] != 'null'"></p>
			<!-- Datasource -->
			<h3 data-ng-bind="i18nLiterals.L20722" data-ng-if="indicator.datasource != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.datasource]" data-ng-if="i18nLiterals['L'+indicator.datasource] != 'null'"></p>
			<!-- Specific table / Question -->
			<h3 data-ng-bind="i18nLiterals.L20723" data-ng-if="i18nLiterals['L'+indicator.specific_table] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.specific_table]" data-ng-if="i18nLiterals['L'+indicator.specific_table] != 'null'"></p>
			<!-- URL / Source file -->
			<h3 data-ng-bind="i18nLiterals.L20724" data-ng-if="i18nLiterals['L'+indicator.url] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.url]" data-ng-if="i18nLiterals['L'+indicator.url] != 'null'"></p>
			<!-- Filtering options applied -->
			<h3 data-ng-bind="i18nLiterals.L20728" data-ng-if="i18nLiterals['L'+indicator.options_applied] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.options_applied]" data-ng-if="i18nLiterals['L'+indicator.options_applied] != 'null'"></p>
			<!-- Reference year / period -->
			<h3 data-ng-bind="i18nLiterals.L20725" data-ng-if="i18nLiterals['L'+indicator.reference_year] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.reference_year]" data-ng-if="i18nLiterals['L'+indicator.reference_year] != 'null'"></p>
			<!-- Last update -->
			<h3 data-ng-bind="i18nLiterals.L20726" data-ng-if="i18nLiterals['L'+indicator.last_update] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.last_update]" data-ng-if="i18nLiterals['L'+indicator.last_update] != 'null'"></p>
			<!-- Coverage -->
			<h3 data-ng-bind="i18nLiterals.L20727" data-ng-if="i18nLiterals['L'+indicator.coverage] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.coverage]" data-ng-if="i18nLiterals['L'+indicator.coverage] != 'null'"></p>
			<!-- Unit of measure -->
			<h3 data-ng-bind="i18nLiterals.L20730" data-ng-if="i18nLiterals['L'+indicator.unit_measure] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.unit_measure]" data-ng-if="i18nLiterals['L'+indicator.unit_measure] != 'null'"></p>
			<!-- Calculations on the data source -->
			<h3 data-ng-bind="i18nLiterals.L20729" data-ng-if="i18nLiterals['L'+indicator.calculations] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.calculations]" data-ng-if="i18nLiterals['L'+indicator.calculations] != 'null'"></p>
			<!-- Visualisation -->
			<h3 data-ng-bind="i18nLiterals.L20731" data-ng-if="i18nLiterals['L'+indicator.visualisation] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.visualisation]" data-ng-if="i18nLiterals['L'+indicator.visualisation] != 'null'"></p>
			<!-- Additional comments -->
			<h3 data-ng-bind="i18nLiterals.L20732" data-ng-if="i18nLiterals['L'+indicator.additional_comments] != 'null'"></h3>
			<p data-ng-bind-html="i18nLiterals['L'+indicator.additional_comments]" data-ng-if="i18nLiterals['L'+indicator.additional_comments] != 'null'"></p>
		</div>
		<p class="btn--wrapper text-center">
			<a ui-sref="about-tool-detail-page({pSection: father, pSubsection: section.toLowerCase(), pIndicator: pIndicatorID})" class="btn-default btn-main-color text-center" data-ng-bind="i18nLiterals.L22102"></a>
		</p>
	</div>
</section>