<div class="range-container col-xs-12 text-center">
    <!--<div class="text-center">-->
        <!--<input id="pyramid-range" type="range" ng-model="dashboard.parameters.pYears" data-ng-change="updatePyramid(dashboard.parameters.pYears)"  min="0" max="{{items.length - 1}}" value={{dashboard.parameters.pYears}}>-->
    <!--</div>-->

    <table class="itemsSlider">
        <tr>
            <td data-ng-repeat="item in items track by $index" data-ng-bind="item" ng-class="$index == rangeSelected? 'range-selected':'asdasdsad'" data-ng-click="dashboard.parameters.pCountry1 = $index; slide(dashboard.parameters.pCountry1)"></td>
            <!--  -->
        </tr>
    </table>
</div>

