<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="physical-risk">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L20711"></h1>
        <p data-ng-bind="i18nLiterals.L20579"></p>
        <span data-ng-bind="i18nLiterals.L20700"></span> <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool-detail-page({pSection: 'osh-outcomes-working-conditions', pSubsection: 'physical_risks', pIndicator: 67})"></a></span>
      </div>
      <div class="icon--advice physical-risk-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper level1">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-click ="openIndicatorsList($event)" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event, indicator.anchor);" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
    <div data-ng-if="pIndicator == 'exposure-to-dangerous-substances'" class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper level2">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in subIndicators" data-ng-click ="openIndicatorsList($event)" data-ng-class="{'active' : indicator.anchor == pSubIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event, pIndicator, indicator.anchor);" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pSubIndicator }" ></a>
        </li>
      </ul>
    </div>
  </div>

  <section class="full-tablet">
    <!-- Vibrations, loud noise and temperature -->
    <div class="compare--block" id="tab1" data-ng-show="pIndicator == 'vibrations-loud-noise-and-temperature'">
      <!-- country selects -->      
      <form class="container compare--block--form">
        <ul class="compare--list">
          <!-- 1st country -->        
          <li>
            <label data-ng-bind="i18nLiterals.L20609" for="datafor-vibrations"></label>
            <select id="datafor-vibrations" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="changeIndicator($event, pIndicator, 'smoke-powder-or-dust', true)">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2nd country -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610" for="comparewith-vibrations"></label>
            <select id="comparewith-vibrations" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="changeIndicator($event, pIndicator, 'smoke-powder-or-dust', true)">
              <option data-ng-if="pCountry2 == 0" data-ng-bind="i18nLiterals.L20630" value="0"></option>
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}" ></option>
            </select>
          </li>
        </ul>
      </form>
      <div class="line background-main-light"></div>

      <div class="container card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-radar-chart
              data-ng-cloak
              promises="stories[0].promises.story1"
              axis-fixed-max="40" step="10"
              width="850" height="400"
              status="vibrations-loud-noise"
              chart-title="{{i18nLiterals.L20654}}"
              id="1" radio="130" values-format="%"
              mesh-size="30" draw-labels="true"
              datasource-and-dates="[datasetEurofound,70]"
              country1="pCountry1" country2="pCountry2">
            </dvt-radar-chart>
            <!--<button class="btn-default btn-main-color" data-ng-click="exportData(stories[0].promises.story1, i18nLiterals.L20654, 1)">Export data</button>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Exposure to dangerous substances -->
    <div class="" id="tab2" data-ng-show="pIndicator == 'exposure-to-dangerous-substances'">
      <div class="line background-main-light"></div>

      <div class="container card--grid xxs-w1 xs-w1 w1 center-text">     
        <div class="card--block--chart" >
          <div class="chart--block" ng-show="pSubIndicator == 'smoke-powder-or-dust'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step}}"
            params="[['pDataset', datasetEurofound], ['pIndicator', 71]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L328}}" id="2"
            axis-label-font="12px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-font="12px 'OpenSans-bold'"
            multiple-label-colors="false"
            base-axis-label-text-baseline="middle"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetEurofound,71]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-show="pSubIndicator == 'vapours'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step}}"
            params="[['pDataset', datasetEurofound], ['pIndicator', 72]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L329}}" id="3"
            axis-label-font="12px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-font="12px 'OpenSans-bold'"
            multiple-label-colors="false"
            base-axis-label-text-baseline="middle"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetEurofound,72]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-show="pSubIndicator == 'chemical-products'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step}}"
            params="[['pDataset', datasetEurofound], ['pIndicator', 73]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L330}}" id="4"
            axis-label-font="12px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-font="12px 'OpenSans-bold'"
            multiple-label-colors="false"
            base-axis-label-text-baseline="middle"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetEurofound,73]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-show="pSubIndicator == 'infectious-materials'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step}}"
            params="[['pDataset', datasetEurofound], ['pIndicator', 74]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L331}}" id="5"
            axis-label-font="12px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-font="12px 'OpenSans-bold'"
            multiple-label-colors="false"
            base-axis-label-text-baseline="middle"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetEurofound,74]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSubIndicator == 'smoke-powder-or-dust'" data-ng-bind="i18nLiterals.L20598"></p>
          <p ng-show="pSubIndicator == 'vapours'" data-ng-bind="i18nLiterals.L20599"></p>
          <p ng-show="pSubIndicator == 'chemical-products'" data-ng-bind="i18nLiterals.L20600"></p>
          <p ng-show="pSubIndicator == 'infectious-materials'" data-ng-bind="i18nLiterals.L20601"></p>
        </div>
      </div>
    </div>

    <!-- Risks involve with work -->
    <div class="compare--block" id="tab3" data-ng-show="pIndicator == 'risks-involve-with-work'">
      <!-- country selects -->
      <form class="container compare--block--form">
        <ul class="compare--list">
          <!-- 1st country -->        
          <li>
            <label data-ng-bind="i18nLiterals.L20609" for="datafor-risks"></label>
            <select id="datafor-risks" class="" ng-model="pCountry1" ng-selected="pCountry1" ng-change="changeIndicator($event, pIndicator, 'smoke-powder-or-dust', true)">
              <option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>
            </select>
          </li>
          <!-- 2nd country -->
          <li>
            <label data-ng-bind="i18nLiterals.L20610" for="comparewith-risks"></label>
            <select id="comparewith-risks" class="" ng-model="pCountry2" ng-selected="pCountry2" ng-change="changeIndicator($event, pIndicator, 'smoke-powder-or-dust', true)">
              <option data-ng-if="pCountry2 == 0" data-ng-bind="i18nLiterals.L20630" value="0"></option>
              <option data-ng-repeat='country in countriesCompareWith' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}" ></option>
            </select>
          </li>
        </ul>
      </form>
      <div class="line background-main-light"></div>

      <div class="container card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <!-- ESENER or Eurofound filter -->
          <div class="select-filter-chart">
            <select ng-model="pFilter" ng-change="changeSplit()">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="ewcs"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pFilter != 'ewcs'">
            <dvt-radar-chart
              data-ng-cloak
              promises="stories[1].promises.story1"
              axis-fixed-max="80" step="20"
              width="850" height="400"
              status="risk-involved-work"
              chart-title="{{i18nLiterals.L20656}}"
              id="6" radio="130" values-format="%"
              mesh-size="30" draw-labels="true"
              datasource-and-dates="[datasetEurofound,90]"
              country1="pCountry1" country2="pCountry2">
            </dvt-radar-chart>
            <!--<button class="btn-default btn-main-color" data-ng-click="exportData(stories[1].promises.story1, i18nLiterals.L20656, 2)">Export data</button>-->
          </div>
          <div class="chart--block" ng-hide="pFilter != 'esener'">
            <dvt-radar-chart
              data-ng-cloak
              promises="stories[1].promises.story2"
              axis-fixed-max="80" step="20"
              width="850" height="400"
              status="older-workers-employment"
              chart-title="{{i18nLiterals.L20656}}"
              id="7" radio="130" values-format="%"
              mesh-size="30" draw-labels="true"
              datasource-and-dates="[datasetESENER,293]"
              country1="pCountry1" country2="pCountry2">
            </dvt-radar-chart>
            <!--<button class="btn-default btn-main-color" data-ng-click="exportData(stories[1].promises.story2, i18nLiterals.L20656, 3)">Export data</button>-->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <section class="container-fluid background-gray section--page explore-section">
    <div class="container">
      <section class="card--grid xxs-w1 w3 center-text">
        <h2 class="title-section second-color"><span  data-ng-bind="i18nLiterals.L20712"></span></h2>
        <div class="card--block--rounded">
          <a class="icon--card overall-opinion-icon" ui-sref="overall-opinion"></a>
          <h3 class="title--card main-color"><a data-ng-bind="i18nLiterals.L20709" ui-sref="overall-opinion"></a></h3>
          <p class="btn--card--block"><a ui-sref="overall-opinion" class="btn--card main-color" data-ng-bind-html="i18nLiterals.L480"></a></p>
        </div>
        <div class="card--block--rounded">
          <a class="icon--card mental-risk-icon" ui-sref="mental-risk"></a>
          <h3 class="title--card main-color"><a ui-sref="mental-risk" data-ng-bind="i18nLiterals.L20710"></a></h3>
          <p class="btn--card--block"><a ui-sref="mental-risk" class="btn--card main-color" data-ng-bind-html="i18nLiterals.L480"></a></p>
        </div>
      </section>
    </div>

  </section>

  <dvt-methodology father="osh-outcomes-working-conditions" section="PHYSICAL_RISKS" indicator="{{pIndicator}}" subindicator="{{pSubIndicator}}" indicatorid="67" datasetid="{{datasetMethodology()}}"></dvt-methodology>
</dvt-dashboard>