
.physical-risk{
	.submenu--block{
		.submenu--items--wrapper{
			li{
			  width: 33%;
			}
		}
	} 
}



@media (max-width: 990px) {

	.physical-risk{
		.compare--block{
			.compare--list{
				li{
					label{
					  font-size: 1.2rem;
					}
					select{
					  font-size: 1.8rem;
					}
				}
			}
		} 
		.submenu--block{
			.submenu--items--wrapper{
				li{
				  width:100%;
				}
			}
		}
	} 
}
