<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="mental-risk">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L20710"></h1>
        <p data-ng-bind="i18nLiterals.L20578"></p>
        <span data-ng-bind="i18nLiterals.L20700"></span> <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
      </div>
      <div class="icon--advice mental-risk-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-repeat="indicator in indicators" data-ng-click ="openIndicatorsList($event)" data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event, indicator.anchor);" data-ng-bind="i18nLiterals['L'+indicator.text]" data-ng-class="{'active' : indicator.anchor == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
  </div>

  <section class="container section--page full-tablet">
    <!-- Time pressure -->
    <div class="" id="tab1" data-ng-show="pIndicator == 'time-pressure'">
      <div class="note">
        <p data-ng-bind="i18nLiterals.L20718"></p>
      </div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pDataset', datasetESENER], ['pIndicator', 113]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{i18nLiterals.L340}}" id="1"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[0].plots"
              values-visible="false"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[0].dimensions"
              legend="true"
              angle="{{angle}}" stacked="1"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetESENER,113]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{timePressureQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart1}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 83]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2, stories[2].color3]"
              chart-title="{{i18nLiterals.L340}}" id="2"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              multiple-label-colors="false"
              leaf-content-overflow='auto'
              values-visible="false"
              legend="true"
              dimensions="stories[2].dimensions"
              angle="{{angle}}" stacked="1"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,83]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20585" ></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20584" ></p>
        </div>
      </div>
    </div>

    <!-- Poor communication -->
    <div class="" id="tab2" data-ng-show="pIndicator == 'poor-communication'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">     
        <div class="card--block--chart" >
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 114]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L341}}" id="3"
            axis-label-font="14px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-font="14px 'OpenSans-bold'"
            multiple-label-colors="false"d
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetESENER,114]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{poorCommunicationQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="{{axisFixedMin}}"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 84]]"
              color-role="c" colors="[stories[1].color1]"
              chart-title="{{i18nLiterals.L341}}" id="4"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[1].plots"
              values-overflow="show"
              dimensions="stories[1].dimensions"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              legend="false" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              legend-item-size="150"
              datasource-and-dates="[datasetEurofound,84]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20587"></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20586"></p>
        </div>
      </div>
    </div>

    <!-- Influence -->
    <div class="" id="tab3" data-ng-show="pIndicator == 'influence'">
      <div class="note">
        <p data-ng-bind="i18nLiterals.L20718"></p>
      </div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 115]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L342}}" id="5"
            axis-label-font="14px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-mask="{value}%"
            values-font="14px 'OpenSans-bold'"
            multiple-label-colors="false"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetESENER,115]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{influenceQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 85]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2, stories[2].color3]"
              chart-title="{{i18nLiterals.L342}}" id="6"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-overflow="show"
              values-mask="{value}%"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='auto'
              dimensions="stories[2].dimensions"
              legend="true" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,85]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20589"></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20588"></p>
        </div>
      </div>
    </div>

    <!-- Job insecurity -->
    <div class="" id="tab4" data-ng-show="pIndicator == 'job-insecurity'">
      <div class="note">
        <p data-ng-bind="i18nLiterals.L20718"></p>
      </div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 116]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L343}}" id="7"
            axis-label-font="14px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-mask="{value}%"
            values-font="14px 'OpenSans-bold'"
            multiple-label-colors="false"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetESENER,116]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{jobInsecurity}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 86]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2, stories[2].color3]"
              chart-title="{{i18nLiterals.L343}}" id="8"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-overflow="show"
              values-mask="{value}%"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='auto'
              dimensions="stories[2].dimensions"
              legend="true" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,86]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20591"></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20590"></p>
        </div>
      </div>
    </div>

    <!-- Difficult clients -->
    <div class="" id="tab5" data-ng-show="pIndicator == 'difficult-clients'">
      <div class="note">
        <p data-ng-bind="i18nLiterals.L20718"></p>
      </div>
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">        
        <div class="card--block--chart">
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 117]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L344}}" id="9"
            axis-label-font="14px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-mask="{value}%"
            values-font="14px 'OpenSans-bold'"
            multiple-label-colors="false"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetESENER,117]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{timePressureQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 87]]"
              color-role="series" colors="[stories[2].color1, stories[2].color2, stories[2].color3]"
              chart-title="{{i18nLiterals.L344}}" id="10"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-overflow="show"
              values-mask="{value}%"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='auto'
              dimensions="stories[2].dimensions"
              legend="true" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,87]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20593"></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20592"></p>
        </div>
      </div>
    </div>

    <!-- Working hours -->
    <div class="" id="tab6" data-ng-show="pIndicator == 'working-hours'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">        
        <div class="card--block--chart">
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 118]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L345}}" id="11"
            axis-label-font="14px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-mask="{value}%"
            values-font="14px 'OpenSans-bold'"
            multiple-label-colors="false"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetESENER,118]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{eurofoundQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 88]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{i18nLiterals.L345}}" id="12"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-overflow="show"
              values-mask="{value}%"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[2].dimensions"
              legend="true" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,88]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20595"></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20594"></p>
        </div>
      </div>
    </div>

    <!-- Discrimination -->
    <div class="" id="tab7" data-ng-show="pIndicator == 'discrimination'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">        
        <div class="card--block--chart">
          <!-- ESENER AND EUROFOUND filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" data-ng-change="changeDataset(pIndicator, pSplit)">
              <option data-ng-bind="i18nLiterals.L20645" value="esener"></option>
              <option data-ng-bind="i18nLiterals.L20646" value="eurofound"></option>
            </select>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'esener'">
            <dvt-bar-chart
            data-ng-cloak
            query="{{query}}" cda="{{::cdaOSHOutcomes }}"
            width="330" height="{{horizontalHeight}}" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="100" step="{{step.chart2}}"
            params="[['pDataset', datasetESENER], ['pIndicator', 119]]"
            color-role="series" colors="[color1, color2]"
            chart-title="{{i18nLiterals.L346}}" id="13"
            axis-label-font="14px 'OpenSans-bold'"
            plots="stories[0].plots"
            values-overflow="show"
            values-mask="{value}%"
            values-font="14px 'OpenSans-bold'"
            multiple-label-colors="false"
            leaf-content-overflow='visible'
            dimensions="stories[0].dimensions"
            legend="true" stacked="1" angle="{{angle}}"
            legend-align="center"
            base-axis-size="{{axisSize}}"
            datasource-and-dates="[datasetESENER,119]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-hide="pSplit != 'eurofound'">
            <dvt-bar-chart
              data-ng-cloak
              query="{{discriminationQuery}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step.chart2}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 89]]"
              color-role="series" colors="[color1, color2]"
              chart-title="{{i18nLiterals.L346}}" id="14"
              axis-label-font="14px 'OpenSans-bold'"
              plots="stories[2].plots"
              values-overflow="show"
              values-mask="{value}%"
              values-font="14px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[2].dimensions"
              legend="true" stacked="1" angle="{{angle}}"
              legend-align="center"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,89]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'esener'" data-ng-bind="i18nLiterals.L20597"></p>
          <p ng-show="pSplit == 'eurofound'" data-ng-bind="i18nLiterals.L20596"></p>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <section class="container-fluid background-gray section--page explore-section">
    <div class="container">
      <section class="card--grid xxs-w1 w3 center-text">
        <h2 class="title-section second-color"><span  data-ng-bind="i18nLiterals.L20712"></span></h2>
        <div class="card--block--rounded">
          <a class="icon--card overall-opinion-icon" ui-sref="overall-opinion"></a>
          <h3 class="title--card main-color"><a data-ng-bind="i18nLiterals.L20709" ui-sref="overall-opinion"></a></h3>
          <p class="btn--card--block"><a ui-sref="overall-opinion" class="btn--card main-color" data-ng-bind-html="i18nLiterals.L480"></a></p>
        </div>
        <div class="card--block--rounded">
          <a class="icon--card physical-risk-icon" ui-sref="physical-risk({pIndicator: 'vibrations-loud-noise-and-temperature', pCountry1:'AT', pCountry2: 'BE'})"></a>
          <h3 class="title--card main-color"><a ui-sref="physical-risk({pIndicator: 'vibrations-loud-noise-and-temperature', pCountry1:'AT', pCountry2: 'BE'})" data-ng-bind="i18nLiterals.L20711"></a></h3>
          <p class="btn--card--block"><a ui-sref="physical-risk({pIndicator: 'vibrations-loud-noise-and-temperature', pCountry1:'AT', pCountry2: 'BE'})" class="btn--card main-color" data-ng-bind-html="i18nLiterals.L480">
          </a></p>
        </div>
      </section>
    </div>
  </section>
</dvt-dashboard>