
.overall-opinion{
	.submenu--block{
		.submenu--items--wrapper{
			justify-content: flex-start;
		}
	} 
	.explore-section{
		.card--grid{
			flex-wrap: nowrap;
		}
	}
	.card--grid{
		margin: 4rem auto;
		.title-section{
			span{
			  padding-left: 12rem;
			  padding-right: 2rem;
			  display: block;
			  text-align: right;
			}
		}
		.card--block--chart{
			position: relative;		  
			.chart--submenu {
			  top: 1rem;
			  right: -1rem;
			}
			.select-filter-chart{
				position: absolute;
				right: 9rem;
				top: 0;
			  width: 15%;
			  z-index: 10;
				&:after{
					content: "\f107";
					font-family: FontAwesome;
					font-weight: normal;
					font-size: 2rem;
					color: $aquamarine;
					right: 0;
					top: 1rem;
					height: auto;
					padding: 1rem;
					position: absolute;
					pointer-events: none;
				}
				select{
					width: 100%;
				  margin: 1rem 0;
				  padding: 1rem 2rem;
				  border-radius: 4px;
				  border: 1px solid $aquamarine;
				  color: $aquamarine;
				  background: #FFF;
				  -webkit-appearance: none;
				  -moz-appearance: none;
				  appearance: none;
				}				
			}
		}
		.card--block--rounded{
			flex-grow: 4;
		}
	} 
}



@media (max-width: 990px) {

	.overall-opinion{
		.compare--block{
			.compare--list{
				li{
					label{
					  font-size: 1.2rem;
					}
					select{
					  font-size: 1.8rem;
					}
				}
			}
		} 
		.submenu--block{
			.submenu--items--wrapper{
				//min-height: 7rem;
				min-height: auto;
				overflow: hidden;
				display: block;
				li{
					width: 100%;
					//padding: 0 0rem 1.5rem 1rem;
					padding: 0;
					display: none;
					position: relative;
					a{
						display: block;
						padding: 1rem 0;
						font-size: 2.4rem;
					}
					&.active{
						display: block;
						a, a:hover, a:visited, a:focus{
							color: $aquamarine;
							border-bottom: 0;
							&:after{
								content: "\f078";
								font: normal normal normal 14px/1 FontAwesome;
								right: 1.5rem;
								top: 1rem;
								padding: 1rem;
								position: absolute;
							}
						}		
					}
				}
				&.open-list{
					li{
						display: block;
						&.active{
							display: block;
							a, a:hover, a:visited, a:focus{
								border-bottom: 0;
								&:after{
									content: "";
								}
							}							
						}
						&:nth-child(1){
							a{
								border-bottom: 0;
								&:after{
									content: "\f077" !important;
									font: normal normal normal 14px/1 FontAwesome;
									right: 1.5rem;
									top: 1rem;
									padding: 1rem;
									position: absolute;
								}
							}
						}
					}
				}
			}
		}	
	}
	.explore-section{
		.title-section{
			width: 100%;
			span{
				text-align: left !important;
				padding: 0 !important;
			}			
		}
		.card--grid{
			flex-wrap: wrap !important;
			margin: 0 !important;
		}
	}
 
}
