<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="overall-opinion">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
        <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L20709"></h1>
        <p data-ng-bind="i18nLiterals.L20577"></p>
        <span data-ng-bind="i18nLiterals.L20701"></span> <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool-detail-page({pSection: 'osh-outcomes-working-conditions', pSubsection: 'overall_opinion', pIndicator: '65'})"></a></span>
      </div>
      <div class="icon--advice overall-opinion-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="compare--block">
    <div class="submenu--block container">
      <label class="submenu-indicator" data-ng-click ="openIndicatorsList()">Select the indicator</label>
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-class="{'active' : 'job-satisfaction' == pIndicator }" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,'job-satisfaction');" data-ng-bind="i18nLiterals.L322" data-ng-class="{'active' : 'job-satisfaction' == pIndicator }" ></a>
        </li>
        <li data-ng-class="{'active' : 'health-at-risk' == pIndicator }" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,'health-at-risk');" data-ng-bind="i18nLiterals.L323" data-ng-class="{'active' : 'health-at-risk' == pIndicator }" ></a>
        </li>
      </ul>
    </div>
    <div class="line background-main-light"></div>
  </div>

  <section class="full-tablet section--page">
    <!-- Job satisfaction -->
    <div class="container" id="tab1" data-ng-show="pIndicator == 'job-satisfaction'">
      <div class="card--grid xxs-w1 xs-w1 w1 center-text">
        <div class="card--block--chart">
          <div class="chart--block">
            <dvt-bar-chart
              data-ng-cloak
              query="{{query}}" cda="{{::cdaOSHOutcomes }}"
              width="330" height="{{horizontalHeight}}" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="100" step="{{step}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 65]]"
              color-role="series" colors="[color1, color2, color3, color4]"
              chart-title="{{i18nLiterals.L322}}" id="1"
              axis-label-font="12px 'OpenSans-bold'"
              plots="stories[0].plots"
              values-visible="false"
              base-axis-label-text-baseline="middle"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              dimensions="stories[0].dimensions"
              legend="true"
              stacked="1" angle="{{angle}}"
              base-axis-size="{{axisSize}}"
              datasource-and-dates="[datasetEurofound,65]"
            ></dvt-bar-chart>
          </div>
        </div>
        <div class="chart-legend">
          <p data-ng-bind="i18nLiterals.L20580"></p>
        </div>
      </div>
    </div>

    <!-- Health at risk -->
    <div class="compare--block" id="tab2" data-ng-show="pIndicator == 'health-at-risk'">
      <!-- country selects -->
      <form class="compare--block--form container">
        <ul class="compare--list">
          <!-- 1ST COUNTRY FILTER -->
          <li>
            <label for="datafor" data-ng-bind="i18nLiterals.L20609"></label>
            <dvt-select id="datafor" data-ng-cloak ng-model="pCountry1" parameter="pCountry1" params="[['pCountry', pCountry2]]"
              listen-to="['pCountry2']" query="getHealthAtRiskCountries" cda="{{::cdaOSHOutcomes }}" placeholder="0" data-ng-change="countryChange()">
            </dvt-select>  
          </li>
          <!-- 2ND COUNTRY FILTER -->
          <li>
            <label for="comparewith" data-ng-bind="i18nLiterals.L20610"></label>
            <dvt-select id="comparewith" data-ng-cloak ng-model="pCountry2" parameter="pCountry2" params="[['pCountry', pCountry1]]"
              listen-to="['pCountry1']" query="getHealthAtRiskCountries" cda="{{::cdaOSHOutcomes }}" 
              placeholder="{{pCountry2=='0'?1:0}}" data-ng-change="countryChange()">
            </dvt-select> 
          </li>
        </ul>
      </form>
      <div class="line background-main-light"></div>

      <div class="container card--grid xxs-w1 xs-w1 w1 center-text">        
        <div class="card--block--chart" >
          <!-- Sector, gender or age filter -->
          <div class="select-filter-chart">
            <select ng-model="pSplit" ng-change="countryChange(true)">
              <option data-ng-bind="i18nLiterals.L20648" value="sector"></option>
              <option data-ng-bind="i18nLiterals.L20649" value="gender"></option>
              <option data-ng-bind="i18nLiterals.L20650" value="age"></option>
            </select>
          </div>
          <div class="chart--block" ng-show="pSplit == 'sector'">
            <dvt-bar-chart
            data-ng-cloak
            query="getHealthAtRiskSectorData" cda="{{::cdaOSHOutcomes }}"
            width="330" height="470" axis-percent="1"
            orientation="{{orientation}}" axis-fixed-min="0"
            axis-fixed-max="40" step="{{step}}"
            params="[['pDataset', datasetEurofound], ['pIndicator', 66], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
            color-role="series" colors="[stories[1].color2, stories[1].color1, stories[1].color3]"
            chart-title="{{i18nLiterals.L323}}" long-title="{{i18nLiterals.L323}} - {{i18nLiterals.L20648}}" id="2"
            axis-label-font="12px 'OpenSans-bold'"
            plots="healthBySector"
            values-visible="true"
            label-text-align="alignment"
            values-overflow="show"
            values-mask="{value}"
            dataset="Eurofound" custom-tooltip="1"
            values-font="12px 'OpenSans-bold'"
            multiple-label-colors="false"
            leaf-content-overflow='visible'
            dimensions="stories[1].dimensions"
            base-axis-label-text-baseline="top"
            legend="true" axis-label-word-break="{{axisWordBreak}}"
            legend-align="center" base-axis-size="{{axisSizeHealth}}"
            datasource-and-dates="[datasetEurofound,66]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-show="pSplit == 'age'">
            <dvt-bar-chart
              data-ng-cloak
              query="getHealthAtRiskAgeData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="470" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="40" step="{{step}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 66], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[1].color2, stories[1].color1, stories[1].color3]"
              chart-title="{{i18nLiterals.L323}}" long-title="{{i18nLiterals.L323}} - {{i18nLiterals.L20650}}" id="3"
              axis-label-font="12px 'OpenSans-bold'"
              plots="healthBySector"
              label-text-align="alignment"
              values-visible="true"
              values-overflow="show"
              values-mask="{value}"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[1].dimensions"
              legend="true" custom-tooltip="1"
              base-axis-label-text-baseline="top"
              legend-align="center"
              base-axis-size="{{axisSizeHealth}}"
              datasource-and-dates="[datasetEurofound,66]"
            ></dvt-bar-chart>
          </div>
          <div class="chart--block" ng-show="pSplit == 'gender'">
            <dvt-bar-chart
              data-ng-cloak
              query="getHealthAtRiskGenderData" cda="{{::cdaOSHOutcomes }}"
              width="330" height="470" axis-percent="1"
              orientation="{{orientation}}" axis-fixed-min="0"
              axis-fixed-max="40" step="{{step}}"
              params="[['pDataset', datasetEurofound], ['pIndicator', 66], ['pCountry1', pCountry1], ['pCountry2', pCountry2]]"
              color-role="series" colors="[stories[2].color2, stories[2].color1, stories[2].color3]"
              chart-title="{{i18nLiterals.L323}}" long-title="{{i18nLiterals.L323}} - {{i18nLiterals.L20649}}" id="4"
              axis-label-font="12px 'OpenSans-bold'"
              plots="healthByGender"
              label-text-align="alignment"
              values-visible="true"
              values-overflow="show"
              values-mask="{value}"
              values-font="12px 'OpenSans-bold'"
              multiple-label-colors="false"
              leaf-content-overflow='visible'
              dimensions="stories[2].dimensions"
              legend="true" base-axis-label-text-baseline="top"
              legend-align="center" custom-tooltip="1"
              base-axis-size="{{axisSizeHealth}}"
              datasource-and-dates="[datasetEurofound,66]"
            ></dvt-bar-chart>
          </div>
        </div>
        <!-- Dynamic chart legend depending on split selected -->
        <div class="chart-legend">
          <p ng-show="pSplit == 'sector'" data-ng-bind="i18nLiterals.L20582"></p>
          <p ng-show="pSplit == 'gender'" data-ng-bind="i18nLiterals.L20581"></p>
          <p ng-show="pSplit == 'age'" data-ng-bind="i18nLiterals.L20583"></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section class="container-fluid background-gray section--page explore-section">
    <div class="container">
      <section class="card--grid xxs-w1 w3 center-text">
        <h2 class="title-section second-color"><span  data-ng-bind="i18nLiterals.L20712"></span></h2>
        <div class="card--block--rounded">
          <a class="icon--card mental-risk-icon" ui-sref="mental-risk"></a>
          <h3 class="title--card main-color"><a ui-sref="mental-risk" data-ng-bind="i18nLiterals.L20710"></a></h3>
          <p class="btn--card--block"><a ui-sref="mental-risk" class="btn--card main-color" data-ng-bind-html="i18nLiterals.L480"></a></p>
        </div>
        <div class="card--block--rounded">
          <a class="icon--card physical-risk-icon" ui-sref="physical-risk-vibrations-loud-noise-and-temperature({pIndicator: 'vibrations-loud-noise-and-temperature', pCountry1:pCountry1, pCountry2: 'BE'})"></a>
          <h3 class="title--card main-color"><a ui-sref="physical-risk-vibrations-loud-noise-and-temperature({pIndicator: 'vibrations-loud-noise-and-temperature', pCountry1:pCountry1, pCountry2: 'BE'})" data-ng-bind="i18nLiterals.L20711"></a></h3>
          <p class="btn--card--block"><a ui-sref="physical-risk-vibrations-loud-noise-and-temperature({pIndicator: 'vibrations-loud-noise-and-temperature', pCountry1:pCountry1, pCountry2: 'BE'})" class="btn--card main-color" data-ng-bind-html="i18nLiterals.L480">
          </a></p>
        </div>
      </section>
    </div>

  </section>
  <dvt-methodology father="osh-outcomes-working-conditions" section="OVERALL_OPINION" indicator="{{pIndicator}}" indicatorid="65"></dvt-methodology>
</dvt-dashboard>