<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="workforce--page">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">        
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22004"></h1>
          <p data-ng-bind="i18nLiterals.L22030"></p>
          <span data-ng-bind="(i18nLiterals.L20696)+(' ')+(i18nLiterals.L20704)"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
      </div>
      <div class="icon--advice people-group-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="filter--indicator--block  container">
      <ul class="indicators--group xs-row">
        <li id="filter1">
          <label for="indicatorSelect" data-ng-bind="i18nLiterals.L20623"></label>
          <select id="indicatorSelect" class="filter--dropdown--list" data-ng-model="selectedIndicator" data-ng-change="selectChange()">
            <option value="median-age" data-ng-bind="i18nLiterals.L294"></option>
            <option value="employment-rate" data-ng-bind="i18nLiterals.L20621"></option>
            <option value="unemployment-rate" data-ng-bind="i18nLiterals.L291"></option>
          </select>
        </li>
        <li id="filter2" data-ng-class="{'disabled':selectedIndicator == 'median-age' || selectedIndicator == 'unemployment-rate'}" >
          <label for="employeeGroupSelect" data-ng-bind="i18nLiterals.L20622"></label>
          <select id="employeeGroupSelect" class="filter--dropdown--list" data-ng-disabled="selectedIndicator == 'median-age' || selectedIndicator== 'unemployment-rate'" data-ng-model="selectedSubIndicator" data-ng-change="selectChange()">  
            <option data-ng-bind="i18nLiterals.L295" value="ageing-workers"></option>
            <option data-ng-repeat='gender in genders' value="{{i18nLiterals['L'+gender.gender_name]}}" data-ng-bind="i18nLiterals['L'+gender.gender_name]"></option>
          </select>
          <label data-ng-if="selectedIndicator == 'median-age'" class="alert-disabled" data-ng-bind="i18nLiterals.L20694"></label>
        </li>
        <!-- COUNTRY FILTER JUST IN < 1024 PX -->
        <li  id="filter3" class="filter--dropdown--wrapper" >
          

            <label for="countrySelect">Country: </label>
            <!--<label class="main-color  dropdwon-open" data-ng-click="openSelect($event)"></label>-->
            <div class="filter--dropdown--list">
              <p class="option-title" data-ng-bind="i18nLiterals.L20630" data-ng-click="openSelect($event)">Country</p>
              <ul class="filter--dropdown--options">
                <li data-ng-repeat='country in countries'>
                  <input id='country-filter-{{::country.country_name}}' ng-checked="!!country.param && country.param ==country.country_code"
                    data-ng-click="toggleCountryClick($event, $index)" type="checkbox" value="{{::country}}"/>
                  <label data-ng-if="country.country_code != 'EU28'" for="country-filter-{{::country.country_name}}" data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country_name])"></label>
                  <label data-ng-if="country.country_code == 'EU28'" for="country-filter-{{::country.country_name}}" data-ng-bind="i18nLiterals['L'+country.country_name]"></label>
                </li>
              </ul>
            </div>
 
        </li>
      </ul>
  </div>

  <div class="line background-main-light"></div>

<section class="container-full nopadding">
  <section class="survey--map--block">
    <div class="map--block center-text container">
      <div class="map--eu--legend">
        <div class="matrix--header--elements">
          <img  class="flags--wrapper" src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/eu28.png">
          <h2 class="country ng-binding title-section main-color">EU28</h2>
        </div>
        <ul class="matrix--elements--data">
          <li>
            <label data-ng-bind="i18nLiterals['L20615']"></label>                
            <span class="data" data-ng-bind="data.medianAge['EU28'].value"></span>
            <span class="data-text" data-ng-bind="i18nLiterals['L20620']"></span>          
          </li>
          <li>
            <label data-ng-bind="i18nLiterals['L20616']"></label>
            <span class="data" data-ng-bind="data.ageingWorkers['EU28'].value"> %</span>
            <span class="data-text">&percnt;</span>
          </li>
          <li>  
            <label data-ng-bind="i18nLiterals['L20619']"></label>
            <span class="data" data-ng-bind="data.femaleEmployment['EU28'].value"></span>
            <span class="data-text">&percnt;</span>
          </li>
          <li>  
            <label data-ng-bind="i18nLiterals['L20618']"></label>
            <span class="data" data-ng-bind="data.maleEmployment['EU28'].value"></span>
            <span class="data-text">&percnt;</span>
          </li>
          <li>
            <label data-ng-bind="i18nLiterals['L20617']"></label>
            <span class="data" data-ng-bind="data.totalEmployment['EU28'].value"></span>
            <span class="data-text">&percnt;</span>
          </li>
          <li>
            <label data-ng-bind="i18nLiterals['L291']"></label>
            <span class="data" data-ng-bind="data.unemploymentRate['EU28'].value"></span>
            <span class="data-text">&percnt;</span>
          </li>
        </ul>
      </div>    
      <!-- CONTENT -->
      <dvt-map ng-cloak
        country-key="EU" promise="dataPromises"
        country="EU" use-viewbox="true" x="0" y="0"
        css-class="dvt--map--block" is-colored="1" hover="true"
        group-list="groupList"
        group-color="groupColor"
        data="data">
      </dvt-map> 
    </div>    
    <!--<div class="map--gauss--block container " data-ng-repeat="value in minMaxValues" >-->
    <div class="map--gauss--block container">
      <dvt-bar-chart
        data-ng-cloak
        query="getGaussChartValues" cda="{{::cdaGenericInformation }}"
        width="200" height="200" type="lines"
        orientation="vertical" axis-fixed-min="0"
        listen-to="[minMaxValues.min_value, minMaxValues.max_value, minMaxValues.range_value]"
        axis-fixed-max="20" step="{{step.chart1}}"
        params="[['pDataset', datasetEurostat], ['pIndicator',pIndicator], ['pSubIndicator',pSubIndicator], 
        ['pMinValue', minMaxValues.min_value], ['pMaxValue', minMaxValues.max_value], ['pRange', minMaxValues.range_value]]"
        color-role="category" colors="[stories[0].color1]" id="5"
        axis-label-font="14px 'OpenSans-bold'"
        plots="stories[0].plots"
        values-visible="false"
        values-font="14px 'OpenSans-bold'"
        hoverable="false"
        ortho-axis-grid="false"
        ortho-axis-visible="false"
        dimensions="stories[0].dimensions"
        multiple-label-colors="true"
        base-axis-label-text-baseline="top"
        axis-color="true"
        panel-color="transparent"
        legend="false"
        is-maximized="true"
        tooltip-enabled="false"
        clickable="false" 
        base-axis-size="25"
      ></dvt-bar-chart> 
    </div>


  </section>
    <section class="survey--map--block-mobile">
      <div class="selected--tags-wrapper"></div>
      <div class="matrix--elements--wrapper">
        <div class="matrix--element" data-ng-repeat="country in matrix">
          <div class="matrix--header--elements">
            <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::country.country_code.toLowerCase()}}.png">
            <h2 class="country ng-binding title-section main-color" data-ng-bind="i18nLiterals['L'+data.medianAge[country.country_code].country_name]"></h2>
          </div>
          <div class="matrix--content--elements"></div>
            <ul class="matrix--elements--data">
              <li>
                <label data-ng-bind="i18nLiterals['L20615']"></label>
                <span class="data" data-ng-bind="data.medianAge[country.country_code].value"></span>
                <span class="data-text" data-ng-bind="i18nLiterals['L20620']"></span>
              </li>
              <li>
                <label data-ng-bind="i18nLiterals['L20616']"></label>
                <span class="data" data-ng-bind="data.ageingWorkers[country.country_code].value"> %</span>
                <span class="data-text">&percnt;</span>
              </li>
              <li>
                <label data-ng-bind="i18nLiterals['L20617']"></label>
                <span class="data" data-ng-bind="data.totalEmployment[country.country_code].value"></span>
                <span class="data-text">&percnt;</span>
              </li>
              <li>                
                <label data-ng-bind="i18nLiterals['L20618']"></label>
                <span class="data" data-ng-bind="data.maleEmployment[country.country_code].value"></span>
                <span class="data-text">&percnt;</span>
              </li>
              <li>                
                <label data-ng-bind="i18nLiterals['L20619']"></label>
                <span class="data" data-ng-bind="data.femaleEmployment[country.country_code].value"></span>
                <span class="data-text">&percnt;</span>
              </li>
              <li>                
                <label data-ng-bind="i18nLiterals['L291']"></label>
                <span class="data" data-ng-bind="data.unemploymentRate[country.country_code].value"></span>
                <span class="data-text">&percnt;</span>
              </li>
            </ul>
        </div>
      </div>      
    </section>
    <!-- END CONTENT -->
</section>

</dvt-dashboard>