<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">        
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22004"></h1>
          <p data-ng-bind="i18nLiterals.L22030"></p>
      </div>
      <div class="icon--advice economic-chart-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="line background-main-light"></div>

  <section class="container section--page" ng-controller="WorkforceProfileController">
    <!-- FILTERS -->
    <form class="row block--filter--wrapper">
      <!-- INDICATOR FILTER -->
      <div id="filter1" class="filter--dropdown--wrapper">
        <label for="indicatorSelect" data-ng-bind="i18nLiterals.L20623"></label>
        <select id="indicatorSelect" class="filter--dropdown--list" data-ng-model="selectedIndicator" data-ng-change="selectChange()">
          <option value="41" data-ng-bind="i18nLiterals.L298">
          </option>
          <option value="L20621" data-ng-bind="i18nLiterals.L20621">
          </option>
        </select>
      </div>
      <!-- EMPLOYEE GROUP FILTER -->
      <div id="filter2"class="filter--dropdown--wrapper">
        <label for="employeeGroupSelect" data-ng-bind="i18nLiterals.L20622"></label>
        <select id="employeeGroupSelect" class="filter--dropdown--list" data-ng-repeat='gender in genders' ng-disabled="selectedIndicator == 41">
          <option data-ng-bind="i18nLiterals.L299" value="42">
          </option>
          <option data-ng-repeat='gender in genders' value="gender.gender_id" data-ng-bind="i18nLiterals['L'+gender.gender_name]">
          </option>
        </select>
      </div>  
    </form>
    <div class="card--grid xxs-w1 xs-w2 w3 center-text">
      <!-- CONTENT -->
      <div class="grey clearfix">
        <!--<dvt-map ng-cloak
          group-key="dashboard.parameters.approach"
          promise="dashboard.promises.promiseShape"
          country="EU" country-key="EU" group-color="dashboard.parameters.pGroupColor"
          zoom-w="600" zoom-h="1000" x="280" y="50"
          height="250" width="600"
          css-class="col-xs-12 col-sm-12 col-md-12 col-lg-12" is-colored="1" hover="true"
          group-list="groupList"
          load-countries="true"
          clickable="1"
          click-action="map.clickAction"
        ></dvt-map>-->
        <dvt-map ng-cloak
          group-key=""
          promise="dashboard.promises.promiseShape"
          country="EU" country-key="EU" group-color=""
          zoom-w="600" zoom-h="1000" x="280" y="50"
          height="250" width="600"
          css-class="col-xs-12 col-sm-12 col-md-12 col-lg-12" is-colored="1" hover="true"
          group-list=""
          load-countries="true"
          clickable="1"
          click-action="map.clickAction"
        ></dvt-map>
      </div>
    <!-- END CONTENT -->
    </div>
  </section>
</dvt-dashboard>