<dvt-dashboard promises="promises" parameters="dashboard.parameters" >

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
    <div class="container horizontal-nopadding">        
      <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22004"></h1>
          <p data-ng-bind="i18nLiterals.L22030"></p>
      </div>
      <div class="icon--advice people-group-icon hide-mobile col-sm-4 col-md-4"></div>
    </div>
  </section>

  <div class="filter--indicator--block container">
      <ul class="indicators--group xs-row">
          <li id="filter1">
            <label for="indicatorSelect" data-ng-bind="i18nLiterals.L20623"></label>
            <select id="indicatorSelect" class="filter--dropdown--list" data-ng-model="selectedIndicator" data-ng-change="selectChange()">
              <option value="median-age" data-ng-bind="i18nLiterals.L294"></option>
              <option value="employment-rate" data-ng-bind="i18nLiterals.L20621"></option>
            </select>
          </li>
          <li id="filter2" data-ng-class="{'disabled':selectedIndicator == 'median-age' }" >
            <label for="employeeGroupSelect" data-ng-bind="i18nLiterals.L20622"></label>
            <select id="employeeGroupSelect" class="filter--dropdown--list" data-ng-disabled="selectedIndicator == 'median-age'" data-ng-model="selectedSubIndicator" data-ng-change="selectChange()">  
              <option data-ng-bind="i18nLiterals.L295" value="ageing-workers"></option>
              <option data-ng-repeat='gender in genders' value="{{i18nLiterals['L'+gender.gender_name]}}" data-ng-bind="i18nLiterals['L'+gender.gender_name]"></option>
            </select>
            <label data-ng-if="selectedIndicator == 'median-age'" class="alert-disabled">(*) Not applied to Median Age</label>
          </li>
      </ul>
  </div>

  <div class="line background-main-light"></div>

<section class="container-full nopadding">
    <section class="survey--map--block hide-mobile">
        <div class="map--block center-text container">
          <!-- CONTENT -->
            <!--<dvt-map ng-cloak
              group-key="dashboard.parameters.approach"
              promise="dashboard.promises.promiseShape"
              country="EU" country-key="EU" group-color="dashboard.parameters.pGroupColor"
              zoom-w="600" zoom-h="1000" x="280" y="50"
              height="250" width="600"
              css-class="col-xs-12 col-sm-12 col-md-12 col-lg-12" is-colored="1" hover="true"
              group-list="groupList"
              load-countries="true"
              clickable="1"
              click-action="map.clickAction"
            ></dvt-map>-->
          <dvt-map ng-cloak
            country-key="EU" promise="promises.promiseShape"
            country="EU" use-viewbox="true" x="0" y="0"
            css-class="dvt--map--block" is-colored="1" hover="true"
            group-list="groupList"
            color-index="{{ :: colorIndex }}"
            background-shape-color="{{ :: backgroundShapeColor }}"
            group-color="groupColor"
            data="data">
          </dvt-map>
        <!-- END CONTENT -->
        </div>     
    </section>

    <section class="survey--map--block-mobile">
      <div class="matrix--elements--wrapper">
        <div class="matrix--element">
          <div class="matrix--header--elements">Belgium</div>
          <div class="matrix--content--elements"></div>
            <ul>
              <li><label>Median age</label><span class="data">42,3 years</span></li>
              <li><label>Employment rate (55 - 64)</label><span class="data">50,5%</span></li>
              <li><label>Employment rate (male)</label><span class="data">71,5%</span></li>
              <li><label>Employment rate (female)</label><span class="data">59,6%</span></li>
            </ul>
        </div>
      </div>      
    </section>
</section>

</dvt-dashboard>