.country-profiles {
  .content-countries-profiles{
    margin-top: 4rem;
    clear: both;
    display: flex;
    flex-wrap: wrap;
  }
  .mapSvg {
    color: #EDA308;
  }
  .ar-item{
    outline: 1px solid #DDDDDD;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
    &:hover{
      background: #f9f9f9;
      -webkit-transition: all 0.8s; /* Safari */
      transition: all 0.8s;
    }
    .resources-item{
      min-height: auto;
      padding: 2rem 3rem;
      text-align: center;
      .additional-title{
        .infographics-teaser-title{
          font-weight: 300;
          color: #00A0A4;
          font-size: 2.8rem;
          text-align: center;
          font-family: "Oswald-light", sans-serif !important;
          a {
            color: #00A0A4 !important;
            margin:auto !important;
            &:hover{
              color: black !important;
              text-decoration: none;
            }
          }
        }
      }
      .additional-img{
        padding: 2rem 0 !important;
      }
      .links {
        clear: both;
        margin:auto;
        padding: 0.2em 0 1em;
        text-align: center;
        a {
          margin-right:1em;
          color:black !important;
          font-family: "oswald";
          font-size: 1.7rem;
          transition:color 0.5s ease-out;
          .fa {
            margin-left:.2em;
            color: #EDA308;
          }
          &:hover {
            color: #b1b3b4 !important;
            text-decoration: none;
            transition:color 0.5s ease-out;
          }
        }
      }
    }
  }
}
