<!-- additional-resources.html -->
<!--<div>Additional resources</div>-->
<!-- <div class="col-xs-12">-->
<div class="homepage container country-profiles">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p data-ng-bind-html="i18nLiterals.L59" class="intro-additional"></p>
        <div class="col-sm-12 row-centered" ng-hide="paginationHidden">
           <ul class="pagination">
                <li role=button data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&laquo;</span>
                </li>
                <li role=button data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&lsaquo;</span>
                </li>
                <li>
                    <span>{{currentPage+1}}/{{numberOfPages()}}</span>
                </li>
                <li role=button data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span aria-hidden="currentPage >= results.length/pageSize - 1">&rsaquo;</span>
                </li>
                <li role=button data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span>&rsaquo;&rsaquo;</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="content-countries-profiles col-xs-12 col-sm-12 col-md-12 col-lg-12 pagination-results">

        <div data-ng-repeat="country in countries | pagination:pageStart| limitTo:pageSize track by $index" ng-include="profilesTemplate" data-ng-controller="CountryProfilesController" ng-class="'col-xs-12  col-sm-6 col-md-4 col-lg-3 ar-item'"></div>
         <i class="mg map-{{country[0].toLowerCase()}} mg-sm-3x mg-md-6x mg-lg-6x mg-xl-6x"></i>
        <div class="col-sm-12" ng-hide="i18n.pagination.items.length>0" data-ng-bind="i18n['no-results']"></div>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="col-sm-12 row-centered" ng-hide="seeAllCountryPolicy">
            <ul class="pagination">
                <li role=button data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&laquo;</span>
                </li>
                <li role=button data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&lsaquo;</span>
                </li>
                <li>
                    <span>{{currentPage+1}}/{{numberOfPages()}}</span>
                </li>
                <li role=button data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span aria-hidden="currentPage >= results.length/pageSize - 1">&rsaquo;</span>
                </li>
                <li role=button data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span>&rsaquo;&rsaquo;</span>
                </li>
            </ul>
        </div>
    </div>
</div>
