<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="osh-authority">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12 ">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L22002"></h1>
          <p data-ng-bind="i18nLiterals.L22025"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span>
          <span ><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool-detail-page({pSection: 'generic-information', pSubsection: 'osh_authorities', pIndicator: '27'})"></a></span>
        </div>
        <div class="icon--advice forum-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <section class="container">
    <!-- FILTERS -->
    <!-- SEARCH FILTER -->
    <form class="row block--filter--wrapper">
      <!-- COUNTRY FILTER -->
      <div id="filter2"class="filter--dropdown--wrapper" tabindex="9">
        <!--<label class="main-color  dropdwon-open"></label>-->
        <div class="filter--dropdown--list">
          <p class="option-title" data-ng-bind="i18nLiterals.L20630" ng-click="openSelect($event)"></p>
          <ul class="filter--dropdown--options">
            <li data-ng-repeat='country in countries'>
              <input id='country-filter-{{::country.country}}' ng-checked="(!!country.param && country.param ==country.country_code) || pCountry == country.country_code"
                data-ng-click="toggleCountryClick($event, $index)" type="checkbox" ng-attr-value="{{::country}}" tabindex="-1" />
              <label data-ng-if="country.country_code != 'EU28'" for="country-filter-{{::country.country}}" data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])"></label>
              <label data-ng-if="country.country_code == 'EU28'" for="country-filter-{{::country.country}}" data-ng-bind="i18nLiterals['L'+country.country]"></label>
            </li>
          </ul>
          <!--<p class="btn--block-filter"><a class="btn-main-color btn-full" ng-click="confirmCountrySelection($event);closeSelect($event)" data-ng-bind="i18nLiterals.L20636"></a></p>-->
        </div>
      </div>  
      <!-- INSTITUTION TYPE FILTER -->
      <div id="filter1" class="filter--dropdown--wrapper" tabindex="8" >
        <!--<label class="main-color dropdwon-open"></label>-->
        <div class="filter--dropdown--list">
          <p class="option-title" ng-click="openSelect($event)">Institution type</p>
          <ul class="filter--dropdown--options">
            <li>
              <input id='institution-filter-1' type="checkbox" ng-click="toggleInstitutionClick($event);openSelect($event)" tabindex="-1"/>
              <label for='institution-filter-1' data-ng-bind="i18nLiterals.L20614"></label>
            </li>
            <li>
              <input id='institution-filter-2' type="checkbox" ng-click="toggleInstitutionClick($event);openSelect($event)" tabindex="-1"/>
              <label for='institution-filter-2' data-ng-bind="i18nLiterals.L20611"></label>
            </li>
            <li>
              <input id='institution-filter-3' type="checkbox" ng-click="toggleInstitutionClick($event);openSelect($event)" tabindex="-1"/>
              <label for='institution-filter-3' data-ng-bind="i18nLiterals.L20612" ></label>
            </li>
            <li>
              <input id='institution-filter-4' type="checkbox" ng-click="toggleInstitutionClick($event);openSelect($event)" tabindex="-1"/>
              <label for='institution-filter-4' data-ng-bind="i18nLiterals.L20613"></label>
            </li>
          </ul>
          <!--<p class="btn--block-filter"><a class="btn-main-color btn-full" ng-click="confirmInstitutionSelection($event);closeSelect($event)" data-ng-bind="i18nLiterals.L20636"></a></p>-->
        </div>
      </div> 
      <!-- SEARCH FILTER -->
      <div class="filter-text">
        <input data-ng-keypress="clickEnter($event)" ng-focus="closeSelect($event)" id="search-input" type="text" ng-attr-placeholder="{{i18nLiterals.L378}}" data-ng-model="searchText" tabindex="7" />
        <button data-ng-click="clickEnter($event)"  id="policy-search" ng-attr-type="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </form>


    <div class="container">
      <!-- CONTENT -->
      <div class="selected--tags-wrapper"> <!--<span class="selected-tag" ng-click="deleteTag($event)">Auth</span><span class="selected-tag">AU</span>--> </div>
      <div class="matrix--elements--wrapper">
        <!-- MATRIX ELEMENTS -->
        <div ng-if="amatrix.length <= 0">
            <span data-ng-bind="i18nLiterals.L20706"></span>
        </div>
        <div data-ng-repeat="matrix in amatrix | limitTo:pageSize:elementsStart" class="matrix--element clearfix">
          <div class="matrix--header--elements">
            <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::matrix.country_code.toLowerCase()}}.png">
            <h2 class="country ng-binding title-section main-color" data-ng-bind="i18nLiterals['L'+matrix.country_name]"></h2>
          </div>

          <div class="matrix--content--elements">
            <h3 class="" ng-if="::matrix.osh_authority==1" data-ng-bind="i18nLiterals.L20614"></h3>
            <h3 class="" ng-if="::matrix.compensation==1" data-ng-bind="i18nLiterals.L20611"></h3>
            <h3 class="" ng-if="::matrix.prevention==1" data-ng-bind="i18nLiterals.L20612"></h3>
            <h3 class="" ng-if="::matrix.standardisation==1" data-ng-bind="i18nLiterals.L20613"></h3>

            <p data-ng-bind-html="i18nLiterals['L'+matrix.name_authority]" class="institution-name"></p>
            <div data-ng-bind-html="i18nLiterals['L'+matrix.link_authority]"></div>
            <!--<div data-ng-bind-html="trimtext(i18nLiterals['L'+matrix.detail_authority], 300)"></div>-->

            <div class="partial-text" data-ng-bind-html="trimtext(i18nLiterals['L'+matrix.detail_authority], 300)"></div>
            <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+matrix.detail_authority]"></div>

            <p data-ng-if="i18nLiterals['L'+matrix.detail_authority].length > 300" class="see--more--wrapper"> 
              <a ng-click='toggleText($event)' data-ng-bind="i18nLiterals.L480" class="see-more main-color"></a>
              <a ng-click='toggleText($event)' data-ng-bind="i18nLiterals.L481" class="see-less main-color" style="display:none"></a>
            </p>

            <div class="">
              <p ><a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/modules/vertical/generic-information/osh-authorities/pdf/OSH authorities - {{i18nLiterals['L'+matrix.country_name]}}.pdf" class="btn--card main-color" title="i18nLiterals.L20563" data-ng-bind-html="i18nLiterals.L20563" target="_blank"></a></p>
              <!--<a href="" data-toggle="modal" data-target="#modalChart" data-ng-click="openModal(matrix)" class="btn--card main-color" title="Country infrastructure" data-ng-bind-html="i18nLiterals.L20563"></a>-->
            </div>
            
          </div>
        </div>
      </div>

      <!-- PAGINATION -->
      <div class="pagination--wrapper" data-ng-if="!!amatrix.length" >
        <div class="pagination--elements">
          <ul class="main-color">
            <li role=button class="arrow firstpage" data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
              <span aria-hidden="currentPage == 0"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </li>
            <li role=button class="arrow previouspage" data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
              <span aria-hidden="currentPage == 0"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </li>
            <li>
              <span>{{currentPage+1}}/{{numberOfPages()}}</span>
            </li>
            <li role=button class="arrow nextpage" data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
              <span aria-hidden="currentPage >= results.length/pageSize - 1"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </li>
            <li role=button class="arrow lastpage" data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
              <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </li>
          </ul>
          <!-- PAGINATION TEXT -->
          <div class="pag-numbers" data-ng-if="!!amatrix.length">
            <span data-ng-bind="paginationText"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalChart" tabindex="-1" role="dialog" aria-labelledby="modalChart" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title text-center"></p>
          </div>
          <div class="modal-body text-center">
              <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/img-not-available.png" alt="Image not available">
          </div>
        </div>
      </div>
    </div>
  </section>

  <dvt-methodology father="generic-information" section="OSH authorities" indicatorid="27"></dvt-methodology>

</dvt-dashboard>