<!--
<div class="intro-country-detail container">
  <p data-ng-bind-html="i18nLiterals.L397" class="intro-additional"></p>
</div>
-->

<section class="container" ng-controller="OSHAuthoritiesController">
  <!-- FILTERS -->
  <!-- SEARCH FILTER -->
  <form class="row block--filter--wrapper">
    <!-- SEARCH FILTER -->
    <div class="filter-text">      
      <input ng-keypress="clickEnter($event)" id="search-input" type="text" placeholder="{{i18nSearchPlaceholder}}" data-ng-model="searchText"/>
      <button data-ng-click="search($event)"  id="policy-search" type="button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <!-- INSTITUTION TYPE FILTER -->
    <div id="filter1" class="filter--dropdown--wrapper">
      <label class="main-color dropdwon-open" data-ng-bind="i18nLiterals.L402" data-ng-click="openSelect($event)" ></label>
      <div class="filter--dropdown--list">
        <p class="option-title" data-ng-click="openSelect($event)">Select a option </p>
        <ul class="filter--dropdown--options">
          <li>
            <input id='institution-filter-1' type="checkbox" data-ng-click="toggleChallengeClick($event, 1)"/>
            <label for='institution-filter-1' data-ng-bind-html="i18nLiterals.L396"></label>
          </li>
          <li>
            <input id='institution-filter-2' type="checkbox" data-ng-click="toggleChallengeClick($event, 2)"/>
            <label for='institution-filter-2' data-ng-bind-html="i18nLiterals.L399"></label>
          </li>
          <li>
            <input id='institution-filter-3' type="checkbox" data-ng-click="toggleChallengeClick($event, 2)"/>
            <label for='institution-filter-3' data-ng-bind-html="i18nLiterals.L400"></label>
          </li>
          <li>
            <input id='institution-filter-4' type="checkbox" data-ng-click="toggleChallengeClick($event, 2)"/>
            <label for='institution-filter-4' data-ng-bind-html="i18nLiterals.L401"></label>
          </li>
        </ul>
        <p class="btn--block-filter" data-ng-click="openSelect($event)"><a class="btn-main-color btn-full" ng-click="confirmSelection($event, 'country')">Confirm</a></p>
      </div>
    </div>
    <!-- COUNTRY FILTER -->
    <div id="filter2"class="filter--dropdown--wrapper">
      <label data-ng-bind="i18nLiterals.L22" class="main-color  dropdwon-open" data-ng-click="openSelect($event)"></label>
      <div class="filter--dropdown--list">
        <p class="option-title" data-ng-click="openSelect($event)">Select a option</p>
        <ul class="filter--dropdown--options">
          <li data-ng-repeat='country in countries'>
            <input id='country-filter-{{::country.country_code}}' ng-checked="!!country.param && country.param ==country.country_code"
              data-ng-click="toggleCountryClick($event, $index)" type="checkbox" value="{{ ::country.country}}"/>
            <label for="country-filter-{{::country.country_code}}" data-ng-bind="::country.country"></label>
          </li>
        </ul>
        <p class="btn--block-filter" data-ng-click="openSelect($event)"><a class="btn-main-color btn-full" ng-click="confirmSelection($event)">Confirm</a></p>
      </div>
    </div>  
  </form>


  <div class="container">
    <!-- CONTENT -->
    <div class="matrix--elements--wrapper">
      <!-- MATRIX ELEMENTS --> 
      <div data-ng-repeat="matrix in amatrix | limitTo:pageSize:elementsStart | filter:searchText" class="matrix--element">
        <div class="matrix--header--elements">
          <div>
            <i class="mg map-{{::matrix.country_code.toLowerCase()}} mg-5x"></i>
          </div>
          <div class="">
              <h3 class="country ng-binding title-section main-color" data-ng-bind="::matrix.country"></h3>
          </div>
        </div>

        <div class="matrix--content--elements">
          <h4 class="" ng-if="::matrix.implementation==1" data-ng-bind-html="i18nLiterals.L67"></h4>
          <h4 class="" ng-if="::matrix.prevention==1" data-ng-bind-html="i18nLiterals.L68"></h4>
          <h4 class="" ng-if="::matrix.tackling==1" data-ng-bind-html="i18nLiterals.L69"></h4>

          <div data-ng-bind-html="i18nLiterals[matrix.objectives]"></div>
          <div data-ng-bind-html="trimtext(i18nLiterals[matrix.detail], 300)"></div>

          <p data-ng-if="i18nLiterals[matrix.detail].length > 300" class="see--more--wrapper"> 
            <a ng-click='toggleText($event)' data-ng-bind="i18n.read" class="see-more main-color"></a>
            <a ng-click='toggleText($event)' data-ng-bind="i18n.less" class="see-less main-color" style="display:none"></a>
          </p>

          <div class="">
            <a ui-sref='home' class="btn--card main-color" title="Country infrastructure" data-ng-bind="i18nLiterals.L403"></a>
          </div>
        </div>

        <hr class="separator-items">
      </div>
    </div>

    <!-- PAGINATION -->
    <div class="pagination--wrapper" data-ng-if="!!amatrix.length" >
      <ul class="pagination--elements main-color">
        <li role=button class="arrow firstpage" data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
          <span aria-hidden="currentPage == 0">&laquo;</span>
        </li>
        <li role=button class="arrow previouspage" data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
          <span aria-hidden="currentPage == 0">&lsaquo;</span>
        </li>

        <!--<li>
          <span>{{currentPage+1}}/{{numberOfPages()}}</span>
        </li>-->
        <li data-ng-repeat="page in pagination()">
          <span data-ng-bind="page+1" data-ng-click="goToPage($index)" ng-class="(currentPage == page)?'active':''"></span>
        </li>

        <li role=button class="arrow nextpage" data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
          <span aria-hidden="currentPage >= results.length/pageSize - 1">&rsaquo;</span>
        </li>
        <li role=button class="arrow lastpage" data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
          <span>&rsaquo;&rsaquo;</span>
        </li>
      </ul>
    </div>
    
  </div>
</section>
