<dvt-dashboard promises="promises" parameters="dashboard.parameters">

  <section data-ng-if="state.current.name != 'home'" id="not-home-cover" class="advice--icon--block advice--block-not-home background-main-light container-fluid section--page">
      <div class="container horizontal-nopadding">
        <div class="left-text col-md-8 col-sm-8 col-xs-12  nopadding">
          <h1 class="main-color left-text" data-ng-bind="i18nLiterals.L20379"></h1>
          <p data-ng-bind-html="i18nLiterals.L20382"></p>
          <span data-ng-bind="i18nLiterals.L20704"></span> <span><a data-ng-bind="i18nLiterals.L20705" ui-sref="about-tool"></a></span>
        </div>
        <div class="icon--advice national-icon hide-mobile col-sm-4 col-md-4"></div>
      </div>
  </section>

  <section class="container">
    <!-- FILTERS -->
    <!-- SEARCH FILTER -->
    <form class="row block--filter--wrapper">
      <!-- SEARCH FILTER -->
      <div class="filter-text">
        <input ng-keypress="clickEnter($event)" ng-focus="closeSelect($event)" id="search-input" type="text" placeholder="{{i18nLiterals.L378}}" data-ng-model="searchText" tabindex="7" />
        <button data-ng-click="clickEnter($event)"  id="policy-search" type="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <!-- CHALLENGE TYPE FILTER -->
      <div id="filter1" class="filter--dropdown--wrapper" tabindex="8">
        <!--<label class="main-color dropdwon-open"></label>-->
        <div class="filter--dropdown--list">
          <p class="option-title" ng-click="openSelect($event)" data-ng-bind="i18nLiterals.L20629"></p>
          <ul class="filter--dropdown--options">
            <li>
              <input id='challenge-filter-1' type="checkbox" ng-click="toggleChallengeClick($event);openSelect($event)" tabindex="-1"/>
              <label for='challenge-filter-1' data-ng-bind="i18nLiterals.L20631"></label>
            </li>
            <li>
              <input id='challenge-filter-2' type="checkbox" ng-click="toggleChallengeClick($event);openSelect($event)" tabindex="-1"/>
              <label for='challenge-filter-2' data-ng-bind="i18nLiterals.L20632"></label>
            </li>
            <li>
              <input id='challenge-filter-3' type="checkbox" ng-click="toggleChallengeClick($event);openSelect($event)" tabindex="-1"/>
              <label for='challenge-filter-3' data-ng-bind="i18nLiterals.L20633"></label>
            </li>
          </ul>
          <!--<p class="btn--block-filter" data-ng-click="openSelect($event)"><a class="btn-main-color btn-full" ng-click="confirmChallengeSelection($event)" data-ng-bind="i18nLiterals.L20636"></a></p>-->
        </div>
      </div>
      <!-- COUNTRY FILTER -->
      <div id="filter2"class="filter--dropdown--wrapper" tabindex="9">
        <!--<label class="main-color dropdwon-open"></label>-->
        <div class="filter--dropdown--list">
          <p class="option-title" data-ng-bind="i18nLiterals.L20630" ng-click="openSelect($event)"></p>
          <ul class="filter--dropdown--options">
            <li data-ng-repeat='country in countries'>
              <input id='country-filter-{{::country.country}}' ng-checked="(!!country.param && country.param ==country.country_code) || pCountry == country.country_code" data-ng-click="toggleCountryClick($event, $index);openSelect($event)" type="checkbox" value="{{::country}}" tabindex="-1"/>
              <label for="country-filter-{{::country.country}}" data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])"></label>
            </li>
          </ul>
          <!--<p class="btn--block-filter" data-ng-click="openSelect($event)"><a class="btn-main-color btn-full" ng-click="confirmCountrySelection($event)" data-ng-bind="i18nLiterals.L20636"></a></p>-->
        </div>
      </div>  
    </form>

    <div class="container">
      <!-- CONTENT -->
      <div class="selected--tags-wrapper"></div>
      <div class="matrix--elements--wrapper">
        <!-- MATRIX ELEMENTS --> 
        <div data-ng-repeat="matrix in amatrix | limitTo:pageSize:elementsStart" class="matrix--element">
          <div class="matrix--header--elements">
            <img  class="flags--wrapper" ng-src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/flag/{{::matrix.country_code.toLowerCase()}}.png">
            <h2 class="country ng-binding title-section main-color" data-ng-bind="i18nLiterals['L'+matrix.country_name]"></h2>
          </div>

          <div class="matrix--content--elements">
            <h3 class="" ng-if="::matrix.implementation_record==1" data-ng-bind="i18nLiterals.L20631"></h3>
            <h3 class="" ng-if="::matrix.prevention_work==1" data-ng-bind="i18nLiterals.L20632"></h3>
            <h3 class="" ng-if="::matrix.tackling_demographic==1" data-ng-bind="i18nLiterals.L20633"></h3>

            <div data-ng-bind-html="i18nLiterals['L'+matrix.objectives]"></div>
            <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+matrix.groups_and_activities], 200)"></div>
            <div class="complete-text" data-ng-bind-html="i18nLiterals['L'+matrix.groups_and_activities]"></div>
            <p data-ng-if="i18nLiterals['L'+matrix.groups_and_activities].length > 200" class="see--more--wrapper"> 
              <a ng-click='toggleText($event)' data-ng-bind="i18nLiterals.L480" class="see-more main-color"></a>
              <a ng-click='toggleText($event)' data-ng-bind="i18nLiterals.L481" class="see-less main-color" style="display:none"></a>
            </p>

            <div class="">
              <a ui-sref="country-profile({pIndicator: 'basic-information', pCountry1:matrix.country_code, pCountry2: 0})" class="btn--card main-color" title="{{i18nLiterals.L20626}}" data-ng-bind-html="i18nLiterals.L20626"></a>
            </div>
          </div>
        </div>
      </div>

      <!-- PAGINATION -->
      <div class="pagination--wrapper" data-ng-if="!!amatrix.length" >
        <div class="pagination--elements">
          <ul class="main-color">
            <li role=button class="arrow firstpage" data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
              <span aria-hidden="currentPage == 0"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </li>
            <li role=button class="arrow previouspage" data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
              <span aria-hidden="currentPage == 0"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </li>
            <li>
              <span>{{currentPage+1}}/{{numberOfPages()}}</span>
            </li>
            <li role=button class="arrow nextpage" data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
              <span aria-hidden="currentPage >= results.length/pageSize - 1"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </li>
            <li role=button class="arrow lastpage" data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
              <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </li>
          </ul>
          <!-- PAGINATION TEXT -->
          <div class="pag-numbers" data-ng-if="!!amatrix.length">
            <span data-ng-bind="paginationText"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</dvt-dashboard>