@media print{
	@page {
	  size: A4;
	  margin: 10mm 10mm; 
	}
	.break-after{
		page-break-after: always !important;
	}
	.break-before{
		page-break-before: always !important;
		height: 0 !important;
	}
	a[target="_blank"], a[target="blank"] {
		margin: 0;
		&:after, &:before{
			content:'';
			width: 0px;
		}
	}
	body.full-country-report{	
		font-family: "Arial" !important;
		top: 20mm !important;
		width: 210mm;
		border: 1px solid #ccc;
		margin: 0 auto;
		font-style: 14px;		
		h1, h2, h3, h4 {
		  font-family: "Arial", sans-serif;
		}
		h1,h2{
			font-size: 2.8rem;
			font-weight: bold;
			color: $eu !important;
		}
		h3{
			font-size: 2.8rem;
			color: $gray !important;
		}
	}
	header.full-country-report{
		display:none;
	}
  .header-logo{
		position: fixed;
		top: 0mm;
		left: 0mm;
		width: 210mm;
		background: #FFF !important;
		z-index: 100;
		picture{			
			display: flex;
			justify-content: space-between;
			//margin-bottom: 20mm;
			img{
				&.osha-logo{
					height: 15mm !important;
				}
				&.european-flag{
					height: 7.5mm !important;
					margin-top: 3.25mm;
				}				
			}
		}    	
  }
	.footer-pdf{
    position: fixed;
    bottom: 0cm;
    left: 0mm;
    font-size: 1rem;
    background: #FFF !important;
    width: 100%;
    z-index: 100;
    display: none;
	}
	.full-country-report-page{
		display: block !important; 
		.chart-data{
			width: 100%;
			margin: 5mm 0mm 10mm;
			border-collapse: collapse;
			font-size:12px;
			color: $gray;
			thead{
				border-bottom:2px solid $gray;
				tr{

				}
				th{
					padding: 0 0.8rem;
    			white-space: nowrap;
    			text-align: center;
					&:nth-child(1){
						width: 65%;
						text-align: right;
					}
				}		
			}
			tbody{
				th{
					border-right:2px solid $gray-light;
					padding: 0.8rem;
    			text-align: center;
					&:nth-child(1){
						width: 65%;
						text-align: right;
					}
				}
				td{
					border-right:2px solid $gray-light;
					padding: 0.8rem;
					white-space: nowrap;
    			text-align: center;
				}
			}
			&.wrap{
				thead{
					th{
						white-space: initial;
					}
				}
			}
			&.w95{
			width: 95%;
			margin: 5mm auto 10mm;
			}
			&.w85{
			width: 85%;
			margin: 5mm auto 10mm;
			}
			&.w75{
			width: 75%;
			margin: 5mm auto 10mm;
			}
			&.w60{
			width: 60%;
			margin: 5mm auto 10mm;
			}
			&.w50{
				width: 50%;
				margin: 5mm auto 10mm;
			}
			&.w40{
				width: 40%;
				margin: 5mm auto 10mm;
			}
			&.w25{
				width: 50%;
				margin: 5mm auto 10mm;
			}
		}
		.index{
			ul.index-list{
				list-style-type: none;
				padding: 0;
				margin: 10mm 20mm;
				li.main-item {
			    font-size: 2.6rem !important;			   
			    display: flex;
			    justify-content: space-between;
			    margin-bottom:10mm;
			    span{
			    	width: 36%;
			    	color: $eu !important;
			    	text-align: right;
			    	display: block;
			    	padding-right:10mm;
			    }
			    ul{
			    	width: 64%;
						list-style-type: none;
						margin: 0;
						li{
					    font-size: 2.2rem !important;
					    color: $gray !important;
					    padding: 0.5rem 0;
			    	}
			    }
			    &:nth-child(1){
			    	ul{
							border-left: 8px solid #dc2f82;
			    	}
			    }
			    &:nth-child(2){
			    	ul{
							border-left: 8px solid #bac9e4;
			    	}
			    }
			    &:nth-child(3){
			    	ul{
							border-left: 8px solid #4065a6;
			    	}
			    }
			    &:nth-child(4){
			    	ul{
							border-left: 8px solid #003366;
			    	}
			    }
			    &:nth-child(5){
			    	ul{
							border-left: 8px solid #58585a;
			    	}
			    }
				}
			}
		}
		section{
			position: relative;
	    top: 0mm;
	    margin: 10mm 10mm 10mm 10mm;
	    padding: 0 0 0mm 0 !important;
	    width: 190mm !important;
	    //min-height: 257mm !important;
	   //page-break-after: always;
			.title-page{
				display: flex;
				margin-bottom: 5mm;
				h2{
					font-size: 3.2rem !important;
					padding: 0 2rem 0 0;
					color: $gray !important;
				}
				h3{
					color: $eu !important;
					font-weight: bold;
					font-size: 3.2rem !important;
	    		margin:0 !important;
				}
			}
			.content-page{
				margin: 0cm auto;
			}
		}
		section.cover-page{
			width: 210mm !important;
			min-height: 257mm !important;
			position: relative;
			top: 0cm;
			margin: 0 !important;
			padding:0 !important;
			page-break-after:always;
			&:after{
				content:'Santiago de Compostela 12, 5th floor - 48003 Bilbao × Spain \A Tel. +34 944 358 400 × Fax +34 944 358 401 information@osha.europa.eu - http://osha.europa.eu';
				white-space: pre;
				display: block;
				position: fixed;
				bottom: 0;
				font-size: 10px;
			}
			.content-cover{
				position: absolute;
				top: 30%;
				right: 0%;
				width: 100%;
				text-align: center;
						h1,h2,h3{
						font-size: 4.8rem !important;
						}
			}
		}
		section.index-page{
			h1{
		    font-size: 3.2rem;
		    margin-bottom: 5mm;
			}
		}
		section.osh-authorities{
			page-break-after: always !important;
			.content-page{
				.osh-authorities-items{
					position: relative;
					//margin-bottom: 4rem;
					page-break-inside: avoid !important;
					//min-height: 20rem;
					//border:1px solid #FFF;
					&:last-child{
						//page-break-before:always !important;
					}
					header{
						display: flex;
						img{
							height: 1cm;
						}
						h2{
							padding: 0.125cm 0 0 0.25cm;
							font-size: 2.2rem !important;
						}
					}
					h3{
						background: $gray-lighter !important;
						color: $eu !important;
						font-size: 2.2rem !important;
		    		font-weight: bold;
		    		padding: 1rem 1rem;
					}
					.institution-name{
						font-weight: bold;
						margin: 2rem 0 1rem;
					}
					.box-rounded{
						background: $aquamarine-lighter-trans !important;
						page-break-inside: avoid !important;
						border-radius: 6rem 0 6rem 0;
				    padding: 1rem 3rem;
				    margin:2rem 0;
				    //min-height: 20rem;
					}
				}
			}
		}
		section.economic-sector-profile{			
			&.indicator1{
				page-break-after: always !important;
				svg{
					height: 3cm !important;
					width: 190mm !important;
				}
			}
			&.indicator2{
				.content-page{
					display: flex;
					justify-content: space-between;
					.chart--block {
					  width: 55mm;
					  .card--block--chart--wrapper{
						  h2{
				  	    min-height: 10rem;
				  	    font-size: 1.8rem;
						  }					  	
					  }
					  svg{
					  	width: 100% !important;
					  	height: 5.48cm !important;
					  }
					}			
				}
			}
		}
		section.workforce-profile{
			page-break-after: always !important;
			.intro-page{
				margin: 0 0 5mm;
			}
			table{
				tr{
					border-bottom: 1px solid $gray-light;
					&:last-child{
						border-bottom: 0;
					}
					td{
						border-right: 1px solid $gray-light;
						padding: 1rem;
						text-align: center;
						span.data{
							font-size: 2.2rem;
							display: block;
							font-weight: bold;
							font-style: italic;
							white-space: nowrap;
					    margin-top: 1.2rem;
						}
					}
				}
			}
		}
		section.national-strategies{
			header{
				display: flex;
				img{
					height: 1cm;
				}
				h2{
					padding: 0.125cm 0 0 0.25cm;
					font-size: 2.2rem !important;
				}
			}
			.intro-page{
				margin: 0 0 5mm;
			}
			h4{
				background: $gray-lighter !important;
				color: $eu !important;
				font-size: 2.2rem !important;
    		font-weight: bold;
    		padding: 1rem 1rem;
			}
			h5{
				font-weight: bold;
			}
			.box-rounded{
				background: $aquamarine-lighter-trans !important;
				page-break-inside: avoid !important;
				border-radius: 6rem 0 6rem 0;
		    padding: 1rem 3rem;
		    margin: 2rem 0;
		    min-height: 20rem;
			}
		}
		section.social-dialogue{
			page-break-after: always !important;
			header{
				display: flex;
				 padding: 4rem 4rem 2rem 4rem;
				img{
					height: 1cm;
				}
				h2{
					padding: 0.125cm 0 0 0.25cm;
					font-size: 2.2rem !important;
				}
			}
			.intro-page{
				margin: 0 0 5mm;
			}
			.content-page{
				display: flex;
					.box-rounded{
						background: $aquamarine-lighter-trans !important;
						page-break-inside: avoid !important;
						border-radius: 6rem 0 6rem 0;
				    margin: 0 2%;
				    min-height: 20rem;
				    width: 46%;
				    ul{
				    	list-style-type: none;
				    	display: flex;
							flex-wrap: wrap;
							padding: 0;
				    	li{
								width: 50%;
								text-align: center;						    
				        padding: 0 1rem;
				        &:nth-child(2n+1){
									border-right: 1px solid $gray;
				        }
								span{
									font-size: 2.8rem;
									display: inline-block;
									font-weight: bold;
								}
								label{
									display: inline-block;
									max-width: 100%;
									margin-bottom: 5px;
									font-weight: normal;
									text-align: center;
								}
				    	}
				    }
					}
			}		
		}
		section.work-accidents{
			page-break-after: always !important;
			.title-page{
				flex-wrap: wrap;
			}
			.box-rounded{
				background: $aquamarine-lighter-trans !important;
				page-break-inside: avoid !important;
				border-radius: 6rem 0 6rem 0;
		    margin: 2rem 0;
    		padding: 4rem;
		  }
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }
		}
		section.health-perception{
			page-break-after: always !important;
			.title-page{
				flex-wrap: wrap;
			}
			header{
				display: flex;
				padding: 4rem 4rem 2rem 4rem;
				img{
					height: 1cm;
				}
				h2{
					padding: 0.125cm 0 0 0.25cm;
					font-size: 2.2rem !important;
				}
			}
			.intro-page{
				margin: 0 0 5mm;
			}
			.content-page{
				display: flex;
				.box-rounded{
					background: $aquamarine-lighter-trans !important;
					page-break-inside: avoid !important;
					border-radius: 6rem 0 6rem 0;
			    margin: 0 2%;
			    min-height: 20rem;
			    width: 46%;
			    ul{
			    	list-style-type: none;
			    	display: flex;
						flex-wrap: wrap;
						padding: 0;
			    	li{
							width: 50%;
							text-align: center;						    
			        padding: 0 1rem;
			        &:nth-child(2n+1){
								border-right: 1px solid $gray;
			        }
							span{
								font-size: 2.8rem;
								display: inline-block;
								font-weight: bold;
							}
							label{
								display: inline-block;
								max-width: 100%;
								margin-bottom: 5px;
								font-weight: normal;
								text-align: center;
							}
			    	}
			    }
				}
			}	
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }		
		}
		section.osh-culture{
			page-break-after: always !important;
			.title-page{
				flex-wrap: wrap;
			}
			.box-rounded{
				background: $aquamarine-lighter-trans !important;
				page-break-inside: avoid !important;
				border-radius: 6rem 0 6rem 0;
		    margin: 2rem 0;
    		padding: 4rem;
    		svg{
    			zoom:1 !important;
    		}
		  }
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }
		}
		section.working-conditions{
			page-break-after: always !important;
			.title-page{
				flex-wrap: wrap;
			}
			.box-rounded{
				background: $aquamarine-lighter-trans !important;
				page-break-inside: avoid !important;
				border-radius: 6rem 0 6rem 0;
		    margin: 2rem 0;
    		padding: 4rem;
		  }
		  .chart-data{
		  	thead{
		  		th{
		  			text-align: center;
		  		}
			  	th:nth-child(1), th:nth-child(4){
						width: 30mm;
						text-align: right;
			  	}		  		
		  	}
		  }
		}
	}
}


