@media print{
	@page {
	  size: A4;
	  margin: 10mm 25mm;
	}
	body.full-country-report{	
		font-family: "Arial" !important;
		top: 20mm !important;
		h1, h2, h3, h4 {
		  font-family: "Arial", sans-serif;
		}
		h1,h2{
			font-size: 2.8rem;
			font-weight: bold;
			color: $eu !important;
		}
		h3{
			font-size: 2.8rem;
			color: $gray !important;
		}
	}
	header.full-country-report{
		display:none;
	}
	.full-country-report-page{
		.chart-data{
			width: 100%;
			margin: 10mm 0mm;
			border-collapse: collapse;
			thead{
				border-bottom:2px solid $gray;
				tr{

				}				
			}
			tbody{
				th{
					border-right:2px solid $gray-light;
					padding: 0.8rem;
					text-align: right;
				}
				td{
					border-right:2px solid $gray-light;
					padding: 0.8rem;
				}
			}
		}
		section{
			position: relative;
			top: 5mm;
			margin: 0 20mm;
			padding: 0 0 10mm 0 !important;
			width: auto !important;
			min-height: 277mm !important;
			page-break-inside: avoid;
			page-break-after:always;
			page-break-before:always;	
	    .header-logo{
				position: fixed;
				top: 0mm;
				left: 0mm;
				width: 100%;
				background: #FFF !important;
				z-index: 100;
				picture{			
					display: flex;
					justify-content: space-between;
					//margin-bottom: 20mm;
					img{
						height: 20mm !important;
					}
				}    	
	    }
			.footer-pdf{
		    position: fixed;
		    bottom: 0cm;
		    left: 0mm;
		    font-size: 1rem;
		    background: #FFF !important;
		    width: 100%;
		    z-index: 100;
			}
			.title-page{
				display: flex;
				h2{
					padding: 0 2rem 0 0;
					color: $gray !important;
				}
				h3{
					color: $eu !important;
					font-weight: bold;
					font-size: 2.6rem !important;
	    		margin: 3px 0 !important;
				}
			}
			.content-page{
				margin: 0cm auto;
			}
		}
		section.cover-page{
			width: 100% !important;
			min-height: 297mm !important;
			position: relative;
			top: 0cm;
			margin: 0 !important;
			padding:0 !important;
			page-break-after:always;
			.content-cover{
				position: absolute;
				top: 30%;
				right: 0%;
				width: 100%;
				text-align: center;
			}
		}
		section.osh-authorities{
			.content-page{
				header{
					display: flex;
					img{
						height: 1cm;
					}
					h2{
						padding: 0.125cm 0 0 0.25cm;
					}
				}
				h3{
					background: $gray-lighter !important;
					color: $eu !important;
					font-size: 2.2rem;
	    		font-weight: bold;
	    		padding: 0.5rem 0;
				}
				.institution-name{
					font-weight: bold;
					margin: 2rem 0 1rem;
				}
				.box-rounded{
					background: $gray-lighter !important;
					border-radius: 6rem 0 6rem 0;
			    padding: 3rem;
    			margin: 0 0 3rem 0;
    			page-break-inside: avoid !important;
				}
			}
		}
		section.economic-sector-profile{
			svg{
				height: 5cm !important;
			}
		}
	}
}