.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


/** HEADER **/
    .bar-header{
      position: fixed;
      z-index: 1001;
      top: 0;
      padding: 0;
      width: 100%;
      background: #FFF;
      box-shadow: 0 0px 2px #ccc;
        .header--top{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .eu.osha-logo{
                justify-items: self-start;
                margin: 0;
                padding: 0 1.5rem;
            }
            .menu-tools-top{
              padding: 1.5rem 1.5rem 0;
              text-align: right;
              justify-items: self-end;
              margin: auto;
              flex-grow: 2;
            li{
                vertical-align: middle;
                  padding-left: 3rem;
                  padding-right: 0;
            }
            .menu-tools-top--items{
                .zoom--text{
                  padding-bottom: 5px;
                  span {
                    display: inline-block;
                    vertical-align: sub;
                    a{
                      display: block;
                      font-weight: bold;
                      cursor: pointer;
                      text-decoration: none;
                      color:$gray-icon;
                      &:hover{
                        text-decoration: none;
                      }
                    }
                    &.a_small a{
                      font-size:1em;
                    }
                    &.a_medium a{
                      font-size: 1.5em;
                    }
                    &.a_big a{
                      font-size:2em;
                    }
                  }         
                }
                .search--block{
                        .search--form{
                            .form-group {
                              width: 40rem;
                              margin: 0;
                              background-color: $white;
                              border:2px solid $gray-icon;
                            }
                            input.form-control {
                              padding-right: 20px;
                              border: 0 none;
                              background: transparent;
                              box-shadow: none;
                              display:block;
                                &::-webkit-input-placeholder {
                                  display: none;
                                }
                                &:-moz-placeholder {
                                  /* Firefox 18- */
                                  display: none;
                                }
                                &::-moz-placeholder {
                                  /* Firefox 19+ */
                                  display: none;
                                }
                                &:-ms-input-placeholder {
                                  display: none;
                                }
                            }
                            .form-group:hover,
                            .form-group.hover {
                              //width: 100%;
                              //border-radius: 4px 25px 25px 4px;
                            }
                            span.form-control-feedback {
                              position: absolute;
                              top: -1px;
                              right: -2px;
                              z-index: 2;
                              display: block;
                              width: 34px;
                              height: 34px;
                              line-height: 34px;
                              text-align: center;
                              color:$gray-base;
                              left: initial;
                              font-size: 14px;
                            }
                        }       
                }
                .print--block{
                    a{
                  cursor: pointer;
                  text-decoration: none;
                  color: $gray-icon;
                  font-size: 2.5rem;
                        &:before{
                        }
                    }
                }
            }
            }
        }
        .bar-main-menu{
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 0 auto;
            z-index: -1;
            min-height: auto !important;
            .navbar-nav{
                > li.dropdown{
                    .fa-caret-down:before{
                        color:$aquamarine;
                    }
                    &:hover{
                        .dropdown-menu{
                            display:block;
                        }
                    }
                    > a{
                        font-family: Oswald,sans-serif;
                        color:$link-menu;
                        font-size:1.8rem;
                        font-weight: 400;
                        padding-top: 0;
                        //padding-bottom:0.8rem;
                        -webkit-transition: all 0.8s ease-out;
                        -moz-transition: all 0.8s ease-out;
                        -o-transition: all 0.8s ease-out;
                        transition: all 0.8s ease-out;
                        .fa-home:before{
                            font-size:18px;
                        }
                        &:hover{
                            color: $aquamarine;
                            background:transparent;
                            -webkit-transition: all 0.8s ease-out;
                            -moz-transition: all 0.8s ease-out;
                            -o-transition: all 0.8s ease-out;
                            transition: all 0.8s ease-out;
                        }
                        .main-menu-selected{
                          color: $aquamarine;
                        }
                    }
                    &.active{
                        //border-bottom: 6px solid $orange;
                        box-shadow: 0 6px 0 0px $orange;
                        a{
                            color: $aquamarine;
                        }                   
                    }
                    &:hover{
                        box-shadow: 0 6px 0 0px $orange;
                        -webkit-transition: all 0.4s ease-out;
                        -moz-transition: all 0.4s ease-out;
                        -o-transition: all 0.4s ease-out;
                        transition: all 0.4s ease-out;

                    }
                    &:nth-child(1){
                        a{
                        //padding-top: 1rem;                  
                        }
                    } 
                    .dropdown-menu{
                        min-width: 100% !important;
                        width: auto !important;
                        font-style: 1.4rem;
                        top:100%;
                        border-top: 6px solid transparent;
                        li{
                            a{
                                font-family: $font-body;
                                font-size:1.4rem;
                                cursor: pointer;
                                &:hover{
                                    color: $aquamarine;
                                }                                
                            }
                        }
                        
                    } 
                }
            };
            .navbar-toggle .icon-bar {
            color: #666;
            background: #666;
            }
        }
    }
/** END HEADER **/


