<header>
    <section class="bar-header container-fluid">
        <div class="header--top">
            <div class="eu-osha-logo">
                <a href="https://osha.europa.eu" role="link" title="{{i18n_literals.L363}}" tabindex="0">
                    <picture>
                      <source 
                        media="(max-width:495px)"
                        srcset="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/EU-OSHA-en-x2.png">
                        <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-barometer/static/custom/img/EU-OSHA-en.png" alt="European Agency for Safety and Health at Work">
                    </picture>
                </a>
            </div>
            <!-- nav tools top -->
            <nav class="menu-tools-top">
                <ul class="menu-tools-top--items list-inline">
                    <li class="search--block">
                        <i class="fa fa-search icon-glass-tablet tablet-show" aria-hidden="true"></i>
                        <form action="" class="search--form">
                            <div class="form-group has-feedback">
                                <label for="search" class="sr-only" data-ng-bind="i18n_literals.L378"></label>
                                <input type="text" class="form-control" name="search" id="search" placeholder="{{i18n_literals.L378}}">
                                <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
                            </div>
                        </form>
                    </li>                
                    <li class="zoom--text">
                        <span class="a_small"><a onclick="zoomSmall()" title="{{i18n_literals.L365}}">a</a></span>
                        <span class="a_medium"><a onclick="zoomMedium()" title="{{i18n_literals.L366}}">a</a></span>
                        <span class="a_big"><a onclick="zoomBig()" title="{{i18n_literals.L367}}">a</a></span>
                    </li>
                    <li class="print--block"><a href="javascript:"  title="{{i18n_literals.L364}}" onclick="window.print()"><i class="fa fa-print" aria-hidden="true"></i><label for="search" class="sr-only" data-ng-bind="i18n_literals.L364"></label></a></li>
                    <li id="google_translate_element_wrapper">
                        <div id="google_translate_element"  title="{{i18n_literals.L368}}"></div>
                        <span class="google_translate_span">(machine translation)</span>
                        <span class="gtranslator-info">Info-icon</span>
                        <div id="gTranslate-modal" class="gtranslator-msg" style="display:none" data-ng-bind-html="i18n_literals.L22081">    
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /. nav tools top -->
        </div>

        <!-- main menu -->
        <nav class="bar-main-menu navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-repeat="level0 in structure">
                        <a ng-if='level0.levels && level0.target' class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" target="_self" aria-expanded="false" tabindex="{{level0.tabindex}}">
                            <span ng-class="isCurrentSection('{{ level0.id }}')" data-ng-bind-html="i18n_literals[level0.name]"></span>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a ng-if='level0.levels && level0.sref' ui-sref= '{{ level0.sref}}'
                           class="dropdown-toggle {{level0.class}}"
                           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" tabindex="{{level0.tabindex}}">
                            <span ng-class="isCurrentStateMenu('{{ level0.id }}')" data-ng-bind-html="i18n_literals[level0.name]"></span>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a ng-if='!level0.levels && level0.sref' ui-sref='{{ level0.sref}}' accesskey="{{level0.accesskey}}" tabindex="{{level0.tabindex}}">
                            <span ng-if="level0.id == 'home'" ng-class="isCurrentStateMenu('{{ level0.id }}')" data-ng-bind-html="level0.name"></span>
                            <span ng-if="level0.id != 'home'" ng-class="isCurrentStateMenu('{{ level0.id }}')" data-ng-bind-html="i18n_literals[level0.name]"></span>
                        </a>
                        <ul class="dropdown-menu" ng-if="level0.levels">
                            <!--
                            <li ng-repeat="level1 in level0.levels">
                                <a ng-if="level1.target" target="{{level1.target}}" id="{{level1.id }}" >
                                    <span ng-class="isCurrentStateMenu('{{ level1.id }}')" data-ng-bind-html="i18n_literals[level1.name]"></span>
                                </a>
                            </li>
                        -->
                            <li ng-repeat="level1 in level0.levels">
                                <a ng-if="level1.sref" ui-sref='{{ level1.sref }}' id='{{ level1.id }}' accesskey="{{level1.accesskey}}">
                                    <span ng-class="isCurrentStateMenu('{{ level1.id }}')" data-ng-bind-html="i18n_literals[level1.name]"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <pre ng-show="false">{{  structure | json }}</pre>
        </nav>
        <!-- /. main menu -->
    </section>
    <section class="home-cover" title="{{i18n_literals.L385}}" data-ng-click="goto('home')" >
      <div class="container">
          <h1 data-ng-if="isHome" class="main-title" data-ng-bind="i18n_literals.L22020"></h1>
          <p data-ng-if="!isHome" class="main-title" data-ng-bind="i18n_literals.L22020"></h1>
          <p class="lead-title" data-ng-bind="i18n_literals.L22024"></p>
      </div>
    </section>

    <section class="breadcrumbs--social--network">
        <div class="breadcrumbs">
            <p class="path" data-ng-bind-html="breadCrumb" id="breadCrumbs"></p>
        </div>
        <div class="social--network--nav" id="osha-menu-social">
            <label data-ng-bind="i18n_literals.L369"></label>
            <ul>
                <li>
                    <a class="main-color" target="_blank" socialshare socialshare-provider="twitter" title ="{{i18n_literals.L370}}" socialshare-text="{{i18n_literals[title]}}" socialshare-url="{{pathURLDVT}}">
                        <i class="fa fa-lg fa-twitter" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n_literals.L369) + (i18n_literals.L370)"></span>
                    </a>
                </li>
                <li>
                    <a class="main-color" target="_blank" socialshare socialshare-provider="facebook" title="{{i18n_literals.L371}}" socialshare-url="{{pathURLDVT}}">
                        <i class="fa fa-lg fa-facebook" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n_literals.L369) + (i18n_literals.L371)"></span>
                    </a>
                </li>
                <li>
                    <a class="main-color" target="_blank" socialshare socialshare-provider="linkedin" title="{{i18n_literals.L372}}" socialshare-url="{{pathURLDVT}}">
                        <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n_literals.L369) + (i18n_literals.L372)"></span>
                    </a>
                </li>
                <!--
                <li>
                    <a class="main-color" target="_blank" title="{{i18n_menu.OSHAGoogle}}" href="{{pathURLDVTGoogle}}">
                        <i class="fa fa-lg fa-google-plus" aria-hidden="true"></i><span class="sr-only" data-ng-bind="i18n_menu.OSHAGoogle"></span>
                    </a>
                </li>
                -->
            </ul>
        </div>
    </section>

    <!--<section data-ng-if="!isHome" id="not-home-cover" class="advice--block advice--block-not-home background-main-light container-fluid section--page">
        <div class="container">
            <h2 class="main-color left-text" data-ng-bind="i18n_literals.L22002"></h2>
            <p data-ng-bind="i18n_literals.L22025"></p>
        </div>
    </section>-->
</header>




        

